<div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <span class="img-logo" *ngIf="baseJson.countryRestriction.logo.is_allow == 1">
            <img src="{{baseJson.countryRestriction.logo.web}}" alt="" class="vive-img">
        </span>

        <button (click)="close()" class="close-btn">
            <img src="assets/arrows_icons/VectorClose.svg" alt="">
        </button>
        <br><br>
        <div class="alt-login-img" *ngIf="baseJson.countryRestriction.warning_icon.is_allow == 1">
            <img src="{{baseJson.countryRestriction.warning_icon.web}}" alt="">
        </div>
        <br>



        <p style="font-size:15px;color: #DEDEDE;"
            *ngIf="baseJson.countryRestriction.description.is_allow == 1">
            {{baseJson.countryRestriction.description.text}}
        </p>


        <!-- <div class="row">
                <div class="col-6">
                    <button type="button"  class="btn-one">Yes</button>
                </div>
                <div class="col-6">
                    <button (click)="close()" type="button" class="btn-one">NO</button>
                </div>
            </div> -->


    </div>
</div>