


.adulttHeading{color: white;font-size: 18px;font-family: var(--theme-font-style) !important;}


.subtitleContent p{
    background-color: grey;
    padding: 9px;
    font-size: 17px;
    text-align: start;
    color: white;
    cursor: pointer;
    img{
        position:absolute;
        right: 8px;
    }
}