<!-- <div>
    <h1 class="mb-0 pb-4" *ngIf="login_first" ><span class="mr-3 arrow-right">
            <img src="assets/svgs/Vector-back.svg" style="cursor: pointer;" class="arr-icon" (click)="back()" alt="vive"
                aria-hidden="false" class="f-size">

        </span>My Account</h1>


    <div class="">
        <div class="content row m-0" *ngIf="login_first">
            <input type="radio" name="slider" [checked]="activeTab === 'home'" id="home" class="disp-none"
                (change)="onTabChange('home')" />
            <input type="radio" name="slider" [checked]="activeTab === 'blog'" id="blog" class="disp-none"
                (change)="onTabChange('blog')" />
            <input type="radio" name="slider" [checked]="activeTab === 'setting'" id="setting" class="disp-none"
                (change)="onTabChange('setting')" />
            <input type="radio" name="slider" [checked]="activeTab === 'code'" id="code" class="disp-none"
                (change)="onTabChange('code')" />
            <input type="radio" name="slider" [checked]="activeTab === 'about'" id="about" class="disp-none"
                (change)="onTabChange('about')" />

            <div class="list">
                <label tabindex="1" for="home" class="home">
                    <div class="asst-aol"></div>
                    <span>Profile</span>

                </label>
                <label tabindex="2" for="blog" class="blog">
                    <div class="asst-aol"></div>
                    <span>Account Management</span>
                </label>

                <label tabindex="3" for="setting" class="setting" *ngIf="isSubscribed">
                    <div class="asst-aol"></div>
                    <span>Settings</span>
                </label>

                <div class="slider"></div>
            </div>

            <div class="text-content">
                <div  *ngIf="activeTab === 'home'" class="home text profile">
                    <div class="profile-section-aol">
                        <app-profile [updationMail]="update_Mail" [isTrue]="val"></app-profile>
                    </div>
                </div>
                <div  *ngIf="activeTab === 'blog'" class="blog text accounts">
                    <input class="radio" id="one" name="group1" type="radio" checked />
                    <input class="radio" id="two" name="group1" type="radio" />


                    <app-delete-account></app-delete-account>
                </div>

                <div *ngIf="activeTab === 'setting'" class="setting text purchase">

                    <app-settings></app-settings>
                </div>
            </div>
        </div>
    </div>

    <div class="login-first" *ngIf="!login_first">
        Please login first !
      </div>

</div> -->


<div class="account-wrapper profile-sec">

    <!-- Left Sidebar Menu -->
    <div fxFlex="20" fxFlex.xs="100" class="left-menu">

        <ul class="mob-flexs">
            <li [class.active]="activeSection === 'account'" (click)="openSection('account')">My Account</li>
            <li [class.active]="activeSection === 'plans'" (click)="openSection('plans')">My Plans</li>
            <li [class.active]="activeSection === 'list'" (click)="openSection('list')">My List</li>
            <li [class.active]="activeSection === 'tv'" (click)="openSection('tv')">Activate My TV</li>
            <li [class.active]="activeSection === 'code'" (click)="openSignoutConfirmationDialog();navigate('logout')">Sign Out</li>
        </ul>
    </div>

    <!-- Right Content -->
    <div fxFlex="80" fxFlex.xs="100" class="right-content">
        <div *ngIf="activeSection === 'account'">
            <div class="inner-tabs">
                <span [class.active]="innerTab === 'profile'" (click)="innerTab='profile'">Profile</span>
                <span [class.active]="innerTab === 'management'" (click)="innerTab='management'">Account
                    Management</span>
                <span *ngIf="isSubscribed" [class.active]="innerTab === 'settings'"
                    (click)="innerTab='settings'">Settings</span>
            </div>

            <div class="tab-content">
                <div *ngIf="innerTab === 'profile'">
                    <app-profile [updationMail]="update_Mail" [isTrue]="val" customContext="accountPage"></app-profile>
                </div>
                <div *ngIf="innerTab === 'management'">
                    <app-delete-account (backToProfile)="innerTab = 'profile'"></app-delete-account>
                </div>
                <div *ngIf="innerTab === 'settings'">
                    <app-settings></app-settings>
                </div>
            </div>
        </div>

        <!-- ================= My Plans ================== -->
        <div *ngIf="activeSection === 'plans'">
            <app-my-subscription customContext="accountPage"></app-my-subscription>
        </div>

        <!-- ================= My List ================== -->
        <div *ngIf="activeSection === 'list'">
            <app-watchlist customContext="accountPage"></app-watchlist>
        </div>

        <!-- ================= Activate TV ================== -->
        <div *ngIf="activeSection === 'tv'">
            <app-activation customContext="accountPage"></app-activation>
        </div>
    </div>
</div>



<ng-template #signoutConfirmationModal>
    <div class="modal-container">
        <div fxLayout="column" fxLayoutGap="50px">
            <div class="parental-control-content">
                <span class="img-logo">
                    <img [src]="baseJson.logout.logo.web" alt="" class="vive-img">
                </span>
                <div class="log-out-mdl">
                    <p style="color:white;font-size:16px; margin: 0;"
                        *ngIf="baseJson.logout.description.is_allow == 1">{{baseJson.logout.description.text}} </p>
                    <br>
                    <div class="row-aol">
                        <div class="yes-btn">
                            <button type="button" class="btn-two" (click)="logout()"
                                *ngIf="baseJson.logout.yes_btn.is_allow == 1">{{baseJson.logout.yes_btn.text}}</button>
                        </div>
                        <div class="no-btn">
                            <button type="button" class="btn-one" (click)="signoutConfirmationclose()"
                                *ngIf="baseJson.logout.no_btn.is_allow == 1">{{baseJson.logout.no_btn.text}}</button>
                        </div>
                    </div>
                    <button (click)="close()" class="close-btn">
                        <img src="assets/arrows_icons/VectorClose.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>