<div>
    <div style="color: white;font-weight:600" *ngIf="baseLine.profileMobileVerify.description.is_allow == 1">
        {{baseLine.profileMobileVerify.description.text}} <br> XXXXXX{{userMobile}}</div><br>
    <ng-otp-input class="otp-dialog" *ngIf="showOtp"  #ngOtpInput [formCtrl]="otpInput" (onInputChange)="onOtpChange($event ,'otp')" [config]="config"
         (keyup.enter)="onVerifyOtp()" type="tel" inputmode="numeric" pattern="[0-9]*">
    </ng-otp-input>
    <mat-error *ngIf="show && !otpInput.valid " class="mt-2" style="text-align:center !important;">OTP is required
    </mat-error>
    <mat-error *ngIf="otpExceeded"
        style="text-align:center !important; margin-top: 20px !important; font-size: 14px !important; ">
        {{errorMsg.messageOtpResendLimitReached}}
    </mat-error>
    <br>
    <br>
    <div *ngIf="timerHide" style="color: #FFFFFF;font-size: 12px;font-weight:600">OTP will expire in {{display}} minutes
    </div><br>
    <div class="otpResend"> <button *ngIf="baseLine.profileMobileVerify.resent_text.is_allow == 1" style="border: none;
        background-color: transparent;" [disabled]="clicked"   >
            {{baseLine.profileMobileVerify.resent_text.text}}</button> <button
            *ngIf="baseLine.profileMobileVerify.resent_btn.is_allow == 1" [disabled]="clicked || timerHide"
    [ngClass]="{'disabled-resend': clicked || timerHide}" (click)="resendOtp()"
            class="insideBtn" style="cursor:pointer">{{baseLine.profileMobileVerify.resent_btn.text}}</button></div>

    <div class="alt-m-4">
        <button type="submit" class="theme-btn" (click)="onVerifyOtp()"
            *ngIf="baseLine.profileMobileVerify.submit_btn.is_allow == 1">{{baseLine.profileMobileVerify.submit_btn.text}}</button>
    </div>
</div>
