<!-- <p>all-star works!</p>
<p style="color: wheat;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem reiciendis eaque eius fugit voluptas debitis nemo
    dolores quidem praesentium. Eum deleniti ipsa amet id error sit beatae aliquam sint rem quia magnam maxime commodi
    ab ratione tempore accusamus, adipisci et molestiae quis suscipit optio est expedita inventore aspernatur? Accusamus
    doloremque ipsa veniam voluptates? Accusamus qui soluta officia reiciendis perferendis tenetur illum doloremque eius
    veniam molestiae velit aliquam ratione, vel adipisci! Ipsum cum facere nihil quo aperiam ex error sapiente
    aspernatur? Possimus inventore voluptatum commodi debitis magnam omnis nihil. Suscipit, aspernatur itaque? Minus
    inventore consequuntur eos pariatur officia? Possimus nesciunt qui ipsum nobis aliquam eius labore suscipit,
    voluptatibus magnam necessitatibus ad, deleniti consequatur perferendis alias sed placeat expedita! Voluptates in
    numquam amet, odit molestias quos nulla nisi corporis atque. Mollitia iure laudantium quia pariatur distinctio.
    Incidunt illum fuga quibusdam quia odio eveniet itaque voluptatum ut ex tenetur voluptates dolorum quidem
    consequatur delectus doloremque, saepe similique minus, laboriosam ullam cum eum aut asperiores dolor accusantium!
    Consequuntur nostrum blanditiis tempora soluta rem! In laboriosam quisquam iste quas, nihil alias similique nisi
    temporibus consectetur perspiciatis nulla aperiam modi omnis, repellat cupiditate illum eveniet voluptates dolorem
    iure numquam? Nihil fugiat tempore qui quis recusandae ipsam.</p> -->
<div class="sec-top">
    <div class="starcast" *ngFor="let cast of castData;">
        <div class="cast-img">
            <img [src]="" alt="">
        </div>

    </div>
</div>