<div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <div class="alt-login-img" *ngIf="basesignin.profileMobileVerify.logo.is_allow == 1">
            <img src="{{basesignin.profileMobileVerify.logo.web}}" alt="" class="vive-img">
        </div>
        <button class="close-btn">
            <img src="assets/arrows_icons/VectorClose.svg" (click)="close()" alt="">
        </button>
        <div class="verify" *ngIf="basesignin.profileMobileVerify.description.is_allow == 1">
            {{basesignin.profileMobileVerify.description.text}}</div>

        <div class="incorrectMsg">{{incorrectMsg}}</div>
      
        <ng-otp-input class="enter-otp-mobile" type="tel" inputmode="numeric" #ngOtpInput [formCtrl]="otpInput"
            (onInputChange)="onOtpChange($event)" [config]="config" (keyup.enter)="onVerifyOtp()">
        </ng-otp-input>

        <div *ngIf="timerHide" style="color: #FFFFFF;font-size: 12px;font-weight:600">OTP will expire in {{display}}
            minutes</div>
        <div class="otpResend"> <button *ngIf="basesignin.profileMobileVerify.resent_text.is_allow == 1" style="border: none;
        background-color: transparent;">{{basesignin.profileMobileVerify.resent_text.text}}</button>
            <button [disabled]="clicked || timerHide" [ngClass]="{'disabled-resend': clicked || timerHide}"
                *ngIf="basesignin.profileMobileVerify.resent_btn.is_allow == 1" (click)="resendOtp()"
                class="insideBtn">{{basesignin.profileMobileVerify.resent_btn.text}}</button>
        </div>
        <mat-error *ngIf="otpExceeded"
            style="text-align:center !important; margin-top: 20px !important; font-size: 14px !important; ">
            {{errorMsg.messageOtpResendLimitReached}}
        </mat-error>
        <div class="alt-m-4">
            <button type="submit" class="alt-btn-p alt-w-100"
                *ngIf="basesignin.profileMobileVerify.submit_btn.is_allow == 1"
                (click)="onVerifyOtp()">{{basesignin.profileMobileVerify.submit_btn.text}}</button>
        </div>
    </div>
</div>