$ott-white: #fff;
$layout-bg: #F6F7F8;
$text-color: #525A6B;
$bg-p: var(--theme-pop-color);
$bg-r:10px;
$bg-s:#5A5A5A;
$lightprimary: #FFD2BD;
$ga-black: #000;
$matinputBshadow: #FFE3D7;
$matinputThick: #ff69245b;
$t-p: #FB0000;
$ga-bg-tb-lt: #FFEFE8;
$t-s:#676767;
$bg-payment-card:#8E8E8E;
$primary: (
  100: var(--theme-secondary-color),
  200: var(--theme-secondary-color),
  300: var(--theme-secondary-color),
  400: var(--theme-secondary-color),
  500: var(--theme-secondary-color),
  600: var(--theme-secondary-color),
  700:var(--theme-secondary-color),
  act:var(--theme-secondary-color),
  hov:var(--theme-secondary-color)7
);
$secondary: (
  100: #F6F7F8,
  200: #DADCE2,
  300: #BDC2CC,
  400: #A0A7B6,
  500: #676767,
  600: #687288,
  700: #525A6B,
  temp: #EBECEF,
);
$success: (
  100: #F0F9FF,
  200: #BDE7FF,
  300: #8AD5FF,
  400: #57C2FF,
  500: #24B0FF,
  600: #0099F0,
  700: #0079BD,
);
$info: (
  100: #F6F0FF,
  200: #DABDFF,
  300: #BD8AFF,
  400: #A057FF,
  500: #8324FF,
  600: #6800F0,
  700: #5200BD,
);
$rgb-green: (
  100: #F0FFF6,
  200: #BDFFD8,
  300: #8AFFBA,
  400: #57FF9C,
  500: #24FF7E,
  600: #00F063,
  700: #00BD4E,
  temp: #27D870,
);
$rgb-yellow: (
  100: #FFF3F0,
  200: #FFF0BD,
  300: #FFE58A,
  400: #FFDA57,
  500: #FFCF24,
  600: #F0BB00,
  700: #BD9300,
  temp: #F9CE37,
);

