
.adulttHeading {
    color: white;
    font-size: 18px;
    font-family: var(--theme-font-style) !important;
}

.btn-one {
    color: #fff !important;
    background-color: none !important;
    /* border-color: #858585 !important; */
    border: 1px solid #858585;
    padding: 13px;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    font-size: 19px;
    width: 100%;
}

.otpInput {
    ::ng-deep .ng-otp-input-wrapper .otp-input:not(:last-child) {
        margin-right: 16px !important;
    }

    // ::ng-deep .otp-input {
    //     border: none !important;
    //     outline: none !important;
    //     font-size: 40px !important;
    //     width: 55px !important;
    //     // height: 85px !important;
    //     background-color: #676767;
    // }
}

.otpnumber {
    color: #DEDEDE;
    background-color: transparent;
    border: none;
}

.resendOtp {
    color: #9B9B9B;
    
    cursor: pointer;
    background-color: transparent;
    border: none;
}



.verify_submit {
    width: 100%;
    background-color: var( --theme-secondary-color);
    border: none;
    padding: 12px;
    color: white;
    
    font-size: 19px;
    border-radius: 4px;
}