.alt-login-content{
    margin-top: 100px;
    width: 35%;
    margin: 100px auto;
}
input{
    color: black;
}


@media only screen and (max-width:920px) {
 
    .createPassword{
        margin-top: 40px;
    }

    .reset-mastii{
        bottom: -12px !important;
        font-size: 10px !important;
        line-height: 14px;
    
    }


}

@media only screen and (max-width:720px) {

    .createPassword{
        margin-top: 40px;
    }

    .alt-login-content{
        width: 100%;
        margin: 20px auto;
        padding: 20px;
    }
}
.tickIcon{
    margin-right: 5px;
}
.createPassword{
    font-size: 20px;
}

.reset-mastii{
    position: absolute;
    // color: var(--theme-secondary-color);
    color:#FF8787 ;
    bottom: -10px;
    font-size: 12px;

}

.pop-mastii-reset{
    position: relative;
    margin-bottom: 20px;
}