<div class="alt-login-content">

    <br>
    <div class="createPassword">Create New Password :-</div>
    <div style="font: size 16px ;color:red;text-align: center;" *ngIf="invalidPassword">Password doesn't match</div>
    <form [formGroup]="emailLoginForm" #emailLoginFormDir="ngForm" (ngSubmit)="onSubmitEmailLogin()">
        <div class=" formField">
            <div class="pop-mastii-reset">
                <div appearance="outline">
                    <span (click)="showPassword(input)" class="showBtn"><img [hidden]="showpassword" width="20px"
                            height="20px" src="assets/img/eye-closed.svg">
                        <img width="20px" height="20px" [hidden]="!showpassword" src="assets/img/eye-open-v1.svg"
                            alt="vive">
                    </span>
                    <input  #input placeholder="Create Password" type="password" formControlName="password" id="myText"
                        autocomplete="off" required
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#@$!%*?&])[A-Za-z\d@$#!%*?&]{8,}$">
                    <!-- <mat-error>
                        <div *ngIf="emailLoginForm.controls['password'].errors">
                            <span *ngIf="emailLoginForm.controls['password'].invalid">Please Enter Password</span>
                            <span *ngIf="emailLoginForm.controls['password'].errors['minlength']">
                                Password must be min 6 char
                            </span>
                        </div>
                    </mat-error> -->

                </div>
                <div
                    *ngIf="emailLoginForm.controls['password'].invalid && (emailLoginForm.controls['password'].touched || emailLoginForm.controls['password'].dirty)">
                    <div *ngIf="emailLoginForm.controls['password']?.errors?.['minlength']; else patternElem;"
                        class="reset-mastii">
                        password must be at least 8 characters
                    </div>
                    <ng-template #patternElem>
                        <div *ngIf="emailLoginForm.controls['password'].hasError('pattern')" class="reset-mastii">
                            password should atleast contain one uppercase, one lower case,
                            one special character and
                            one number
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="pop-mastii-reset">
                <div appearance="outline">
                    <span (click)="showPasswordSecond(input2)" class="showBtn"><img [hidden]="showpasswordSecond"
                            width="20px" height="20px" src="assets/img/eye-closed.svg">
                        <img width="20px" height="20px" [hidden]="!showpasswordSecond" src="assets/img/eye-open-v1.svg"
                            alt="vive">
                    </span>
                    <input #input2 placeholder="Confirm Password" type="password" id="myText"
                        formControlName="confirm_password" autocomplete="off" required
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$!%*?&])[A-Za-z\d@$#!%*?&]{8,}$">
                    <!-- <mat-error>
            <div *ngIf="emailLoginForm.controls['confirm_password'].errors">
                <span *ngIf="emailLoginForm.controls['confirm_password'].invalid">Please Enter Confirm
                    Password</span>
                <span *ngIf="emailLoginForm.controls['confirm_password'].errors['minlength']">
                    Password must be min 6 char
                </span>
            </div>
        </mat-error> -->
                </div>
                <div
                    *ngIf="emailLoginForm.controls['confirm_password'].invalid && (emailLoginForm.controls['confirm_password'].touched || emailLoginForm.controls['confirm_password'].dirty)">
                    <div *ngIf="emailLoginForm.controls['confirm_password']?.errors?.['minlength']; else patternElem;"
                        class="reset-mastii">
                        password must be at least 8 characters
                    </div>
                    <ng-template #patternElem>
                        <div *ngIf="emailLoginForm.controls['confirm_password'].hasError('pattern')"
                            class="reset-mastii">
                            password should atleast contain one uppercase, one lower case,
                            one special character and
                            one number
                        </div>
                    </ng-template>
                </div>
            </div>

        </div>
        <div class="">
            <button type="submit" class="alt-btn-p alt-w-100">Submit</button>
        </div>
    </form>
</div>