


.adulttHeading{color: white;font-size: 18px;font-family: var(--theme-font-style) !important;}



.verify-input{
    padding: 24px !important;
}
.verify_forgot{
    color: #DEDEDE;
    font-size: 12px;
    cursor: pointer;
}
.verify_submit{
    width: 100%;
    background-color: var(--theme-secondary-color);
    border: none;
    padding: 10px;
    color: white;
    font-size: 19px;
    border-radius: 4px;
}
.showBtn{
position: absolute;
top: 51%;
right: 5%;
}


