<div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <div class="alt-login-img">
            <img src="https://static.creatorott.com/configration/5006/5006_68c8fd27e9291.png" alt="vive" class="vive-img">
        </div>
        <button class="close-btn">
            <img src="assets/arrows_icons/VectorClose.svg"  (click)="close()" alt="">
        </button>
        <div class="parental-heading">
            <p style="color: white;">Otp sent to {{emailId}}</p>


        </div>

        <div class="parental-heading-1">
            <p>Enter OTP</p>
            <div>

                <form>

                    <ng-otp-input class="parental-reset-password" type="tel" inputmode="numeric" #ngOtpInput [formCtrl]="otpInputCurrent" [config]="config"></ng-otp-input>
                </form>

            </div>

        </div>
        <br>
        <div class="parental-heading-1">
            <p>Enter new 4 digit pin</p>
            <div>

                <form>

                    <ng-otp-input type="tel" inputmode="numeric" #ngOtpInput [formCtrl]="otpInput" [config]="config"></ng-otp-input>
                </form>

            </div>

        </div>
        <br>
        <div class="parental-heading-1">
            <p>Confirm pin</p>
            <div>

                <form>

                    <ng-otp-input type="tel" inputmode="numeric" #ngOtpInput [formCtrl]="otpInput1" [config]="config"></ng-otp-input>
                </form>
                <br>
                <div style="color: #FF8787 !important" *ngIf="pinMatch">Pin not matched</div> -

            </div>
        </div>
        <button class="btn btn-danger" (click)="pinCreate()">SUBMIT</button>
    </div>



</div>