.parental-control-content {
    position: relative;
    text-align: center;


    .parental-heading {
        p {
            font-size: 18px;
            font-family: var(--theme-font-style) !important;
            text-align: center;
            color: #FFFFFF;
        }
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    .alt-login-img {
        position: relative;
        top: -56px;

    }

    .parental-heading-1 {
        p {
            font-size: 16px;
            font-family: var(--theme-font-style) !important;
            text-align: center;
            color: #B4B4B4;

        }

        .otp-form {
            text-align: center;

            form {
                display: flex;
                /* text-align: center; */
                justify-content: space-around;
                padding-right: 12%;
                padding-left: 12%;
            }

            span {
                .otp-pin {

                    width: 50px;
                    border: 1px solid #3D3D3D;
                    margin-right: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    text-decoration: underline;
                    text-decoration-thickness: 1px;
                    text-underline-offset: 5px;
                    margin-bottom: 20px;
                    background-color: #3D3D3D;
                    color: #BEBEBE;
                    font-size: 48px;

                }
            }
        }
    }
}






// ::ng-deep .otp-input {
//     border: none !important;
//     outline: none !important;
//     font-size: 40px !important;
//     width: 65px !important;
//     height: 85px !important;
//     background-color: #3D3D3D;
// }