@media only screen and (max-width: 992px) {
  .need-help {
    margin-top: 12px;
    text-align: center;
  }

  .starring-title{
    font-size: 13px !important;
  }

  .similar-title {
    font-size: 13px !important;

}


.edit-btn {

  font-size: 14px !important;
  font-weight: 600 !important;
}

.edit-btn-1 {
  font-size: 14px !important;
  font-weight: 600 !important;


}

.save-btn {

  font-size: 14px !important;
  font-weight: 600 !important;

}

.link{
  font-size: 14px !important;
}


  .show-sub-category {
    font-size: 16px !important;
    margin-bottom: 6px !important;
  }


  .headcor {
    font-size: 18px !important;
    font-weight: 600 !important;
  }

  .corporate {
    font-size: 13px !important;
  }


  .pro-file img {
    width: 30px !important;
    height: 30px !important;
  }

  .vive-img {
    width: 75px !important;
    height: auto !important;
  }

  .left-menu {
    font-size: 14px !important;

  }

  .inner-tabs span {
    font-size: 14px !important;
  }

  .left-menu ul li {
    padding: 6px !important;
    margin-bottom: 2px !important;

  }


  .right-content {
    padding: 10px !important;
  }

  .edit-head {
    font-size: 14px !important;
  }

  .section-setting {
    padding: 0 !important;
  }

  .textss img {
    width: 40% !important;
  }

  .dur_time {
    font-size: 13px !important;
  }

  .my-100 {
    margin-top: 75px !important;
  }


  .main-sec-top {
    margin-top: 14% !important;
  }

  // .mySlides{
  //   border-radius: 6px !important;
  // }
  .card-slider-header1 {
    padding: 100px 0px 0px 15px !important;
    // position: relative;
    // top: -10px;
  }


  .mute-unmute {
    display: none !important;
  }

  .mute-unmute-mobile {
    display: block !important;
    position: absolute !important;
    bottom: 10% !important;
    right: 9% !important;
    z-index: 99 !important;
  }


  #col-right {
    margin-top: 20px;
  }

  #waterMarkLs img {
    width: 40% !important;
  }

  #waterMark img {
    width: 40% !important;
  }

  .btn-close {
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
  }

  .continue-btn {
    font-size: 12px !important;
  }

  .font-continue {
    font-size: 14px !important;
  }

  .watchlist-btn {
    font-size: 12px !important;
  }

  .masti-mute {
    display: none !important;
  }

  .heading-delete {
    font-size: 16px !important;
  }

  #searchDiv h3 {
    font-size: 14px !important;
  }

  .autoplay-mastii img {
    width: 30px !important;
  }

  .choose-head {
    font-size: 18px !important;
  }

  .detail-head-arrow-footer {
    position: absolute !important;
    left: 5px !important;
    top: 9% !important;
  }

  .list label span {
    font-size: 16px !important;
  }

  .dots-pack {
    bottom: 15px !important;
  }

  .profile {
    padding: 0 !important;
  }

  .profile-sec {
    margin-top: 60px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 100px !important;
  }

  body h1,
  h2,
  h3 {
    font-size: 16px !important;
  }

  // .corporate {
  //   margin-top: 90px !important;
  // }

  .subscr {
    display: none !important;
  }

  .slick-track {
    margin-left: unset !important;
  }

  .see {
    // display: none !important;
    font-size: 12px !important;
  }


  .see1 {
    font-size: 12px !important;
  }


  .nav_sign {
    display: none !important;
  }

  .navicon img {
    display: none !important;
  }

  .height-nav {
    display: none !important;
  }

  .mobile-nav-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
  }

  .sec-top-list {
    margin-top: 60px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-bottom: 100px !important;
  }

  .sec-top-payment {
    margin-top: 60px !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
    margin-bottom: 50px !important;
  }



  .ok-btn button {
    font-size: 16px !important;
    padding: 7px 0px !important;
    line-height: 24px !important;
  }


  .ott-slick-carousel {
    .slick-dots {
      bottom: -8% !important;
    }
  }

  .icon_player {
    bottom: 8.5% !important;
    right: 6% !important;
  }

  .card-slider-header:nth-child(2) {
    position: unset !important;
    z-index: unset !important;
    // margin-top: unset !important;
    margin-top: unset;

  }

  .theme-btn {
    margin-top: 10px !important;
  }


  .theme-btn-1 {
    font-size: 14px;
    font-weight: 500 !important;
  }

  .theme-btn-2 {
    font-size: 14px;
    font-weight: 500 !important;
  }


  // .web-social-login{
  //   gap: 4px;
  // }

  .left-shdw {
    display: none;
  }

  input {
    font-size: 16px !important;
  }

  input:focus {
    font-size: 16px !important;
  }

  .clear_btn {
    font-size: 14px !important;
    padding: 8px !important;
    border-radius: 6px !important;
  }

  // .free_aol {
  //   width: 20px !important;
  // }

  // .free_aol-icon {
  //   width: 25px !important;
  // }

  .filterCLoseButton {
    top: 0 !important;
  }

  .otpResend button {
    font-size: 14px !important;
    color: #fff;
    margin-right: 12px;
  }

  .addedlist_aol {
    padding: 8px !important;
    gap: 5px !important;
  }

  .arrow-right img {
    width: 30px !important;
  }

  .aol-mob-num {
    padding: 10px !important;
    font-size: 16px;
  }


  .aol-in2 {
    padding: 10px !important;
    font-size: 14px;
  }



  .music_art {
    width: 20px !important;
  }

  .aol_crown {
    width: 22px !important;
  }



  .posterContent2 p {
    font-size: 16px !important;
  }


  .posterContent2 h2 {
    font-size: 18px !important;
    line-height: 22px !important;
  }

  .heading_ebook {
    font-size: 13px !important;
    line-height: 18px !important;
    // margin-bottom: 10px !important;
  }

  .ebook_content {
    padding: 0 10px !important;
  }

  .timer {
    width: 65%;
    text-align: center;
    padding: 8px !important;
  }

  .mab-top {
    padding: 15px 15px 0px 15px !important;
  }

  .img-baba {

    display: none !important;
  }

  .img-baba1 {
    display: block !important;
  }

  .pre {
    text-wrap: wrap;
    text-align: justify;
  }

  // .back-pg {
  //   padding: 10px !important;
  // }

  .headd {
    font-size: 18px !important;
    line-height: 25px !important;
    margin-top: 10px;
  }

  .sec-top1 {
    margin-top: 50px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;

  }

  .ebook-detail-page {
    padding: 15px !important;
  }


  .likeImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .like_share {
    gap: 8px !important;
  }

  .like_img {
    width: 35px;
  }


  .addlist_Aol {
    padding: 8px !important;
    gap: 5px !important;
  }

  .count {
    margin-left: 8px !important;
  }

  .social-content {
    width: 100% !important;
    margin: 0 auto;
  }



  .searchBar {
    display: none !important;
  }


  p {
    overflow-wrap: anywhere !important;
    // margin-top: 10px;
    margin-bottom: 0 !important;
  }

  .ott-slick-carousel .cardvideo {
    height: auto !important;
  }

  .payment-container {
    padding: 0 !important;
    margin: 5px !important;
  }

  .subcribed {
    margin: 15px 0 !important;
  }

  .custom_banner a img {
    width: 100%;
  }

  .alt-share1 {
    display: block !important;
  }

  .social-icons ul:last-child {
    margin: 0 !important;
  }

  .parent-layout {
    display: none !important;
  }

  .details-wrapper li {
    font-size: 11px !important;
    font-family: var(--theme-font-style) !important;
    // margin-right: 0.5em;
  }

  .details-wrapper {
    font-size: 11px;
  }

  .card-slider-header {
    padding: 0 10px !important;
    position: relative;
    // margin-bottom: 5px !important;
    // top: -10px;
    margin-bottom: 5px;

  }

  .Binge_verticall h1 {
    padding: 0 10px !important;
    position: relative;
    // margin-bottom: 5px !important;
    // top: -10px;
    margin-bottom: 5px;
  }

  .icons img {
    right: 29% !important;
    padding: 19px !important;
    position: relative;
    left: 10px;
  }

  .viewAllArrow {
    display: block !important;
    width: 9px;
    color: #b4b4b4;
    position: relative;
    // left: -9px;
    // top: -1px;
  }

  .card-slider-header h1 {
    padding-left: 0px;
    width: 55%;
    line-height: 12px;
    line-height: 25px !important;
    position: relative;
    // left: 10px;
    top: 10px;
    font-size: 15px !important;
  }

  .card-slider-header1 h1 {
    padding-left: 0px;
    width: 55%;
    line-height: 12px;
    line-height: 25px !important;
    position: relative;
    // left: 10px;
    top: 7px;
    font-size: 15px !important;
  }

  .cards {
    padding: 0;
  }

  .mobile-navbar {
    padding-left: 22px;
    position: fixed;
    z-index: 1000;
    background: #000;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    overflow: hidden;
  }

  .card {
    width: 100% !important;
  }


  .btn-one {
    padding: 10px !important;
    font-size: 14px !important;
    font-weight: 700;
  }

  .btn-two {
    padding: 10px !important;
    font-size: 14px !important;
    font-weight: 700;
  }

  .adultContent {
    font-size: 13px !important;
  }

  .mat-expansion-panel {
    width: 90%;
    margin: auto !important;
  }

  .profile .btn {
    width: 46% !important;
    font-size: 12px !important;
  }

  a:hover {
    border-bottom: unset !important;
  }

  .searchField input {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
  }

  .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0 !important;
  }



  .notranslate img {
    width: 16px;
    margin-top: 8px !important;
  }

  .mat-icons-pay {
    padding: 5px 0px !important;
    border-radius: 4px;
  }

  .payment {
    cursor: pointer;
    font-size: 10px;
    margin-top: 20px;
    position: relative;
    top: 0px;
  }

  .popularSearch a {
    font-size: 14px !important;
    text-transform: capitalize;
    font-weight: 900;
  }

  .popular-search::first-letter {
    text-transform: uppercase;
  }

  .recentSearch::first-letter {
    text-transform: uppercase;
  }

  .alt-p-3 {
    width: 100% !important;
    padding: 3px !important;
  }

  // .searchfilter .mat-dialog-container {
  //   position: absolute !important;
  //   height: auto;
  //   width: 100% !important;
  //   top: 7% !important;
  //   right: 0% !important;
  //   left: 0;
  //   margin: auto;
  // }

  // h1 {
  //   font-family: var(--theme-font-style) !important;
  //   font-size: 16px !important;
  // }

  .sec-top {
    margin-top: 60px !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
  }




  .search-Input {
    width: 100% !important;
    // height: 30px !important;
  }

  .search-box span {
    position: relative;
    float: right;
    margin-top: -33px !important;
    right: 3% !important;
    cursor: pointer;
  }

  .search-icon img {
    float: right;
    margin-top: -45px;
  }

  .icon-left {
    position: relative;
    top: 25px;
  }

  .play-none {
    display: none !important;
  }

  .play-btn {
    display: flex !important;
  }

  .lock button {
    padding: 6px 12px !important;
    margin-top: -10px;
  }

  .lock img {
    width: 34px;
  }

  .search-box {
    height: 50px;
  }

  .search-height {
    height: 50px;
  }

  .form-width {
    max-width: 100% !important;
  }

  .clear {
    // width: 25px !important;
    margin-top: 44px !important;
    position: unset !important;
  }

  .icons {
    position: absolute !important;
    top: 80% !important;
  }

  .slick-card-carousel {
    padding: 0 15px !important;
    overflow: hidden;
    border-radius: 5px;
  }

  .slick-card-carousel-singer {
    padding: 0 15px !important;
    overflow: hidden;
    border-radius: 5px;
  }

  .one-card-carousel {
    padding: 0 15px !important;
    overflow: hidden;
    border-radius: 5px;
  }


  // .crown {
  //   position: absolute;
  //   left: 21px !important;
  //   top: 6px !important;
  //   width: 24px;
  // }

  // .crown {
  //   position: absolute;
  //   left: 4px !important;
  //   top: 4px !important;
  //   width: 21px !important;
  //   height: 21px !important;
  // }

  // .binge-card-carousel .free-icon {
  //   top: 3px !important;
  //   left: 3px !important;
  // }

  // .binge-card-carousel .crown {
  //   top: 1px !important;
  //   left: 10px !important;
  // }

  // .free-icon {
  //   position: absolute;
  //   top: 4px !important;
  //   left: -4px !important;
  // }

  .all-slider {
    border-radius: 4px !important;
  }


  // .free-icon img {
  //   width: 35px;
  // }

  // .free-icon2 {
  //   position: absolute;
  //   left: 0;
  //   top: 5px !important;
  // }

  // .free-icon2 img {
  //   width: 30px;
  // }

  .nvc-btn {
    display: none;
  }

  .videopl {
    height: auto !important;
    width: auto !important;
  }

  // .video-ls-dimensions{
  //        height: 0px!important;
  // }
  .mat-button-wrapper span {
    font-size: 10px !important;
  }

  .Contact div {
    width: 100% !important;
    font-size: 12px !important;
  }

  .column {
    width: 100% !important;
    display: flex !important;
  }

  .quote-icon-wrapper {
    right: 54px !important;
  }

  .direction-arrow-wrapper {
    top: 0;
    right: 1px !important;
  }

  .disp-block {
    display: block !important;
  }

  .lst {
    margin-top: 0 !important;
  }

  .left-curlybrace {
    display: none !important;
  }

  .right-curlybrace {
    display: none !important;
  }

  .testimonial-section {
    padding: 0 !important;
  }

  .sel-btn {
    text-align: left !important;
    position: relative;
    left: 6px;
  }

  .icons-1 {
    position: relative !important;
    left: 0 !important;
  }

  .icons-1 img {
    right: 29% !important;
    padding: 19px !important;
    margin-right: -8px;
    position: relative;
    left: -13px;
  }

  .adulttHeading {
    font-size: 14px !important;
  }

  // .img-logo img {
  //   margin-top: -15px !important;
  // }

  .termsAndconditions {
    margin-bottom: 70px;
  }

  .info-more {
    position: relative;
    top: 17px;
    right: 18px;
    font-weight: bold;
  }

  .mr-3 {
    margin-right: 0rem !important;
  }

  .content p span .material-icons {
    font-size: 12px !important;
  }


  .episodes-select {
    text-align: left !important;
    margin-top: -25px !important;
    margin-bottom: 25px;
  }

  .epis-menu {
    margin-left: 0px !important;
  }

  // .gap-content {
  //   text-align: right;
  //   margin-top: 0px !important;
  // }

  .verificationCOde {
    margin: 10px !important;
    font-size: 14px !important;
  }


  .forget-input {
    font-size: 14px !important;
  }


  .formField {
    width: 100% !important;
  }

  .send-veri button {
    width: 100% !important;
  }

  .mat-dialog-container {
    height: 100%;
  }

  .otpResetPassword .mat-dialog-container .otp-input {
    width: 38px !important;
    height: 38px !important;
    // border-radius: 5px !important;
    font-size: 16px !important;
  }

  .alt-w-50 {
    margin-top: 10px !important;
  }

  // .correct-img img {
  //   margin-top: 40px !important;
  // }

  .create-new-btn button {
    margin-top: 8vh !important;
    width: 100%;
  }



  .clear-View {
    width: 23px !important;
    margin-top: -1px !important;
    position: unset !important;
  }

  .carousel-indicators {
    position: absolute;
    bottom: -70px !important;
  }

  // main {
  //   margin: 10px 0px;
  //   overflow: unset !important;
  // }



  // .account {
  //   padding: 0px 30px !important;
  // }

  .profile label,
  .profile p {
    color: #b4b4b4;
    font-size: 14px !important;
  }

  .my-parent-class {
    min-width: 370px !important;
  }

  // .mat-select-panel {
  //   max-width: 100% !important;
  // }

  // .btn-mgin {
  //   margin: 12px 0px 12px 0px;
  // }

  .mat-form-field-subscript-wrapper {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
  }

  .recorder {
    display: block !important;
    max-width: 18% !important;
  }

  .profile-btns {
    text-align: center;
  }

  .btn:last-child {
    margin-right: 0% !important;
  }

  .btn-default {
    height: 50px !important;
    width: 50px !important;
  }

  .form-spacing {
    max-width: 33% !important;
  }

  .mat-error {
    color: #ff8787 !important;
  }

  // .otp-input {
  //   width: 20% !important;
  //   height: 74px !important;
  // }

  .profile #verify {
    z-index: 9;
    position: relative;
    padding: 1px 11px;
    font-size: 10px;
    height: 30px;
  }

  .gtr-hr {
    display: none;
  }

  .text-value-update {
    width: 65%;
  }

  .text-value {
    font-size: 13px !important;
    font-weight: 500;
  }

  .with-toggle {
    font-size: 13px !important;
    font-weight: 500;
  }


  .signoutConfirmation .mat-dialog-container {
    // height: 14em !important;
    padding: 20px !important;
    border: 1px solid #ccc;
  }

  .arrowBack {
    width: 29px !important;
  }

  .mr-3 {
    margin-right: 10px !important;
  }


  .form-class {
    overflow-x: hidden !important;
    padding: 0px 15px 0px 15px;
  }


  // .har-form {
  //   width: 100% !important;
  //   float: right;
  //   margin-right: -42 !important;
  // }

  // .log-out-mdl {
  //   margin-top: 50px;
  // }


  .mnts-pack {
    text-align: right;
  }

  .totalPrice {
    font-size: 15px !important;
  }

  .popularSearch {
    gap: 0px !important;
    margin-top: 6px !important;

  }

  .section-content {
    margin-top: 10px !important;
  }

  .setting-content p a {
    font-size: 14px;
  }

  .text-title {
    font-size: 12px !important;
  }


  .section-deleteAccount {
    padding: 0 !important;
  }

  .captcha {
    margin-top: 22px;
  }

  .mar-pro {
    margin: 4px;
  }

  .parental-heading {
    margin-top: 22px;
  }

  .Contact {
    margin: 0px !important;
  }

  .subscription-gap {
    gap: 0px;
  }

  .drop-mar {
    margin-bottom: 16px;
  }

  .searchIcon img {
    margin-left: unset !important;
  }

  .searchText {
    font-size: 16px !important;
  }

  .otpCode .mat-select-arrow {
    position: absolute !important;
    top: 1px !important;
    left: 0 !important;
  }

  .otpcode-mobile .mat-select-arrow {
    position: absolute !important;
    top: 1px !important;
    left: 28px !important;
  }

  // .links-footer a {
  //     padding-left: 25px !important;
  // }

  .sms-check {
    padding: 0px;
  }

  .bg-s {
    padding: 1px 0px 5px 0px !important;
  }

  .bg-payment {
    border-bottom: 0px !important;
  }

  .custom-sel {
    padding-bottom: 1.34375em !important;
  }



  .otpCode .mat-select-trigger {
    padding-left: unset !important;
    font-size: 12px;
  }

  .noSearchResult {
    margin: 20px 0px !important;
  }

  .search-back {
    font-size: unset !important;
  }

  .voice-search {
    width: 50px;
  }




  .faq-mar {
    margin-bottom: unset !important;
  }

  .f-size {
    font-size: unset !important;
  }

  .not-arrow {
    width: 24px !important;
    height: 24px !important;
  }

  // .subscontainer {
  //   padding: 0px !important;
  // }


  .Search-Input {
    position: relative;
    width: 100%;
    // height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 1;
    background-color: var(--search-bar-bgColor);
    border: none;
    border-radius: 4px;
    padding-left: 40px;
    caret-color: #fff !important;
    padding-right: 75px;
    color: #fff;
  }

  .ser-icon {
    position: absolute;
    z-index: 2;
    top: 46%;
    padding-left: 7px;
    bottom: 0;
    transform: translateY(-50%);
  }


  .mat-form-field-infix {
    padding: 0.5em 0;
    border-top: unset !important;
  }

  // .mic-mobile-icon {
  //   z-index: 999;
  //   position: absolute;
  //   right: 54px;
  //   width: 28px;
  //   top: 10px;
  // }

  // .mic-mobile-icon-1 {
  //   z-index: 999;
  //   position: absolute;
  //   right: 20px;
  //   width: 28px;
  //   top: 10px;
  // }

  .srch-icn {
    // width: 21px;
    // margin-right: 10px;


    .query-mdl .mat-dialog-container {
      padding: 18px 5px 5px 0px;
    }

  }

  .ser-mob-img {
    width: 21px;
  }

  .search-hide {
    display: block !important;
  }

  .category p {
    font-size: 9px !important;
  }

  .selector {
    width: 100% !important;
  }

  .label-restrict {
    font-size: 12px !important;
    margin-bottom: 6px !important;
  }

  // input[type=radio] {
  //   width: 12px !important;
  //   height: 12px !important;
  // }

  .updateBtn {
    padding: 8px !important;
  }

  .sNumber {
    top: 5px !important;
    border-radius: 6px !important;
    opacity: 0.9 !important;
    left: 5px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    // display: none;
  }

  .sNumber p {
    margin: 1px 4px !important;
  }

  .agreePolicy {
    font-size: 12px;
  }



  .input-font-alt::placeholder {
    font-size: 12px;
  }

  .altcheck-font .mat-checkbox-layout .mat-checkbox-label {
    font-size: 12px;
  }

  .privacy-container {
    width: 100% !important;
    padding: 0px 20px;
    margin-top: 75px !important;
  }

  .verify_submit {
    width: 100% !important;
    margin-top: 10px;
  }

  .forgot-passowrd {
    margin-top: unset !important;
    font-size: 17px;
  }

  .otpExceeded_aol {
    font-size: 12px !important;
  }

  .send-veri {
    margin-top: unset !important;
  }

  .deleteConsent {
    padding: unset !important;
  }


  .icon .material-icons {
    font-size: 20px !important;
  }

  // .Watchlist-card-1{
  //   width: 100% !important;
  // }


  .CreditCardBg input.mat-input-element {
    font-size: 12px;

  }

  // .ag {  
  //   transform: translate(0px, -200px) !important;
  // }


  .discountMsg {
    font-size: 12px !important;
  }

  .discountMsgZError {
    font-size: 12px !important;
    position: relative;
    bottom: -6px;
  }

  .stopIcon {
    margin-right: 16px !important;
    width: 18px !important;
  }


  // .crown2 {
  //   width: 21px !important;
  //   height: 21px !important;
  // }

  .age-btnn {
    display: none !important;
  }

  .age-btnn-1 {
    width: 20px;
  }

  .playy {
    display: flex !important;
    gap: 12px;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
  }

  .moree {
    display: flex !important;
    gap: 12px;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
  }

  .iconage {
    bottom: 10px !important;
    margin-left: 5px !important;
  }

  .filled-icon {
    position: relative;
    bottom: 4px;
    right: 4px;
  }

  .containerContent p {
    font-size: 12px;

  }

  .iconage {
    display: none !important;
  }

  .details-button .sub-details {
    height: unset !important;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 10px;
    margin-top: 20px;
  }

  .img-mar {
    margin-right: 12px !important;
  }

  .icon-flex {

    gap: 10px !important;

  }


  .slick-card-carousel-similar {
    margin: 0px 15px;
  }

  .f-size_aol {
    font-size: 19px !important;
  }

  .error-login-2 {
    font-size: 12px !important;
  }

  .error-login-3 {
    font-size: 12px !important;
    margin-top: 6px !important;
  }

  .mat-error div div {
    font-size: 12px !important;
    margin-top: 6px !important;
    line-height: 10px !important;
  }


  // .error-login-1 {
  //   margin-top: 6px !important;
  //   // bottom: -3px !important;
  // }
  .error-login-2 {
    margin-top: 6px !important;
    // bottom: -3px !important;
  }

  .error-login-aol {
    margin-top: 7px !important;
  }

  .country-code-section{
    padding: 10px !important;
    // margin-bottom: 20px !important;
  }

  .devices {
    max-height: 200px !important;
  }


}

#map {
  height: 360px !important;
}

.profile-pic {
  display: flex;
  align-items: flex-start;
  padding-top: 8px;

}

@media only screen and (max-width: 572px) {
  .btnn-edit {
    padding: 6px 0px !important;
    position: unset !important;
  }

  .menuItem {
    line-height: 32px !important;
    font-size: 13px !important;
  }

  .menuItem_temp{
    line-height: 32px !important;
    font-size: 13px !important;
  }

  .account-wrapper {
    flex-direction: column !important;
  }

  .profile #verify {
    padding: 0px 4px !important;
    font-family: var(--theme-font-style) !important;
    font-size: 12px !important;
  }


  .emailLink {
    font-size: 11px !important;
  }


  .left-menu {
    width: 100% !important;
    height: unset !important;
    flex: none !important;

  }

  .left-menu ul li {
    padding: 6px !important;
    margin-bottom: 12px !important;
    border-left: none !important;

    white-space: nowrap;
  }



  .left-menu ul li:hover,
  .left-menu ul li.active {
    // background: #1d1d1d;
    border-bottom: 2px solid var(--theme-secondary-color) !important;
    border-left: 0;

  }

  .ok-btn button {
    font-size: 14px !important;
  }

  .sub-details {
    gap: 7px;
  }

  .sub-details li {
    font-size: 11px;
  }

  .card-slider-header1 {
    padding: 60px 0px 0px 15px !important;
    // position: relative;
    // top: -10px;
  }

  .sub-container {
    // padding: 10px !important;
    min-height: 43vh !important;
  }

  .aol-lang-rel {
    padding: 10px 0px !important;
  }

  .logindialog .mat-dialog-container {
    padding: 14px !important;
  }

  .create_pwd_err {

    line-height: 12px !important;
    font-size: 12px !important;

  }

  #myText {
    padding: 10px 35px 10px 10px !important;
    // margin-bottom: 20px !important;
  }

  .main-div-aol {
    margin-bottom: 20px !important;
  }



  .cont-prog {
    bottom: 8px !important;
    width: 90% !important;
    height: 4px !important;
  }


  .input-font-alt {
    font-size: 14px;
  }


  .f-size_aol {
    font-size: 17px !important;
  }

  .timer {
    width: 90%;
    font-size: 21px !important;
    text-align: center;
  }


  .right {
    font-size: 14px !important;
  }

  .left {
    font-size: 14px !important;
  }



  .back-pg-1 {
    padding: 14px 6px !important;
  }

  .back-pg {
    padding: 0px 0px 20px 0px !important;

  }

  .icons {
    position: absolute !important;
    top: 70% !important;
  }

  // .country-code-section {
  //   float: right;
  //   font-size: 16px;
  //   padding: 10px !important;
  //   margin-bottom: 20px !important;
  //   // margin-right: 10px;
  // }

  .close-btn img {
    width: 25px;
  }

  // .otp-input {
  //   width: 20% !important;
  //   height: 52px !important;
  //   color: #fff !important;
  //   font-size: 19px !important;
  // }

  .poster-wrapper img {
    top: 20% !important;
  }

  .epis-menu {
    margin-left: 0px !important;
    margin-top: 0px !important;
    float: left !important;
  }

  .epis-menu1 {
    margin-left: 10px !important;
    margin-top: 15px !important;
    float: left !important;
  }

  .subscontainer {
    // padding: 0px !important;
    // height: 20px;
    gap: 8px !important;
  }

  .subscontainer img {
    width: 28px;
  }



  .subscontain img {
    width: 15px !important;
    height: 13px !important;
    position: relative;
    top: -2px;
  }

  .closeicon {
    font-size: 20px !important;
  }

  .episodes-select {
    text-align: left !important;
    margin-top: -120px !important;
    margin-bottom: 0;
  }

  .episodes-select select {
    width: 45%;
    font-size: 12px !important;
  }

  // .web-social-login img {
  //   width: 100%;
  // }

  .password {
    font-size: 12px !important;
  }

  .form-Fields {
    margin: 0 auto !important;
    justify-content: center;
    width: 100% !important;
  }

  .chrome_img {
    width: 100% !important;
  }

  .device-wrapper .card .chrome-thumb::after {
    content: "";
    width: 100% !important;
  }

  // .lock {
  //   top: 25px !important;
  // }

  .lock {
    position: relative !important;
    left: 0px !important;
    right: 0 !important;
    margin: auto !important;
    text-align: center !important;
    margin-top: -50% !important;
  }

  .subscontain p {
    font-size: 12px !important;
  }

  .subscontain p {
    font-size: 10px !important;
    position: relative !important;
    top: 0px !important;

  }

  .subscontain {
    justify-content: unset !important;
    gap: 4px !important;
  }

  .subcribed-btn button {
    border: none;
    padding: 13px 30px !important;
    border-radius: 4px;
    background-color: #fb0000;
    color: #fff;
    font-size: 14px !important;
  }

  .my-parent-class {
    min-width: 265px !important;
  }

  #waterMarkFeels {
    right: 0 !important;
    left: unset !important;
  }



  // #iconn {
  //     width: 70%;
  //     margin-top: 0px;
  // }




  .mar-btn-top {
    margin-top: 12px;
  }

  .selenge {
    padding: 0px !important;
  }

  .content {
    color: #B4B4B4;
    font-size: 16px !important;
    font-family: var(--theme-font-style) !important;
  }

  .content .icon-font {
    font-size: 12px;
  }

  // #iconn {
  //     width: 70%;
  //     margin-top: 0px;
  // }


  .mar-btn-top {
    margin-top: 12px;
  }


  //    .alt-login-img img  {
  //     width: 20% !important;
  //     height: auto !important;
  //    }

  .chooseHelpTOpic {
    margin-left: 20px !important;
    font-size: 12px !important;
  }

  .acts-subs {
    font-size: 15px;
  }

  .img-acts img {
    width: 40px !important;
    margin-left: 8px !important;
    position: relative;
    left: 0% !important;
  }

  .hide {
    position: relative;
    left: -5px !important;
  }



  .ag img {
    cursor: pointer;
    width: 30px !important;
  }

  .subscribeInput {
    font-size: 13px;
  }

  .vmc {
    width: 30px;
  }

  .age {
    left: 3px;
  }

  // .codeDisplay{
  //   gap: 12px;
  // }

  .purchase {
    overflow: unset;
  }


  .active-nav {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  // .mat-expansion-panel-body {
  //   padding: 15px 24px 16px !important;
  // }
  .text-title,
  .text-restrict {
    font-size: 13px !important;
    font-weight: 500;
  }

  // .country-code {
  //   left: -22px !important;
  // }

  // .dropdown-toggle{
  //    width: 70px !important;
  // }
  .error-login-1 {
    font-size: 10px !important;
    // margin-top: 6px !important;
  }

  .error-login-2 {
    font-size: 11px !important;
    margin-top: 6px !important;
  }

  .error-login-3 {
    font-size: 10px !important;
    margin-top: 6px !important;
  }


  .error-login-aol {
    font-size: 11px !important;
    margin-top: 7px !important;
  }

  .aol-btn-p {
    font-size: 14px !important;
    line-height: unset !important;
    padding: 10px 12px !important;
  }

  .ng-otp-input-wrapper .otp-input:not(:last-child) {
    margin-right: 12px !important;
  }

  .ng-otp-input-wrapper .otp-input {
    width: 35px !important;
  }


  .register-btn button {
    padding: 10px 30px !important;
  }

  .expore button {
    padding: 10px !important;
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .register-btn button {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .play-btn-aol {
    font-size: 14px !important;
    padding: 6px 20px !important;
    gap: 6px !important;
    border-radius: 6px !important;
  }


  .play-btn-aol img {
    width: 22px !important;
  }


  .added-btnn {
    padding: 6px;
    border-radius: 6px;
    font-size: 14px !important;
    gap: 6px !important;
  }

  .added-btnn img {
    width: 23px;
  }

  .wat-btnn {
    font-size: 14px !important;
    padding: 6px !important;
    gap: 6px !important;
    border-radius: 6px;
  }

  // .wat-btnn img {
  //   width: 23px !important;
  // }

  .text-btnn {
    font-size: 14px !important;
  }

  .vol-hide {
    display: none;
  }

  .error-login-2 {
    font-size: 10px !important;
  }

  .mat-error div div {
    font-size: 10px !important;
    line-height: 10px !important;
  }


}

@media screen and (max-width:375px) {
  .ok-btn button {
    padding: 6px 0px !important;
    line-height: 20px !important;
    font-size: 13px !important;
  }


  .profile #verify {
    padding: 0px 4px !important;
    font-family: var(--theme-font-style) !important;
    font-size: 11px !important;
  }

  .added-btnn {
    font-size: 11px !important;
  }

  .error-login-2 {
    font-size: 9px !important;
  }

  .error-login-3 {
    font-size: 9px !important;
    line-height: 10px !important;
  }

  .mat-error div div {
    font-size: 9px !important;
    line-height: 10px !important;
  }




  .download a img {
    width: 11px;
    margin-left: -2px;
  }

  .download a {
    font-size: 14px;
  }

  .download {
    padding: 5px 10px !important;
  }

  // .dropdown-toggle {
  //   width: 60px !important;
  // }

  .btn-two-2 {
    padding: 10px !important;
    font-size: 14px !important;
  }

  .btn-one-1 {
    padding: 10px !important;
    font-size: 14px !important;
  }

  // #myText {
  //   padding: 10px !important;
  //   margin-bottom: 15px !important;
  // }

  // .input-font-alt {
  //   font-size: 11px;
  // }
  // .country-code-section {
  //   padding: 10px !important;
  //   font-size: 16px;
  //   margin-bottom: 20px !important;
  // }

  .error-login-1 {
    font-size: 10px !important;
    // margin-top: 6px !important;
  }

  .error-login-2 {
    font-size: 10px !important;
    margin-top: 6px !important;
  }

  .error-login-aol {
    font-size: 10px !important;
    margin-top: 7px !important;
  }

  .fav-msg {
    font-size: 14px !important;
  }

  // .dropdown-toggle:before {
  //   margin-right: 25px !important;
  // }

  .showBtn {
    top: 8px !important;
  }

  .showBtn1 {

    top: 8px !important;
  }

  .showBtnEmail {
    top: 8px !important;
  }





}