.row{
    display: flex;
    justify-content: center;
}
.alt-login-img{
    display: flex;
    position:relative;
    justify-content: center;
    margin-top: 120px;

}  
.heading{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: large;
}
.input{
    display: flex;
    justify-content: center;
}

.para{
    text-align: center;
    justify-content: center;
    font-size: large;
    cursor: pointer;
}
