
// ::ng-deep .otp-input {
//     border: none !important;
//     outline: none !important;
//     font-size: 40px !important;
//     width: 65px !important;
//     height: 85px !important;
//     background-color: #3D3D3D;
// }
.parental-control-content {
    .parental-heading{
        p{
            font-size: 18px;
            font-family: var(--theme-font-style) !important;
            text-align: center;
            color: #FFFFFF;
        }
    }


   
    
    .parental-heading-1{
        p{
            font-size: 16px;
            font-family: var(--theme-font-style) !important;
            text-align: center;
            color: white;

        }
        .otp-form{
        text-align: center;
   
        span{
         .otp-pin{
           
            width: 50px;
            border: 1px solid #3D3D3D;
            margin-right: 10px;
            padding: 10px;
            border-radius: 10px;
            text-decoration: underline;
            text-decoration-thickness:1px;
            text-underline-offset: 5px;
            margin-bottom: 20px;
            background-color:#3D3D3D ;
            color: #BEBEBE;
            font-size: 48px;
            
        }
    }
    }
}
}

.submitBtn{
    background-color: red;
    width: 76%;
    color: white;
    /* padding: 33px; */
    border: none;
}


    .verify-input{
        padding: 24px !important;
    }
    .verify_forgot{
        color: #DEDEDE;
        font-size: 12px;

        cursor: pointer;
    }
    .verify_submit{
        width: 100%;
        background-color: var(--theme-secondary-color);
        border: none;
        padding: 12px;
        color: white;

        font-size: 19px;
        border-radius: 4px;
    }
    .showBtn{
    position: absolute;
    top: 31%;
    right: 5%;
    }
