.search-box {
  background-color: var(--search-bar-bgColor);
  border-radius: 6px;
}

.font-36 {
  font-size: 1.3rem !important;
}

#search {
  background-color: var(--search-bar-bgColor);
}

#search:active {
  background-color: var(--search-bar-bgColor);
}

.arr-icon {
  width: 40px;
  height: 25px;
}

.searchBar {
  display: flex;
  gap: 40px;
}

.form-width {
  width: 100%;
}

//   for remove input border-bottom:-
.searchBar ::ng-deep .mat-form-field-underline {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

.popularSearch {
  display: flex;
  gap: 50px;
  margin-top: 20px;
  margin-left: 9px;

  a {
    font-size: 16px;
    font-family: var(--theme-font-style);
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
  }

  a:active {
    font-weight: 500;
    // color: #FFFFFF !important;
  }
}

.searchField input::placeholder {
  color: #f2f2f2 !important;
  opacity: 50%;
  font-size: 20px;
  font-family: var(--theme-font-style);
}

.searchField {
  input {
    padding-left: 2.5%;
    padding-bottom: 16px;
  }
}

.example-card {
  img {
    // width: 100%;
    height: auto;
  }
}

.section-popular {
  padding-top: 2%;
  padding: 3px;
}

.alt-p-3 {
  position: relative;
  cursor: pointer;
}

// .crown {
//   position: absolute;
//   top: 7%;
//   left: 6.4%;
// }

.clear {
  position: absolute;
  right: 50%;
  bottom: 15%;
  text-align: center;
}

.searchIcon img {
  // margin-top: -12px;
  margin-left: 10px;
  width: 24px;
}

// #searchDiv {
//   cursor: pointer;
//   z-index:1 !important;
//   opacity: 1 !important;
//   background:  linear-gradient(
//     270deg, #1E1E1E 0%, #1E1E1E 78%, #1E1E1E00 100%) 0% 0% no-repeat padding-box !important;
// }

.noSearchResult {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.searchText {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

.btn-default {
  height: 55px;
  width: 55px;
  // border-radius: 50%;
  // border: 3px solid red;
  display: inline-block;
}

.searchField input[text] {
  height: 20px;
}

//  ::ng-deep #cdk-overlay-1 {
//   height: 0px !important;
// }
// ::ng-deep #cdk-overlay-3 {
//   height: 0px !important;
// }

// .btn-change {
//   height: 55px;
//   width: 55px;

//   border: 3px solid green;
//   border-radius: 50%;
//   display: inline-block;

// }

//   ::ng-deep  .cdk-overlay-container{
//   opacity: 1;
//   background: transparent linear-gradient(
// 270deg, #1E1E1E 0%, #1E1E1E 40%, rgba(30, 30, 30, 0) 100%) 0% 0% no-repeat padding-box !important;
// z-index:1 !important;
// }
// .filterData{
//     opacity: 1;
//   background: transparent linear-gradient(
// 270deg, #1E1E1E 0%, #1E1E1E 40%, rgba(30, 30, 30, 0) 100%) 0% 0% no-repeat padding-box !important;
// z-index:1 !important;
// }

.example-container {
  display: flex;
  flex-direction: column;
}

// ::ng-deep .mat-dialog-container {
//   background-color:#1e1e1e !important;
// }

.example-container>* {
  width: 100%;
}

label {
  color: #f2f2f2;
  font-size: 16px;
}

mat-icon {
  color: #b4b4b4;
  cursor: pointer;
  font-size: 30px;
}

select {
  border-radius: 4px;
  border: 1px solid #434343;
  background-color: #272525 !important;
  color: #f2f2f2 !important;
}

.form-control {
  height: auto;
  padding: 14px;
}

.form-control:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
  display: none;
}

.btnsFilter button {
  padding: 10px;
  background-color: var(--filter-btn);
  width: 100%;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 18px;
  border: 0;
  font-family: var(--theme-font-style);
  font-weight: 800;
  line-height: 27px;
  letter-spacing: 0em;
}


.submitFilter button {
  background-color: var(--theme-secondary-color);
}

::ng-deep .mat-select-panel-wrap {
  /* transform-origin: 50% 20.875px 0px; */
  /* font-size: 14px; */
  /* opacity: 1; */
  margin-top: 30px !important;
  /* transform: scaleY(1); */
  width: 86%;
  margin-left: 35px;
  margin-right: 22px;
  position: absolute;

  .mat-select-panel {
    background: #2d2d2d 0% 0% no-repeat padding-box;
  }

  .mat-pseudo-checkbox {
    color: #9b9b9b;
  }

  pseudo-checkbox-indeterminate {
    background: #9b9b9b;
  }

  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #9b9b9b;
  }

  .mat-option.mat-active {
    // background: rgba(0, 0, 0, 0.04);
    color: #9b9b9b;
  }

  .mat-option {
    // background: rgba(0, 0, 0, 0.04);
    color: #9b9b9b;
  }
}

.mat-select-value {
  color: white !important;
}

.search-box .mat-form-field {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.125;
  font-family: normal normal medium 20px/27px Gotham HTF !important;
  letter-spacing: normal;
  height: 60px !important;
  justify-content: center;
}

.search-box ::ng-deep .mat-form-field-infix {
  padding: 0.4rem;
  border-top: 0 !important;
  padding-right: 8rem;
}

#searchDiv {
  margin: 20px 0px;
}

input {
  caret-color: white;
}

.search-hide {
  display: none;
}

// .mat-expansion-panel {
//   background: rgb(51, 49, 49) !important;
//   color: rgba(0, 0, 0, 0.87);
// }
// .mat-expansion-panel-header-title {
//   color: #ddd4d48a!important;
// }

// ::ng-deep mat-expansion-panel-header .mat-expansion-indicator::after {
//   content: url(../../../assets/svgs/expansionArrow.svg) !important;
//   border: 0;
//   transform: none;

// }
// // .modal-container input {
// //    caret-color: #9b9b9b !important;
// //    background-color: #9b9b9b !important;
// // }
// .modal-container label{
//   color: #9b9b9b !important;
//   font-size: 14px !important;
// }
// .modal-container input[type=checkbox] {

//   background-color: #9b9b9b !important;
//   font-size: 14px !important;
//   color:#9b9b9b !important ;
// }
// // input[type=checkbox] {
// //   accent-color: red;
// // }

@media screen and (max-width: 572px) {
  ::ng-deep .mat-select-panel-wrap {
    margin-left: 5% !important;
  }
}

// @media screen and (max-width:992px) {
//   ::ng-deep .mat-select-panel-wrap {
//     margin-left: 5% !important;
//   }
// }

.filterCLoseButton {
  position: absolute;
  right: 4%;
  background: none;
  border: 0px;
  filter: none;
}

.search-input {
  position: relative;
}

.crown {
  position: absolute;
  right: 8px;
  top: 8px;
}

.crown img {
  width: 22px;
}

.free-icon {
  position: absolute;
  right: 8px;
  top: 8px;
}


// .free-icon img {
//   width: 50px;
// }

.live-icon {
  position: absolute;
  left: 8px;
  top: 8px;
}


.live-icon img {
  width: 50px;
}

.img-container {
  position: relative;
}

@media screen and (max-width:992px) {
  .free-icon img {
    width: 35px !important;
  }

  .crown img {
    width: 15px !important;
  }

  .free-icon {
    right: 7px !important;
    top: 2px !important;
  }

  .live-icon {
    position: absolute;
    left: 7px;
    top: 2px;
  }


  .live-icon img {
    width: 35px;
  }

  .crown {
    right: 3px !important;
    top: -2px !important;

  }
}


.mic-clear {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1.5%;
  gap: 8px;
}


.mices {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 10px;
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  gap: 12px;
}