<div class="section-search sec-top">

  <div class="row">
    <div class="col-xl-6 col-md-6 col-8">
      <div class="search-header">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <h1 class="font-36" *ngIf="!viewSearchFilter"><span class="mr-3 arrow-right">
              <img src="assets/svgs/Vector-back.svg" style="cursor: pointer;" class="arr-icon" (click)="back()"
                alt="vive" aria-hidden="false" class="f-size">
            </span>Search</h1>
          <h1 class="font-36" *ngIf="viewSearchFilter"><span class="mr-3 arrow-right">
              <img src="assets/svgs/Vector-back.svg" style="cursor: pointer;" class="arr-icon" (click)="backSearch()"
                alt="vive" aria-hidden="false" class="f-size">
            </span><span>{{searchDataShow}}</span></h1>
        </div>
      </div>
    </div>


    <!-- MOBILE VIEW SEARCH-START -->
    <div class="col-lg-12" *ngIf="!viewSearchFilter">
      <div class="search-hide">
        <div class="ser-icon">
          <img src="assets/svgs/originalsearchicon.svg" alt="vive" class="ser-mob-img">
        </div>
        <form [formGroup]="searchDataFormMobile">
          <input type="text" *ngIf="searchMobileHIde" class="Search-Input" placeholder="Type here to search"
            (input)="autoSuggest($event)" (keyup.enter)="search_data($event)" formControlName="searchMobile"
            [(ngModel)]="voiceSearch">
          <input type="text" *ngIf="!searchMobileHIde" class="Search-Input" placeholder="Type here to search"
            (input)="autoSuggest($event)" (keydown.enter)="search_data($event)" formControlName="searchMobile"
            [(ngModel)]="voiceSearch">


        </form>
        <div class="mices">
          <div class="mic-mobile-icon">
            <img src="assets/svgs/close-search.svg" alt="vive" class="srch-icn"
              *ngIf="searchDataFormMobile.value.searchMobile" (click)="clickMObile()">
          </div>
          <div class="mic-mobile-icon-1" *ngIf="btnDisable"><img src="assets/svgs/microphone.svg" alt="vive"
              (click)="startService()" *ngIf="btnStyle">
            <img src="assets/svgs/Componentblue.svg" alt="vive" *ngIf="!btnStyle" width="30px" class="filled-icon">
          </div>
        </div>


      </div>
    </div>
    <!-- MOBILE VIEW SEARCH-END -->
  </div>

  <div class="searchBar">
    <!-- <div *ngIf="!viewSearchFilter && btnDisable" class="recorder" fxLayoutAlign="flex-start center" fxHide.xs="true"
      fxHide.sm="true">
      <a (click)="startService()" *ngIf="btnStyle" class="btn-default">
        <img src="assets/svgs/mic.svg" class="voice-search">
      </a>
      <a *ngIf="!btnStyle" class="btn-default">
        <img src="assets/svgs/Componentred.svg">
      </a>
    </div> -->
    <form [formGroup]="searchDataForm" #searchDataFormDir="ngForm" class="form-width">
      <div class="searchInput" *ngIf="!viewSearchFilter">
        <div class="search-box">
          <div fxLayoutAlign="center center" style="position: relative;">
            <button (click)="search_data($event)" type="submit" mat-button mat-icon-button class="searchIcon"
              matTooltip="Buscar">
              <img src="/assets/search/searcg-icon.svg" alt="">
            </button>
            <mat-form-field class="searchField" appearance="standard" fxFlex="100">
              <input (input)="autoSuggest($event)" (keyup.enter)="search_data($event)" #myInput matInput name="search"
                placeholder="Type here to search" formControlName="search" class="search-input"
                [(ngModel)]="voiceSearch" class="mat-elevation-z0" autocomplete="off">

            </mat-form-field>
            <div class="mic-clear">
              <ng-container *ngIf="searchDataForm.value.search">
                <div (click)="clear()">
                  <span><img src="assets/arrows_icons/VectorClose.svg" alt="" width="25px"
                      style="cursor: pointer;"></span>
                </div>
              </ng-container>
              <div class="mic-mobile-icon-1" *ngIf="btnDisable">
                <img src="assets/img/microphone_unactive.svg" alt="artofliving" (click)="startService()"
                  *ngIf="btnStyle" width="30px" style="cursor: pointer;">
                <img src="assets/img/microphone-_active blue.svg" alt="artofliving" *ngIf="!btnStyle" width="30px"
                  class="filled-icon" width="30px">
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <!-- content -->
  <div *ngIf="show" class="row noSearchResult">
    <ng-container>
      <div class=" searchText">
        No Search results found Try again!
      </div>
    </ng-container>
  </div>
  <ng-container *ngIf="searchRes">
    <div class="search-content" fxLayout="row" fxLayoutAlign="space-between">
      <div class="popularSearch" fxLayout="row" fxLayoutGap="20px">
        <p class="popular-search">
          <a [ngStyle]="{'color':popularSearch ? 'white' : '#9B9B9B' }" class="font-20" (click)="popular()">POPULAR
            SEARCHES</a>
        </p>
        <p class="recentSearch">
          <a class="font-20" [ngStyle]="{'color':popularSearch ? '#9B9B9B' : 'white' }" (click)="recent()">RECENT
            SEARCHES</a>
        </p>
      </div>

      <!-- <div class="setting-option">
              <mat-icon aria-hidden="false" (click)="showSetting()" svgIcon="setting"></mat-icon>
          </div> -->
    </div>

    <div *ngIf="popularSearch">
      <app-popular-search></app-popular-search>
    </div>
    <div *ngIf="!popularSearch">
      <app-recent-search></app-recent-search>
    </div>
  </ng-container>

  <ng-container *ngIf="!searchRes">
    <!-- <div id="searchDiv" *ngFor="let category of getUniqueCategories()">
      <h3>{{category}}</h3> -->
    <div class="search" fxLayout="row wrap" layout.xs="column" flexLayoutAlign="flex-start" style="margin-top: 20px;">
      <div *ngFor="let data of searchData" fxFlex="16.66%" fxFlex.xs="50%" fxFlex.sm="33.30%" fxFlex.md="20%"
        class="alt-brr-10 alt-p-3 ">

        <!-- <div class="free-icon" *ngIf="data.access_type=='free' "
            [ngStyle]="{'display':data.type=='circle'?'none':'block'}"> <img src="assets/svgs/free.svg" alt="abc">
          </div>
          <div class="crown" *ngIf="data.access_type=='paid' "
            [ngStyle]="{'display':data.type=='circle'?'none':'block'}"> <img src="assets/svgs/crown.svg" alt="abc">
          </div> -->
        <div class="">


          <div class="img-container" (click)="addRecentSearchData(data)">
            <div *ngIf="data.access_type == 'paid'  && !isSubscribed" class="crown">
              <img [src]="this.crownImg" alt="vive" loading="lazy" />
            </div>
            <div class="free-icon" *ngIf="data.access_type == 'free'  && !isSubscribed">
              <img [src]="freeImg" alt="vive" loading="lazy" />
            </div>
            <div *ngIf="data.is_live == '1' && data?.type != 'circle'" class="live-icon">
              <img [src]="liveImg" alt="">
            </div>
            <div *ngIf="data.is_group == 1">
              <img [src]="data.sliderImg || defaultThumb"
                [alt]="data.series_title + ' ' + data.season_title + ' - '+data.title"
                [title]="data.series_title + ' ' + data.season_title + ' - '+data.title"
                [ngStyle]="{'border-radius':'8px','height':'auto','width':'100%'}" class=" alt-brr-10" />
            </div>

            <div *ngIf="data.is_group == 0">
              <img [src]="data.sliderImg || defaultThumb" [alt]="data.title" [title]="data.title"
                [ngStyle]="{'border-radius':'8px','height':'auto','width':'100%'}" class=" alt-brr-10" />
            </div>
          </div>
          <div class="title-cont" [ngClass]="{ 'ellipsis': data.title?.length > 20 }">
            {{ data.title }}
          </div>

        </div>
      </div>

    </div>

    <!-- <div fxFlex="16.66%" fxFlex.xs="33.30%" fxFlex.sm="33.30%" fxFlex.md="20%" class="alt-brr-10 alt-p-3 "
          (click)="addRecentSearchData(data)">
          <mat-icon *ngIf="data.access_type=='paid' " class="crown" aria-hidden="false" svgIcon="crown"
            [ngStyle]="{'display':data.type=='circle'?'none':'block'}"></mat-icon>
          <div class="free-icon" *ngIf="data.access_type=='free' "
            [ngStyle]="{'display':data.type=='circle'?'none':'block'}"> <img src="assets/svgs/free.svg" alt="abc">
          </div>
          <div *ngIf="data.is_group == 1">
            <img [src]="data.sliderImg || defaultThumb"
              [alt]="data.title + ' ' + data.series_title + ' ' + data.season_title"
              [title]="data.title + ' ' + data.series_title + ' ' + data.season_title"
              [ngStyle]="{'border-radius':'8px','height':'auto','width':'100%'}" class="alt-brr-10" />
          </div>

          <div *ngIf="data.is_group == 0">
            <img [src]="data.sliderImg || defaultThumb" [alt]="data.title" [title]="data.title"
              [ngStyle]="{'border-radius':'8px','height':'auto','width':'100%'}" class="alt-brr-10" />
          </div>

        </div> -->



    <!-- </div> -->
  </ng-container>



</div>


<ng-template #editCompanyModal>
  <div class="filterData">
    <div class="modal-container">
      <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayoutAlign="flex-end">

          <img src="assets/arrows_icons/VectorClose.svg" (click)="close()" alt="">

        </div>
        <form [formGroup]="searchForm" #searchFormDir="ngForm" (ngSubmit)="onFilterFOrmSubmit()">

          <div class="example-container filters-mar">
            <mat-label>Year</mat-label>
            <mat-form-field appearance="outline">
              <mat-select formControlName="year" multiple placeholder="Choose Year" [disableOptionCentering]="true">

                <mat-option *ngFor="let x of year" [value]="x">{{x}}</mat-option>
              </mat-select>
            </mat-form-field>


            <mat-label>Genre</mat-label>
            <mat-form-field appearance="outline" class="filters-mar">

              <mat-select formControlName="genre" multiple placeholder="Choose Genre" [disableOptionCentering]="true">

                <mat-option *ngFor="let x of genre" [value]="x">{{x}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-label>Language</mat-label>
            <mat-form-field appearance="outline" class="filters-mar">

              <mat-select formControlName="language" multiple placeholder="Choose Language"
                [disableOptionCentering]="true">

                <mat-option *ngFor="let l of languageData" [value]="l">{{l}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-label>Category</mat-label>
            <mat-form-field appearance="outline" class="filters-mar">


              <mat-select formControlName="category" multiple placeholder="Choose Category"
                [disableOptionCentering]="true">

                <mat-option *ngFor="let  c of returncategory" [value]="c">{{c}}</mat-option>
              </mat-select>
            </mat-form-field>

          </div>
          <!-- <div class="form-group">
            <label>Year</label>
            <select class="form-control" formControlName="year">
              <option [ngValue]="null" disabled>Choose Year</option>
              <option *ngFor="let x of year">{{x}}</option>
      
            </select>
        
      
          </div> -->
          <!-- <ng-select [items]="year" appendTo="body" [hideSelected]="true"
            [multiple]="false" bindLabel="name" formControlName="year"
            placeholder="Select Regions">
        </ng-select> -->

          <!-- <div c1166289lass="form-group">
            <label>Genre</label>
            <select class="form-control" formControlName="genre">
              <option [ngValue]="null" disabled>Choose Genre</option>
              <option *ngFor="let x of genre">{{x}}</option>
            </select>
      
          </div> -->




          <!-- <div class="form-group">
            <label>Language</label>
            <select class="form-control" formControlName="language">
              <option [ngValue]="null" disabled>Choose Language</option>
              <option *ngFor="let l of languageData">{{l}}</option>
      
      
            </select>
           
      
          </div> -->

          <!-- <div class="form-group">
            <label>Category</label>
            <select class="form-control" formControlName="category">
              <option [ngValue]="null" disabled >Choose Category</option>
              <option *ngFor="let c of returncategory">{{c}}</option>
      
            </select>
           
      
          </div> -->
          <!-- <h3>Category</h3> -->

          <br>
          <div class="row btnsFilter">
            <div class="col-md-6 clearFilter">
              <button type="reset" (click)="clearFIlters()">
                Clear Filters
              </button>
            </div>
            <div class="col-md-6 submitFilter">
              <button type="submit">
                Submit
              </button>
            </div>
          </div>


        </form>

      </div>
    </div>
  </div>
</ng-template>