<!-- <section class="bg">
    <iframe id="myIframe" scrolling="yes" class="site-content" src="https://ott1061.s3.ap-south-1.amazonaws.com/multitv/configration/1061/privacypolicy.html"    height="100vh" 
    width="100%" frameborder="0" data-view="full-screen preview"></iframe>
</section> -->

<div class="container privacy-container">
    <h1 (click)="back()"  class="font-36 mb-0 pb-4"><img src="assets/svgs/Vector-back.svg" width="30px" style="cursor: pointer;"
        alt="abc"> &nbsp; Privacy Policy </h1>
    <div class="privacy-para" [innerHTML]=privacy></div>
</div>