<div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <div class="alt-login-img">
            <img src="https://static.creatorott.com/configration/5006/5006_68c8fd27e9291.png" alt="vive" class="vive-img">
        </div>
        <button (click)="close()" class="close-btn">
            <img src="assets/arrows_icons/VectorClose.svg" alt="">
        </button>
        <br>
        <div class="alt-login-img">
            <img src="assets/svgs/Correct.svg" alt="vive" class="vive-img">
        </div>
        <br>
            <p style="color:white;font-size:16px;color: #DEDEDE;">
               Your Query has been sent Successfully!
            </p>
              
    </div>
</div>
