
.adulttHeading{color: white;font-size: 18px;font-family: var(--theme-font-style) !important;}

.btn-one {
    color: #fff !important; 
    background-color: none !important;
    /* border-color: #6b6b6b !important; */
    border: 1px solid #6b6b6b;
    padding: 13px;
    border-radius: 4px;
    color: white;
    background-color: red;
    font-size:19px;
    width: 100%;
}
.btn-two {
    color: #fff !important; 
    background-color: none !important;
    /* border-color: #858585 !important; */
    border: 1px solid #6b6b6b;
    padding: 13px;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    font-size: 19px;
    width: 100%;
}
.btn-two:hover{
    background-color: none !important; 
}