<div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <div class="alt-login-img" *ngIf="baseSign.geoLocation.logo.is_allow == 1">
            <img src="{{baseSign.geoLocation.logo.web}}" alt="" class="vive-img">
        </div>
       
     <br>

        <div >
            <p style="color:#F2F2F2;font-size:16px;" *ngIf="baseSign.geoLocation.description.is_allow == 1">
                {{baseSign.geoLocation.description.text}}
             </p>
             <br>
             <button (click)="close()" type="button" *ngIf="baseSign.geoLocation.submit_btn.is_allow == 1" class="geographBtn"> {{baseSign.geoLocation.submit_btn.text}}</button>
        </div>    
    </div>
</div>
