<div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <span class="img-logo">
            <img src="https://static.creatorott.com/configration/5006/5006_68c8fd27e9291.png" alt="vive">
        </span>
        
        <button (click)="close()" class="close-btn">
            <img src="assets/arrows_icons/VectorClose.svg" alt="">
        </button>
        <br><br>
        <div class="alt-login-img">
            <img src="assets/svgs/info.svg" alt="vive">
        </div>
<br>
   
          
            <p style="font-size:18px;color: #DEDEDE;">
               {{value}}
            </p>
            
         
            <!-- <div class="row">
                <div class="col-6">
                    <button type="button"  class="btn-one">Yes</button>
                </div>
                <div class="col-6">
                    <button (click)="close()" type="button" class="btn-one">NO</button>
                </div>
            </div> -->

       
    </div>
</div>

