.adulttHeading {
  color: white;
  font-size: 18px;
  font-family: var(--theme-font-style) !important;
}

.btn-one {
  color: #fff !important;
  background-color: none !important;
  /* border-color: #858585 !important; */
  border: 1px solid #858585;
  padding: 13px;
  border-radius: 4px;
  color: white;
  background-color: transparent;
  font-size: 19px;
  width: 100%;
}

.verify-input {
  padding: 24px !important;
}
.verify_forgot {
  color: #dedede;
  font-size: 12px;
  cursor: pointer;
}
.verify_submit {
  width: 100%;
  background-color: var(--theme-secondary-color);
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  border-radius: 4px;
}
.showBtn {
  position: absolute;
  top: 32%;
  right: 5%;
}

#myText11 {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  text-decoration: none;
  margin-bottom: 15px;
  border: 1px solid var(--theme-imput-border-color) !important;
  color: var(--theme-input-text-color) !important;
  background: none;
  font-family: var(--theme-font-style);
  font-size: 16px;
  line-height: 27px;
  position: relative;
}
