<div class="details-wrapper sec-top">
    <div class="episodes-wrapper row  " *ngIf="showData.is_group==1 && showData.groupInfo!=null">
        <div class="col-md-12 p-0">
            <h1 class="font-36"><span class="mr-3 arrow-right">
                        <img src="assets/svgs/Vector-back.svg" style="cursor: pointer;" (click)="backClicked()"
                            alt="vive">
                </span>{{title}} Episodes</h1>
            <div class="details-title">
                <span class="category" *ngIf="navvar?.Others?.age_rating==1">
                    <p *ngIf="showData.age_group != -1 && showData.age_group != 999">U/A {{showData.age_group}}+
                    </p>
                    <p *ngIf="showData.age_group == -1"> A </p>
                    <p *ngIf="showData.age_group == 999">U </p>
                </span>
                <ul class=" sub-details" *ngIf="showData.meta">
                    <li *ngIf="showData.meta.year && navvar?.Others?.year==1"> {{showData.meta.year | date:'y'}}</li>
                    <li *ngIf="showData.meta.language && navvar?.Others?.language==1"> {{showData.meta.language}}</li>
                        <li *ngIf="showData.meta.genre && navvar?.Others?.genre==1"> {{showData.meta.genre.split(',')[0]}}</li>
                        <li *ngIf="showData.meta.genre.split(',')[1] && navvar?.Others?.genre==1"> {{showData.meta.genre.split(',')[1]}}</li>
                </ul>

            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 min-deta-watch" *ngFor="let card of seasonSelectData;let i = index"
            style="cursor: pointer;  position: relative;">
            <div class="img-deta-child">
                <img [src]="card.sliderImg" (click)="EpisodeNavigation(card)" class="" (error)="onImgError($event)"
                        [alt]="card.series_title + ' ' + card.season_title + ' - '+card.title" [title]="card.series_title + ' ' + card.season_title + ' - '+card.title" width="100%">
                <!-- <mat-icon *ngIf="card.access_type=='paid' && card.is_ad!=1" class="crown" aria-hidden="false" svgIcon="crown"
                        [ngStyle]="{'display':card.type=='circle'?'none':'block'}"></mat-icon>
                    <div class="free-icon" *ngIf="card.access_type=='free' && card.is_ad!=1"
                        [ngStyle]="{'display':card.type=='circle'?'none':'block'}"> <img
                            src="assets/svgs/Group 5070.svg" alt="abc">
                    </div> -->
                <!-- <div *ngIf="card.access_type == 'paid'  && !isSubscribed" class="crown">
                        <img src="assets/icons/dimond.svg" alt="vive" loading="lazy" />
                      </div>
                      <div class="free-icon" *ngIf="card.access_type == 'free'  && !isSubscribed">
                        <img src="assets/icons/FreeIcon.svg" alt="vive" loading="lazy" />
                      </div> -->
                <div class="containerContent" *ngIf="card.is_ad!=1">
                    <div class="content">
                        <p class="font-14 t-white"> {{(card.season_number.length == 0 || card.season_number == 'S0') ? "
                            " : card.season_number}} {{(card.episode_number.length == 0 || card.episode_number == 'E0')
                            ? '' : card.episode_number }} {{card.season_number.length == 0 || card.episode_number.length
                            == 0 ? '': ':'}} {{card.title.length
                            <= 35? card.title.slice(0,35) : card.title.slice(0,35) + "..." }}</p>
                    </div>

                    <p class="t-y font-12">{{card.duration.slice(3,5)}}m <span *ngIf="navvar?.Others?.year==1">|
                            {{card.year}}</span><span class="category">
                            <span
                                *ngIf="card.age_group != -1 && card.age_group != 999 && navvar?.Others?.age_rating==1">
                                | U/A {{card.age_group}}+</span>

                            <span *ngIf="card.age_group == -1 && navvar?.Others?.age_rating==1"> | A </span>
                            <span *ngIf="card.age_group == 999 && navvar?.Others?.age_rating==1"> | U </span>
                        </span>
                    </p>
                    <!-- <p class="t-y font-12">{{card.duration}} | 2022 | U/A 13+</p> -->
                    <p class="font-14 subtitle" *ngIf="card.des && card.des.length > 50">
                        {{ card.des.substring(0, 50) + '...' }}
                    </p>
                    <p class="font-14 subtitle" *ngIf="card.des && card.des.length <= 50">
                        {{ card.des }}
                    </p>

                </div>
            </div>
        </div>

    </div>


</div>