
<div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <span class="img-logo" *ngIf="baseLine?.ageConstent?.logo?.is_allow == 1">
            <!-- <img src="{{baseLine.ageConstent.logo.web}}" alt="dangal" loading="lazy"> -->
        </span>
        <br>
        <div>
            <p class="adulttHeading">Hi, we're growing!</p>
            <p class="adultContent" >
                 We'll notify you as soon as we're available in your
    region. Stay tuned!
            </p>
           

        </div>
    </div>
</div>