<div class="sec-top" >
    <h1 class="mb-0 pb-4 accountHeading font-36"><span class="mr-3 arrow-right">
            <!-- <mat-icon (click)="back()" class="arrow not-arrow" aria-hidden="false" svgIcon="back-arrow"></mat-icon> -->
            <img src="assets/svgs/Vector-back.svg" style="cursor: pointer;" class="arr-icon" (click)="back()" alt="vive" aria-hidden="false" class="f-size">
        </span>Notification</h1>
    <div class="noti-header" *ngIf="notifyData.is_allow==1">
        <div class="noti">
          {{notifyData.empty_notification_text}}
        </div>

    </div>
</div>