<div fxLayout="column" fxLayoutGap="10px">
    <div class="alt-login-content">
        <div class="alt-login-img">
            <img src="https://static.creatorott.com/configration/5006/5006_68c8fd27e9291.png" alt="vive">
        </div>
        <p class="text-white">LazyPay has sent an OTP on your number  </p>

        <button (click)="onNoClick()" class="close-btn">
            <img src="assets/arrows_icons/VectorClose.svg" alt="">
        </button>
        
        
        <ng-otp-input  class="lazypay-dialog-mobile"  type="tel" inputmode="numeric" #ngOtpInput [formCtrl]="otpInput" (onInputChange)="onOtpChange($event)" [config]="config"  autocomplete="one-time-code" >
        </ng-otp-input>
        <mat-error *ngIf="show && !otpInput.valid " class="mt-2" style="text-align:center !important;">OTP is required
        </mat-error>
        <mat-error *ngIf="!hide" class="mt-2" style="text-align: center !important;">Invalid OTP
        </mat-error>
        <br>
        
        <div *ngIf="timerHide" style="color: #FFFFFF;font-size: 12px;font-weight:600">OTP will expire in {{display}} minutes</div><br>
        <div class="otpResend"> <button style="border: none;
            background-color: transparent;" [disabled]="clicked"> Didn't receive the OTP? <button [disabled]="clicked || timerHide"
    [ngClass]="{'disabled-resend': clicked || timerHide}"
                    (click)="resendOtp()" class="insideBtn">Resend</button></button></div>
        <div class="alt-m-4">
            <button type="submit" class="alt-btn-p alt-w-100" (click)="onVerifyOtp()">Submit</button>
        </div>

        


    </div>
   
</div>
