<div class="alt-login-content">
  <div class="alt-login-img" *ngIf="baseLine.profileEmailVerify.logo.is_allow == 1">
    <img src="{{baseLine.profileEmailVerify.logo.web}}" alt="vive" class="vive-img">
  </div>
  <h3 class="verifyEmail" *ngIf="baseLine.profileEmailVerify.heading.is_allow == 1">
    {{baseLine.profileEmailVerify.heading.text}}</h3>
  <hr>
  <button (click)="onNoClick()" class="close-btn">
    <img src="assets/arrows_icons/VectorClose.svg" alt="">
  </button>
  <p class="verificationCOde">Please enter the 4 digit verification <br>code send to <span
      style="color:#B4B4B4 ;">{{userEmail}}</span> </p>
  <form [formGroup]="emailLoginForm" #emailLoginFormDir="ngForm" (ngSubmit)="onSubmitEmailLogin()">
    <div class="alt-m-2 formField">
      <ng-otp-input type="tel" inputmode="numeric" [formCtrl]="otpInput" (onInputChange)="onOtpChange($event)"
        [config]="config">
      </ng-otp-input>
      <mat-error *ngIf="show && !otpInput.valid " class="mt-2"
        style="text-align:center !important;">{{errorMsg.otpLengthError}}
      </mat-error>
      <mat-error *ngIf="!verifyOtp" style="margin-top: 20px !important; font-size: 14px !important; ">
        {{errorMsg.messageIncorrectOtp}}
      </mat-error>


      <br>
      <div *ngIf="!otpInput.value">
        <div *ngIf="timerHide" style="color: #FFFFFF;font-size: 12px;">OTP will expire in {{display}} minutes
        </div>
        <div class="otpResend mb-3">
          <button style="border: none;background-color: transparent;" [disabled]="clicked" type="button"
            *ngIf="baseLine.profileEmailVerify.resent_text.is_allow == 1">
            {{baseLine.profileEmailVerify.resent_text.text}} <button [disabled]="clicked || timerHide"
              [ngClass]="{'disabled-resend': clicked || timerHide}" type="button"
              *ngIf="baseLine.profileEmailVerify.submit_btn.is_allow == 1" (click)="resendOtp()"
              class="insideBtn">{{baseLine.profileEmailVerify.resent_btn.text}}</button> </button>
        </div>
      </div>
      <mat-error *ngIf="!otpExceeded"
        style="text-align:center !important; margin-top: 20px !important; font-size: 14px !important; ">
        {{errorMsg.messageOtpResendLimitReached}}
      </mat-error>


    </div>
    <div class="alt-m-2 " style="width:100%; display: flex; justify-content:center;
        ">
      <button type="submit" class="alt-btn-p"
        *ngIf="baseLine.profileEmailVerify.submit_btn.is_allow == 1">{{baseLine.profileEmailVerify.submit_btn.text}}</button>
    </div>
  </form>







</div>