<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- <div class="center">
                <h1 class="center-text">Cancel</h1>
               </div> -->
               <div class="center">
                <img class=" img" src="./assets/svgs/failed.png" alt="vive">
                <h5 class="text-white text-center font-weight-bold">OOPS..!!!</h5>
                <h6 class="text-white text-center mb-4 mt-2"> Transaction Failed</h6>
                <h1 class="center-text" (click)="gotoSubscribe()">TRY AGAIN</h1>
                <a class="a" (click)="openContactUsDialog()"> Contact Support</a>
            </div>

        </div>

    </div>

</div>