<div class="section-payment">

    <div class="row">
        <div class="col-lg-6 col-6">
            <div class="left">
                <p> <img class="img-fluid" src="assets/svgs/account/AmazonPay.svg" alt="abc"> &nbsp; AmazonPay</p>
            </div>
        </div>

        <div class="col-lg-6 col-6">
            <div class="right">
                <button class="account-linked"><span style="margin-right: 10px;"><img 
                            src="assets/icons/delete.svg" alt="abc"></span><span style="font-size:15px">Remove</span></button>
            </div>

        </div>
    </div>
    <hr>
    <div class="row">

        <div class="col-lg-6 col-6">
            <div class="left">
                <p> <img class="img-fluid" src="assets/svgs/account/GooglePay.svg" alt="abc"> &nbsp; Google Pay</p>
            </div>

        </div>
        <div class="col-lg-6 col-6">
            <div class="right">
                <button class="google-play"><span style="font-size:16px">Link Account</span></button>
            </div>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-6">
            <div class="left">
                <p><img class="img-fluid" src="assets/svgs/account/paytm.svg" alt="abc"> &nbsp; Paytm</p>
            </div>

        </div>
        <div class="col-lg-6 col-6">
            <div class="right">
                <button class="google-play"><span style="font-size:16px">Link Account</span></button>
            </div>

        </div>
    </div>
    <hr>

    <div class="newAccount-btn">
        <button><span><img src="assets/svgs/plus.svg" alt="abc"></span>Add New account</button>
    </div>

</div>