.showmore-modal{
    background-color: #4a4a4a !important;
    border-radius: 17px;
    padding: 20px;
    max-height: calc(100vh - 110px);
    // overflow-y: scroll;
    color: #ffffff;
    position: relative;
}



.showmore{
    margin-top: 25px;
}