<div fxLayout="column" fxLayoutGap="10px">
    <div class="parental-control-content">
        <span class="img-logo-1" *ngIf="baseJson?.language?.logo?.is_allow == 1"  >
            <img src="{{baseJson?.language?.logo?.web}}" alt="" class="vive-img">
        </span>

        <button (click)="close()" class="close-btn">
            <img src="assets/arrows_icons/VectorClose.svg" alt="">
        </button>
        <br>

        <div>
            <p  *ngIf="baseJson?.language?.description?.is_allow == 1" class="regionalPara" >{{baseJson?.language?.description?.text}}</p>
            <div class="subtitleContent">
                <p *ngFor="let x of mains" style="cursor: pointer;" (click)="subtitleSet(x.page_title)">
                    {{x.name}}
                    <span *ngIf="selected==x.page_title"><img src="assets/svgs/tick.svg" alt="vive"></span></p>
            </div>
        </div>

    </div>
</div>