.showBtn {
    width: 6%;
    position: absolute;
    right: 0;
}

.showBtnEmail {
    position: absolute;
    right: 0;
}




.verifyEmail {
    text-align: center;
    margin-top: 20px;
    display: flex !important;
    justify-content: center;

    letter-spacing: 0px !important;
}

.verificationCOde {
    text-align: center;
    font-size: normal normal medium 18px/24px Gotham HTF !important;
}
.correct-img img{
    margin-top: 65px !important;
    height: 75px !important;
}

.submitEmailLink{
    color: var(--white) !important;
    background-color: none !important;
    border: 1px solid var(--theme-secondary-color);
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    background-color: var(--theme-secondary-color);
    font-family: var(--theme-font-style) !important;
}

