<div class="alt-login-content">
    <div class="alt-login-img">
        <img src="https://static.creatorott.com/configration/5006/5006_68c8fd27e9291.png" alt="vive" class="vive-img">
    </div>
    <h3 class="text-white verifyEmail ">Link Sent!</h3>

    <!-- <button (click)="onNoClick()" class="close-btn">
        <img src="assets/arrows_icons/VectorClose.svg" alt="">
    </button> -->
 
<div>
  <p class="text-white">Verification link has been send to your register email ID
    link is only valid for 24 Hrs.</p>
    <button class="btn submitEmailLink" (click)="onClickClose()">ok</button>
  
</div>

</div>