<!-- 
<div class="profile">
    <div id="content-1" *ngIf="!checked">
        <div>
            <div class="container-fliud" fxFlex="100" style="gap: 12px;">
                <div class="profile-pic" fxFlex="8"><img src="assets/new_icons/profile-pic.png" alt=""></div>
                <div class="profile-content" fxFlex="92">
                    <div class="IND" *ngIf="this.country_code == 'IN' && this.country_name == 'India'">

                        <div>
                            <div class="" *ngIf="accountdata?.first_name">
                                <div class="aol-inputt">
                                    <div class="nameprofile">{{accountdata?.first_name}}</div>

                                </div>
                            </div>
                            <div class="">
                                <div class="aol-inputt">

                                    <input type="text" placeholder="Email" [value]="accountdata?.email" disabled
                                        class="inp-width" />
                                    <div class="verify">
                                        <mat-icon *ngIf="emailTick" aria-hidden="false" svgIcon="tick"></mat-icon>
                                        <button id="verify" *ngIf="this.accountdata?.email != ''  && !emailTick "
                                            (click)="otpForgot()">VERIFY</button>
                                        <a class="emailLink" *ngIf="this.accountdata?.email ==''" (click)="linkEmail()"
                                            style="border-bottom:1px solid var(--theme-secondary-color)">link email
                                            id</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>

                            <div class="">
                                <div class="aol-inputt-1">
                                    <div class="num-inputt">
                                        <div class="country-code">
                                            +91
                                        </div>
                                        <div class="line_country">
                                            |
                                        </div>
    
                                        <input type="tel" inputmode="numeric" placeholder="Mobile Number" disabled
                                            [value]="accountdata?.contact_no" class="inp-width-1" />
                                    </div>
                             
                                    <div class="verify">
                                        <mat-icon class="" aria-hidden="false" *ngIf="showMobileTick" svgIcon="tick">
                                        </mat-icon>
                                        <div class="text-value" *ngIf=" this.accountdata?.contact_no==''">
                                            <a class="emailLink" *ngIf="this.accountdata?.contact_no ==''"
                                                (click)="linkMobile()"
                                                style="border-bottom:1px solid var(--theme-secondary-color)">link mobile
                                                no.</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


            
                            <div class="">
                                <div class="aol-inputt">
                                    <input type="text" placeholder="Gender" [value]="accountdata?.gender" disabled
                                        class="inp-width" />
                                </div>
                            </div>

                        </div>
              
                    </div>
                    <div class="ROW" *ngIf="this.country_code != 'IN' && this.country_name != 'India'">
                        <div>
                            <div class="col-lg-6 " style="display: flex;">
                                <div class="aol-inputt">
                                    <div class="nameprofile">{{accountdata?.first_name}}</div>
                                    <input type="text" placeholder="Email" [value]="accountdata?.email" disabled
                                        class="inp-width" />
                                    <div class="verify">
                                        <mat-icon *ngIf="emailTick" aria-hidden="false" svgIcon="tick"></mat-icon>
                                        <button id="verify" *ngIf="this.accountdata?.email != ''  && !emailTick "
                                            (click)="otpForgot()">VERIFY</button>
                                        <a class="emailLink" *ngIf="this.accountdata?.email ==''" (click)="linkEmail()"
                                            style="border-bottom:1px solid var(--theme-secondary-color)">link email
                                            id</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>



                            <div class="col-lg-6">
                                <div class="aol-inputt">
                                    <input type="text" placeholder="Gender" [value]="accountdata?.gender" disabled
                                        class="inp-width" />
                                </div>
                            </div>

                        </div>
                        <div>




                        </div>
                    </div>

                    <div class="btnn-edit">
                        <button class="edit-btn" (click)="editProfile()">
                            Edit Profile
                        </button>
                    </div>
                </div>





            </div>


        </div>

    </div>
    <div id="content-1" *ngIf="checked">
        <div class="edit-head">
            Edit Profile
        </div>
        <div class="container-fliud">

            <div class="IND" *ngIf="this.country_code == 'IN' && this.country_name == 'India'">
                <form [formGroup]="profileForm" #profileFormDir="ngForm" novalidate="" name="form"
                    class="form-account-edit ng-pristine ">
                    <div class="row" style="display: flex; flex-direction: column; gap: 25px;">
                        <div class="col-lg-5">
                            <div class="aol-inputtt">
                                <input type="text" placeholder="Enter Your Full Name" formControlName="name"
                                    maxlength="50" class="inp-widthh update-input" />
                    
                                <div *ngIf="profileForm.controls['name'].invalid || nameLength === maxLength && (profileForm.controls['name'].touched)"
                                    style="color: var(--error-color); font-size: 13px; position: absolute; text-align: left; line-height: 15px;">
                                    <div *ngIf="profileForm.controls['name'].errors?.['required']">
                                        Please Enter Full Name
                                    </div>

                                   
                                    <div *ngIf="nameLength === maxLength">
                                        Maximum length of characters reached
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="aol-inputt">
                                <input type="text" placeholder="Email" readonly formControlName="email"
                                    class="inp-widthh update-input" />
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="aol-inputtt-1">
                                <div class="country-code update">
                                    +91
                                </div>
                                <div class="line_country update">
                                    |
                                </div>
                                <div class="verify1">
                                    <mat-icon class="" aria-hidden="false" *ngIf="showMobileTick" svgIcon="tick">
                                    </mat-icon>
                                    <div class="text-value" *ngIf=" this.accountdata?.contact_no==''">
                                        <a class="emailLink" *ngIf="this.accountdata?.contact_no ==''"
                                            (click)="linkMobile()" style="border-bottom:1px solid white">link mobile
                                            no.</a>
                                    </div>
                                </div>
                                <input type="tel" inputmode="numeric" placeholder="Mobile Number" disabled
                                    [value]="accountdata.contact_no" class="inp-width-1 update-input inp-update" />


                            </div>



                            <div class="error-profile-1"
                                *ngIf="profileForm.controls['phone'].invalid && profileFormDir.submitted">
                                Please Enter Valid Mobile Number</div>


                        </div>
                        <div class="col-lg-5">
                            <div class="aol-select">
                           
                                <div class="aol-select">
                                    <select name="cars" id="cars" class="arrow-aol" formControlName="gender">
                                        <option value="" disabled selected hidden>
                                            Select Gender
                                        </option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">



                    </div>
                    <div class="row">
                        <div class="col-lg-6">

                        </div>
     
                    </div>

                    <div class="btnn-edit btnn-edit-1">
                        <button class="edit-btn-1" (click)="back()">
                            Go back
                        </button>
                        <button class="edit-btn-1" (click)="update_value()">
                  
                            Save Changes
                        </button>
                    </div>
                </form>
            </div>
            <div class="ROW" *ngIf="this.country_code != 'IN' && this.country_name != 'India'">
                <form [formGroup]="profileForm" #profileFormDir="ngForm" novalidate="" name="form"
                    class="form-account-edit ng-pristine ">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="aol-inputt">
                                <input type="text" placeholder="Enter Your Full Name" formControlName="name"
                                    maxlength="50" class="inp-width" />
    
                                <div *ngIf="profileForm.controls['name'].invalid || nameLength === maxLength"
                                    style="color: #FF8787; font-size: 13px; position: absolute; text-align: left; line-height: 15px;">
                                   
                                    <div *ngIf="profileForm.controls['name'].errors?.['required']">
                                        Please Enter Full Name
                                    </div>

                
                                    <div *ngIf="nameLength === maxLength">
                                        Maximum length of characters reached
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="aol-inputt">
                                <input type="text" placeholder="Email" readonly formControlName="email"
                                    class="inp-width" />
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="aol-select">
                          
                                <div class="aol-select">
                                    <select name="cars" id="cars" class="arrow-aol" formControlName="gender">
                                        <option value="" disabled selected hidden>
                                            Select Gender
                                        </option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">

                        </div>
       
                    </div>

                    <div class="btnn-edit">
                        <button class="edit-btn-1" (click)="update_value()">
                            UPDATE
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div> -->

<div class="profile">
    <div class="row">
        <div class="profile-section col-lg-5" *ngIf="!checked">
            <div class="profile-pic">
                <img src="assets/new_icons/profile-pic.png" alt="Profile Picture"  class="vive-img">
            </div>
            <div class="profile-details">
                <p *ngIf="accountdata?.first_name"><strong>{{accountdata?.first_name}}</strong></p>
                <div class="email-pro">
                    <p>{{accountdata?.email}}
                    </p>
                    <div class="verify"> <img *ngIf="emailTick" src="assets/vive/charm_tick.svg" alt="">
                        <span *ngIf="this.accountdata?.email != ''  && !emailTick " (click)="otpForgot()" class="link">Verify</span>
                        <a *ngIf="this.accountdata?.email ==''" (click)="linkEmail()" class="link">link email
                            id</a>
                    </div>

                </div>

                <p class="email-pro" *ngIf="this.country_code == 'IN' && this.country_name == 'India'">
                    <ng-container *ngIf="accountdata?.contact_no && accountdata?.contact_no !== ''; else linkMobileTpl">
                        <div class="con">
                            +91-{{ accountdata?.contact_no }}
                        </div>
                        <img *ngIf="showMobileTick" src="assets/vive/charm_tick.svg" alt="">
                    </ng-container>
                </p>

                <ng-template #linkMobileTpl>
                    <div>
                        +91 - Mobile no.
                    </div>
                    <span class="link" (click)="linkMobile()">link mobile no.</span>
                </ng-template>
                <p>
                    <ng-container *ngIf="accountdata?.gender && accountdata?.gender !== ''">
                        {{accountdata?.gender}}
                    </ng-container>
                </p>
                <button class="edit-btn" (click)="editProfile()">
                    Edit Profile
                </button>
            </div>
        </div>
    </div>

    <div class="edit-section" *ngIf="checked">
        <div class="edit-head">
            Edit Profile
        </div>
        <form [formGroup]="profileForm" #profileFormDir="ngForm" novalidate="" name="form" class="form-account-edit">
            <div class="row" style="display: flex; flex-direction: column; gap: 25px;">
                <div class="col-lg-5">
                    <div class="aol-inputtt">
                        <input type="text" placeholder="Enter Your Full Name" formControlName="name" maxlength="50"
                            class="inp-widthh update-input" />

                        <div *ngIf="profileForm.controls['name'].invalid || nameLength === maxLength && (profileForm.controls['name'].touched)"
                            style="color: var(--error-color); font-size: 13px; position: absolute; text-align: left; line-height: 15px;">
                            <div *ngIf="profileForm.controls['name'].errors?.['required']">
                                Please Enter Full Name
                            </div>

                            <div *ngIf="nameLength === maxLength">
                                Maximum length of characters reached
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="aol-inputt">
                        <input type="text" placeholder="Email" readonly formControlName="email"
                            class="inp-widthh update-input" />
                    </div>
                </div>
                <div class="col-lg-5" *ngIf="this.country_code == 'IN' && this.country_name == 'India'">
                    <div class="aol-inputtt-1">
                        <div class="country-code update">
                            +91
                        </div>
                        <div class="line_country update">
                            -
                        </div>
                        <div class="verify1">
                            <mat-icon class="" aria-hidden="false" *ngIf="showMobileTick" svgIcon="tick">
                            </mat-icon>
                            <div class="text-value" *ngIf=" this.accountdata?.contact_no==''">
                                <a class="emailLink" *ngIf="this.accountdata?.contact_no ==''"
                                    (click)="linkMobile()">link mobile
                                    no.</a>
                            </div>
                        </div>
                        <input type="tel" inputmode="numeric" placeholder="Mobile Number" disabled
                            [value]="accountdata.contact_no" class="inp-width-1 update-input inp-update" />


                    </div>



                    <div class="error-profile-1"
                        *ngIf="profileForm.controls['phone'].invalid && profileFormDir.submitted">
                        Please Enter Valid Mobile Number</div>


                </div>
                <div class="col-lg-5">
                    <div class="aol-select">
                        <div class="aol-select">
                            <!-- <select name="cars" id="cars" class="arrow-aol" formControlName="gender">
                                <option value="" disabled selected hidden>
                                    Select Gender
                                </option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select> -->
                            <div class="custom-select-wrapper" [formGroup]="yourForm">
                                <div class="custom-select" (click)="toggleDropdown()" [class.open]="dropdownOpen">
                                    <span class="selected">
                                        {{ selectedGender || 'Select Gender' }}
                                    </span>
                                    <img class="arrow" src="assets/vive/arrow-down.svg" alt="">
                                </div>
                                <ul class="custom-options" *ngIf="dropdownOpen">
                                    <li *ngFor="let gender of genderss" (click)="selectGender(gender)"
                                        [class.selected]="selectedGender === gender">
                                        {{ gender }}
                                    </li>
                                </ul>

                                <!-- Hidden actual formControl to bind the value -->
                                <input type="hidden" formControlName="gender" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">



            </div>
            <div class="row">
                <div class="col-lg-6">

                </div>

            </div>

            <div class="btnn-edit btnn-edit-1">
                <button class="save-btn" (click)="back()">
                    Go back
                </button>
                <button class="edit-btn-1" (click)="update_value()">

                    Save Changes
                </button>
            </div>
        </form>
    </div>

</div>