.adulttHeading {
    color: white;
    font-size: 16px;
    font-family: var(--theme-font-style) !important;
}

.submitBtn {
    background-color: #bebebe;
    padding: 30px;
}

.btn-danger {
    width: 90%;
    background-color: red;
}

.btn-one-1 {
    color:var(--white) !important;
    background-color: transparent !important;
    border: var(--theme-popup-border);
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    font-family: var(--theme-font-style) !important;
    transition: all 0.3s ease;
  }
  
  .btn-one-1:hover {
    background-color: var(--theme-secondary-color) !important;
    color: var(--white) !important;
    border-radius: 4px;
  }
  
  .btn-two-2 {
    // color: #6b6b6b !important;
    color: var(--white) !important;
    background-color: transparent !important;
    border: var(--theme-popup-border);
    padding: 12px;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    letter-spacing: 1px;
    font-family: var(--theme-font-style) !important;
    transition: all 0.3s ease;
  }
  
  .btn-two-2:hover {
    background-color: var(--theme-secondary-color) !important;
    color: var(--white) !important;
    border-radius: 4px;
  }
  

.d-flexi {
    margin-top: 12px;
    gap: 12px;
}

.adultContent {
    color: #aaaaaa;
    font-size: 14px;
    font-family: var(--theme-font-style) !important;
    // font-weight: 600;
}

@media screen and (max-width:572px) {
    .btn-one-1 {
        padding: 10px;
        font-size: 11px;
        // font-weight: bold;
    }

    .btn-two-2 {
        padding: 10px;
        font-size: 11px;
        // font-weight: bold;
    }

}