main {
    // margin: -90px 46px 10px 46px;
    //  margin: 10px 40px;
    min-height: 70vh;
    overflow: hidden;
    overflow-x: hidden;
}

.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    background:  linear-gradient(180deg,#0F0F0F 15.72%, rgba(16, 14, 34, 0) 90.77%);
    transition: all ease-out 1s;
}



// .active-nav {
//     background: #474747;
//     padding-left: 10px;
//     padding-right: 10px;
// }


@media screen and (max-width:992px) {
    
    .header{
        width: 100%;
    }
}
