<div class="rental" *ngIf="couponpageShow">
  <div class="row pay-full">
    <!-- <div  fxFlex.lg="70" fxFlex.gt-md="80" fxFlex.sm="90" fxFlex.xs="100">
      <div class="coupon-head">
        Coupon
      </div>
      <div class="rental-details row m-0">
        <!-- <h3>ANNUALLY</h3> -->
        <!-- <div class="single col-3 p-0">
          <h5>{{subscriptionMonth}} Device</h5> -->
          <!-- <h2>{{subscribeInfo1.currency}} {{subscribeInfo1.price}}</h2> -->
          <!-- <h2>{{this.subscriptionPrice.currency}}{{dd}}</h2> -->
          <!-- <h2>{{subscriptionPrice.price}}</h2>
          <h2>{{tot}}</h2>
        </div>
        <div class="rental_para col-9">
          <div class="no-markers" [innerHTML]="subscriptionPrice.des"></div> -->
          <!-- <p>Enjoy one year of access to the premium content in the Mustii App with {{subscriptionMonth}} subscription
            plan.</p> -->
          <!-- <div class="terms">
            *Terms and Conditions applicable
          </div>
        </div>

      </div> --> 
      <div class="coupon_apply">
        <form [formGroup]="RedeemForm" #FormDir="ngForm" (ngSubmit)="redeemSubmit()">
          <div class="input-coupon row mx-0">
            <div class="col-xl-4 col-lg-4 col-md-4 p-0">
              <input type="text" name="" id="" formControlName="redeem" class="input-coupon-aol" *ngIf="!couponHide"
                (input)="onOtpChange($event)" placeholder="Have a coupon code?">
              <div class="discountMsgZError-rental" *ngIf="showMsgError">*{{errorMsg.invalidVoucherCode}}!</div>
              <div class="discountMsgZError-rental" *ngIf="(RedeemForm.get('redeem')?.invalid && FormDir.submitted)">
                Please enter coupon code!
              </div>
              <div class="coupon-validate" *ngIf="couponHide">
                <div class="validate-text">
                  <div class="tick-icon">
                    <img src="assets/img/check-contained.svg" alt="" width="25px">
                  </div>
                  <div class="coupon-text">
                    <div class="coupon">
                      {{RedeemForm.value.redeem}} Applied
                    </div>
                    <div class="discount-aol">
                      <!-- <span class="line-through">{{subscribeInfo1.currency}} {{subscribeInfo1.price}}</span> <span> {{subscribeInfo1.currency}}
                        {{subscribeInfo1.price-discountedCouponCode.value}}</span>-->
                    </div>
                  </div>
                  <div class="remove-aol" (click)="removeCode()">
                    <a type="button">Remove</a>
                  </div>
                </div>
              </div>
              <div class="discountMsgZError-rental" *ngIf="couponHide">Coupon applied</div>

            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 padd-rental">
              <button class="btn_apply" type="submit" *ngIf="code">Check</button>
              <button class="btn_process-1" type="button" *ngIf="!code">Pay</button>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5 p-0">
              <button class="btn_process"  (click)="openPayment()" type="button" *ngIf="!couponHide">Pay without coupon
                code</button>
            </div>

          </div>
          <div class="btns_coupon">


          </div>
        </form>
      </div>
    </div>
    <!-- <div class="col-lg-5">
      <p>Choose Your Payment Method</p>
      <div class="payment-pg">
        <div class="pay-btn">
          <button (click)="openPayment()">UPI</button>
        </div>
        <div class="pay-btn">
          <button>Net Banking</button>
        </div>
        <div class="pay-btn">
          <button>
            Debit Card/Credit Card</button>
        </div>
        <div class="pay-btn">
          <button>Wallet</button>
        </div>
      </div>
    </div> -->
  </div>
<!-- </div> -->