<div fxLayout="column" fxLayoutGap="10px" class="alert-modal">
    <div class="alt-login-content">
        <div class="alt-login-img">
            <img src="https://static.creatorott.com/configration/5006/5006_68c8fd27e9291.png" alt="vive"  class="vive-img">
        </div>
        <button (click)="close()"  class="close-btn">
          <img src="assets/arrows_icons/VectorClose.svg" alt="">
        </button>
      <div class="matIcon">
        <mat-icon aria-hidden="false" svgIcon="info"></mat-icon>
      </div>
      <br>
      <div>
       <p>Please verify your Email ID</p>
      </div>
    </div>
</div>