.vjs-tech {
  height: 100% !important;
  width: 100% !important;
  position: relative;

  // object-fit: none !important;
}

.lock {
  position: absolute;
  left: 0;
  right: 0;
  // top: 35%;
  text-align: center;
  z-index: 10;
  margin-top: -40%;
}

#waterMarkLs {
  display: none;
  position: absolute;
  right: 2%;
  top: 3%;
}

.age {
  display: none;
}

.ima-ad-container {
  z-index: 11 !important;
}

.ag {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  z-index: 99;
}

.ag img {
  cursor: pointer;
}

.icons {
  width: 97%;
  position: absolute;
  /* top: 0; */
  text-align: end;
  z-index: 10;
  right: 2%;
  bottom: 1vh;

  img {
    padding: 18px;
  }
}

.lock h1 {
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.vjs-ended .vjs-poster {
  display: block;
  background-size: contain !important;
  background-position-x: right !important;
  background-position-y: inherit !important;
}

.showVideo .vjs-poster {
  background-size: contain !important;
  background-position-x: right !important;
  background-position-y: inherit !important;
}

.lock button {
  background: var(--theme-secondary-color);
  border: none;
  border-radius: 5px;
  padding: 15px 50px 15px 50px;
  color: white;
  font-size: 14px;
  font-family: var(--theme-font-style);
}

.agecon img {
  cursor: pointer;
}

.videopl {
  height: 100%;
  width: 100%;
  // object-fit: unset !important;
}

// .video-ls-dimensions {
//   height: 100% !important;
// }
.parentalbtn {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 4vh;
  top: 45%;
  z-index: 9;
}

.parentalbtn img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.moveToVideoJs span {
  border: 1px solid white;
  // padding: 5px 9px 3px 9px;
  opacity: 0.9;
  border-radius: 3px;
  font-size: 16px;
  font-family: var(--theme-font-style) !important;
}

.moveToVideoJs {
  position: absolute;
  top: 24px;
  z-index: 99;
  width: 100%;
  color: white;
  left: 20px;
}

//   main season

// .moveToVideoJs span {
//   border: 1px solid white;
//   padding: 5px 9px 3px 9px;
//   opacity: .9;
//   border-radius: 3px;
//   font-size: 16px;
//   font-family: var(--theme-font-style) !important;
// }

.season-head {
  font-size: 14px;
  display: block;
}

.season-head-2 {
  font-size: 16px;
  display: none;
}

.slide-para-2 {
  display: none;
}

.age {
  position: absolute;
  // top: 3%;
  z-index: 99;
  color: white;
}

#newElement {
  background-color: #2f312f;
  padding: 40px 20px 40px 20px;
}

.episodeSelector1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 999999999999999 !important;
  color: white;
  width: 100%;
  background: var(--theme-seasonselector-bg);
  // background: transparent linear-gradient(0deg, #100e22 28%, #100e2296 80%, #100e2200 100%) 0% 0% no-repeat padding-box !important;
  // background: transparent linear-gradient(0deg, #2D2D2D 28%, #0A0A0A96 80%, #30303000 100%) 0% 0% no-repeat padding-box;
}

@media screen and (max-width:992px) and (orientation: landscape) {
  .title {
    bottom: 6.3em !important;
  }
}

.title {
  display: none;
  position: absolute;
  z-index: 99;
  // bottom: 4.6em;
  bottom: 5em;
  right: 2em;
  // width: 100%;
  color: white;
  // left: 20px;
  // left: 85%;
  // bottom: 80px;
  // bottom: 20%;
  // width: 95%;
}

.title1 {
  display: none;
  position: absolute;
  z-index: 99;
  // width: 100%;
  color: white;
  bottom: 6.3em;
  right: 2em;
  // display: flex
  // ;
  //         align-items: center;
  //         justify-content: flex-end;
}

.title2 {
  display: none;
  position: absolute;
  z-index: 99;
  // width: 100%;
  color: white;
  // left: 20px;
  // bottom: 80px;
  bottom: 6.3em;
  right: 2em;

  // display: flex
  // ;
  //         align-items: center;
  //         justify-content: flex-end;
}

.title1 button {
  // background-color: white;
  // opacity: .8;
  // border: none;
  // color: black;
  // padding: 10px 25px;
  // text-align: center;
  // text-decoration: none;
  // display: inline-block;
  // font-size: 20px;
  // font-weight: bolder;
  // border-radius: 10px;
  background-color: rgba(16, 16, 16, 0.6);
  opacity: 0.8;
  border: 1.14px solid rgba(15, 190, 237, 1);
  color: rgba(255, 255, 255, 1);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  border-radius: 9.1px;
}

.title2 button {
  // background-color: white;
  // opacity: .8;
  // border: none;
  // color: black;
  // padding: 10px 25px;
  // text-align: center;
  // text-decoration: none;
  // display: inline-block;
  // font-size: 20px;
  // font-weight: bolder;
  // border-radius: 10px;
  background-color: rgba(16, 16, 16, 0.6);
  opacity: 0.8;
  border: 1.14px solid rgba(15, 190, 237, 1);
  color: rgba(255, 255, 255, 1);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  border-radius: 9.1px;
}

.maintitle {
  position: absolute;
  top: 4%;
  z-index: 99;
  left: 50%;
  text-transform: capitalize;
  color: white;
  font-size: 23px;
  font-weight: bolder;
}

.player-slick-carousel {
  position: relative;
  z-index: 999999 !important;
}

.player-slick-carousel ::ng-deep {
  width: 100%;
  overflow: hidden;
}

.player-slick-carousel ::ng-deep .slick-arrow {
  z-index: 9;
}

.player-slick-carousel ::ng-deep .slick-slider .slide img.d-block.img-fluid.w-100.default-carousel-main {
  /* max-height: 80vh; */
  border-radius: 10px;
}

.player-slick-carousel ::ng-deep .slick-prev {
  /* background: linear-gradient(to right, rgb(4 4 4 / 48%) 70%, rgba(4, 0, 14, 0) 100%, rgba(0, 0, 0, 0) 189%); */
  // background: linear-gradient(to right, rgba(30, 30, 30, 0.9803921569) 70%, rgba(4, 0, 14, 0) 100%, rgba(0, 0, 0, 0) 189%);
  // margin-top: -23px;
  width: 4%;
  left: 0%;
  left: 0%;
  // background: linear-gradient(to right, rgb(45,45,45) 70%, rgba(4, 0, 14, 0) 100%, rgba(0, 0, 0, 0) 189%);
  background: linear-gradient(to right,
      var(--theme-color) 70%,
      rgba(16, 14, 34, 0) 100%);
  padding-top: 5%;
  padding-bottom: 5%;
  color: #72202000 !important;
}

.player-slick-carousel ::ng-deep .slick-next {
  // margin-top: -23px;
  width: 4%;
  right: 0%;
  // background: linear-gradient(to left, rgb(45 45 45) 45%, rgba(4, 0, 14, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to left,
      var(--theme-color) 70%,
      rgba(16, 14, 34, 0) 100%);
  padding-top: 5%;
  padding-bottom: 5%;
  color: #72202000 !important;
}

.player-slick-carousel ::ng-deep .slick-next::before {
  content: url(/assets/svgs/right-arrow.svg) !important;
  position: absolute;
  right: 20%;
  top: 42%;
}

.player-slick-carousel ::ng-deep .slick-prev::before {
  background-color: transparent;
  content: url(/assets/svgs/left-arrow.svg) !important;
  position: absolute;
  left: 20%;
  top: 42%;
}

.player-slick-carousel ::ng-deep .mySlidesMain {
  border: 1px solid #ffffff85;
  border-radius: 4px;
  cursor: pointer;
}

.player-slick-carousel ::ng-deep .slick-list {
  padding: 0 0 0 0 !important;
}

.player-slick-carousel ::ng-deep .slick-dots {
  bottom: -38px;
}

.player-slick-carousel ::ng-deep .slick-slide {
  margin: 0 3px;
}

.player-slick-carousel ::ng-deep .slick-list {
  margin: 0 3px;
}

.player-slick-carousel ::ng-deep .slick-dots li button {
  border: 0 !important;
  background: #fafafa !important;
  display: block !important;
  width: 8px;
  height: 8px;
  outline: none !important;
  line-height: 0px !important;
  border-radius: 10px !important;
  font-size: 0px !important;
  color: transparent !important;
  padding: 5px !important;
  cursor: pointer !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-slick-carousel ::ng-deep .slick-dots li.slick-active button:before {
  color: green;
  background: #ff112c;
  width: 23px;
  height: 10px;
  content: "";
  border-radius: 8px;
  opacity: 1;
}

.player-slick-carousel ::ng-deep .slick-dots li {
  position: relative !important;
}

.player-slick-carousel ::ng-deep .slick-dots li.slick-active button {
  height: 0;
  width: 23px;
}

.player-slick-carousel ::ng-deep .slick-dots li.slick button {
  height: 0;
}

.player-slick-carousel ::ng-deep .slick-dots li button:before {
  color: transparent;
}

.slide small {
  color: #ff9401;
  font-family: ManropeLight;
  /* font-weight: 800; */
  font-size: 12px;
  position: relative;
  top: 8px;
}

.video-ls-dimensions.vjs-fluid:not(.vjs-audio-only-mode) {
  padding-top: 0 !important;
}

.title button {
  // background-color: white;
  // opacity: .8;
  // border: none;
  // color: black;
  // padding: 10px 25px;
  // text-align: center;
  // text-decoration: none;
  // display: inline-block;
  // font-size: 20px;
  // font-weight: bolder;
  // border-radius: 10px;
  background-color: rgba(16, 16, 16, 0.6);
  opacity: 0.8;
  border: 1.14px solid rgba(15, 190, 237, 1);
  color: rgba(255, 255, 255, 1);
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  border-radius: 9.1px;
}

.vjs-overlay {
  display: none !important;
}

// .vjs-overlay .vjs-overlay-center .vjs-overlay-background {
//   display: none !important;
// }

::ng-deep #video-ls.vjs-default-skin:not(.vjs-fullscreen) .vjs-overlay.vjs-overlay-center.vjs-overlay-background {
  display: none !important;
}

.slick-card-carousel {
  position: absolute;
  bottom: 5%;
  color: white;
  z-index: 99;
}

/* #episodeListCarousel {
      max-width: 100vw;
      right: 2%;
      left: 2%;
      padding: 30px;
  }
  
  .selection-wrapper {
      background-color: #1e1e1e;
      border-radius: 10px;
      padding: 20px; 
   position: absolute; 
  right: 15px; 
   bottom: 80px; 
   z-index: 3; 
   max-width: 600px; 
   } 
   .list-layout {
      display: block;
      background: rgba(0,0,0,.8);
      color: #fff;
  }
  
  .show-title-header {
      border-bottom: 1px solid #2d2d2d;
  }
  
  .mb-2, .my-2 {
      margin-bottom: 0.5rem!important;
  }
  
  .mt-1, .my-1 {
      margin-top: 0.25rem!important;
  }
  
  .show-title-header h3 {
      font-family: GothamHTF-Medium;
      font-size: 18px;
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.2;
  }
  
  .list-layout .list-layout-ep-container {
      position: absolute;
      left: 0;
      top: 10px;
      bottom: 0;
      padding-bottom: 50px;
      width: 100%;
  }
  
  #episodeListCarousel .slider-section {
      overflow: hidden;
      min-height: 205px;
      max-height: 205px;
      display: inline-block;
      position: relative;
      width: 100%;
      margin-top: 30px;
  }
  
  #player-layer a {
      cursor: pointer;
  }
  
  .slider-wrapper .slide-left {
      background: linear-gradient(to bottom,black 0%,rgba(125,185,232,0) 100%);
      left: 0;
      width: 50px;
      height: 68%;
      position: absolute;
      top: 1px;
      opacity: 0;
      z-index: 9;
  }
  
  .selection-wrapper a {
      display: block;
      font-family: GothamHTF-Book;
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 5px;
      text-transform: capitalize;
  }
  
  .list-layout a {
      text-decoration: underline;
  }
  
  .slider-wrapper .slide-left .left-arrow {
      height: 32px;
      width: 32px;
      position: absolute;
      z-index: 9;
      top: 40%;
      transition: all .5s;
  }
  
  #episodeListCarousel .slider-section .slider {
      overflow-y: hidden;
      min-height: 220px;
  }
  
  table {
      border-collapse: collapse;
  } */

.episodeSelector1 .tabset1>input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.episodeSelector1 .tabset1 .tab-panel {
  display: block;
}

.episodeSelector1 .tabset1>input:first-child:checked~.tab-panels>.tab-panel:first-child,
.episodeSelector1 .tabset1>input:nth-child(3):checked~.tab-panels>.tab-panel:nth-child(2),
.episodeSelector1 .tabset1>input:nth-child(5):checked~.tab-panels>.tab-panel:nth-child(3),
.episodeSelector1 .tabset1>input:nth-child(7):checked~.tab-panels>.tab-panel:nth-child(4),
.episodeSelector1 .tabset1>input:nth-child(9):checked~.tab-panels>.tab-panel:nth-child(5),
.episodeSelector1 .tabset1>input:nth-child(11):checked~.tab-panels>.tab-panel:nth-child(6) {
  display: block;
}

/*
     Styling
    */

.episodeSelector1 {
  display: none;
}

.crossepisode {
  margin-top: 30px;
  margin-right: 35px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.episodeSelector1 .tabset1>label {
  display: inline-block;
  padding: 5px 20px;
  border: 3px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  /* margin-top: 27px; */
  position: relative;
  top: 9px;
}

.tabset1>label {
  font-family: var(--theme-font-style);
  font-size: 18px;
}

.epis-1 {
  width: 15%;
}

.slide img {
  width: 100%;
}

.slide-para {
  display: block;
  font-size: 12px;
  font-family: var(--theme-font-style) !important;
  color: #b4b4b4;
  width: 95%;
  margin: 14px 0px 14px 0px !important;
}

.slide-heading {
  text-transform: capitalize;
  font-size: 16px;
  font: normal normal normal 16px/107px Gotham HTF;
  letter-spacing: 0px;
  font-weight: bold;
}

/* .epis-1 small {
      color: orange;
    } */

.perent-episode {
  display: flex;
}

/* .tabset1 > label::after {
      content: "";
      position: absolute;
      left: 15px;
      bottom: 10px;
      width: 22px;
      height: 4px;
      background: #8d8d8d;
    } */

/* .tabset1 > label:hover,
    .tabset1 > input:focus + label {
      color: #06c;
    }
    
    .tabset1 > label:hover::after,
    .tabset1 > input:focus + label::after,
    .tabset1 > input:checked + label::after {
      background: #06c;
    } */

.tabset1>input:checked+label {
  border-bottom: 1px solid #fff;
  margin-bottom: 35px;
}

.tab-panel {
  padding: 15px 0;
  border-top: 3px solid #847e7e;
}

h6 {
  font-family: var(--theme-font-style) !important;
}

@media screen and (min-width: 750px) and (max-width: 992px) {
  .title {
    bottom: 9.2em;
    // left: 75%;
  }
}

@media screen and (max-width: 992px) {
  .title {
    // left: 85%;
    // bottom: 20%;
  }

  // .moveToVideoJs span {
  //   border: 1px solid white;
  //   padding: 5px 9px 3px 9px;
  //   border-radius: 3px;
  //   font-size: 12px;
  // }

  .crossepisode img {
    width: 18px;
  }

  .crossepisode {
    margin-right: 20px;
    margin-top: 28px;
  }

  .tabset1>label {
    font-family: var(--theme-font-style);
    font-size: 12px;
  }

  .parentalbtn {
    height: unset !important;
    top: 40% !important;
  }

  .lock {
    position: absolute !important;
    margin-top: -46% !important;
  }

  .moveToVideoJs span {
    font-size: 10px !important;
  }

  .moveToVideoJs {
    top: 10px !important;
    left: 10px !important;
  }

  .season-head {
    font-size: 12px !important;
    display: none !important;
  }

  .season-head-2 {
    font-size: 12px !important;
    display: block !important;
  }

  .slide-para {
    display: none !important;
  }

  .slide-para-2 {
    font-size: 12px;
    font-family: var(--theme-font-style);
    display: block !important;
    color: #b4b4b4;
    width: 95%;
    margin: 14px 0px 14px 0px !important;
  }

  .plyy-pau {
    display: none !important;
  }

  .play-icons {
    display: block !important;
  }

  .mutealt {
    left: 21px;
  }

  .fullalt {
    left: 13px;
  }
}

.play-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.plyy-pau {
  display: inline;
}

// @media screen and (max-width:1366px)  {
//   .icons{
//     top: 72%;
//   }
// }
.ua-p {
  margin: 0;
  color: #fff !important;
  font-weight: bold;
  padding: 4px 8px;
}

@media screen and (max-width: 377px) {
  .title {
    // bottom: 25% !important;
    // left: 70% !important;
  }
}

@media screen and (max-width: 576px) {
  .title {
    // bottom: 25% !important;
    // left: 75%;
  }

  .parentalbtn img {
    width: 30px !important;
    height: 40px !important;
  }
}

@media only screen and (max-width: 420px) {
  .vjs-tech {
    height: 100% !important;
    width: 100% !important;
    // height: 390px;
    // object-fit: none !important;
    // height: 204px !important;
    // object-fit: none !important;
  }
}

#astonbandMini {
  display: none;
}

.astoncrossMini {
  position: absolute;
  right: 10.5%;
  top: -13%;
  width: 1.9%;
  cursor: pointer;
}

@media only screen and (max-width: 920px) {
  .astoncrossMini {
    width: 2%;
    top: -33%;
    right: 10%;
  }
}

// lband.style.display = "flex";
// lband.style.left = "20%"
// lband.style.position = "absolute";
// lband.style.width = "60%";
// lband.style.height = "15%"
// lband.style.zIndex = "999999999";


.skip-intro {
  position: absolute;
  bottom: 7rem;
  left: 3rem;
  z-index: 999;
}

.skip-intro button {
  background: var(--theme-secondary-color);
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  padding: 10px 16px;
  color: #FFFFFF;
  border-radius: 10px;
  font-family: var(--theme-font-style);
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
  opacity: 0.9;
  transition: all 1s ease;
}