.addToWatchlist {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-slider-header {
  padding: 0 80px;
  margin-bottom: 10px;
}

.card-slider-header h1 {
  font-size: 22px;
}

.card-slider-header1 h1 {
  font-size: 22px;
}

.card-slider-header {
  padding: 0 24px;
}

.card-slider-header1 {
  padding: 0 24px;
}

.ua-list {
  margin-right: 10px;
  border: 1px solid #ccc;
  list-style: none;
  padding: 4px 10px;
  border-radius: 4px;
}

.ua-list-hover {
  border: 1px solid #ccc;
  list-style: none;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.texts img {
  cursor: pointer !important;
  position: relative;
  width: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.vjs-tech {
  width: 100% !important;
  height: 100% !important;
  border-radius: 4px !important;
  object-fit: cover !important;
}

#genre-title {
  color: #8f9ba5;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-family: var(--theme-font-style);
  font-weight: 500;
  line-height: 20px;
}

.btn-close {
  position: absolute;
  float: right;
  left: auto;
  border-radius: 60%;
  padding: 6px;
  right: 10px;
  height: 28px;
  width: 28px;
  top: 12px;
  background-color: rgba(102, 102, 102, 0.4);
}

.btn-close:hover {
  background: var(--theme-secondary-color);
}

.iconlayout {
  display: flex !important;
}

.iconlayout1 {
  display: none;
}

.vjs-ended .vjs-poster {
  display: block;
  background-size: contain !important;
  background-position-x: right !important;
  background-position-y: inherit !important;
}

.text-white {
  font: normal normal normal 12px/18px var(--theme-font-style);
}

.showVideo .vjs-poster {
  background-size: contain !important;
  background-position-x: right !important;
  background-position-y: inherit !important;
}

.ott-slick-carousel ::ng-deep {
  width: 100%;
  overflow: hidden;
  // margin-bottom: -14em;

  .slick-arrow {
    z-index: 9;
  }

  .slick-slider .slide img.d-block.img-fluid.w-100.default-carousel-main {
    max-height: 80vh;
    border-radius: 10px;
  }

  .slick-prev {
    top: 70%;
    left: 86%;
  }

  .slick-next {
    right: 10%;
    top: 70%;
  }

  .slick-next::before {
    content: url(../../../assets/vive/arrow-circle-right.svg) !important;
  }

  .slick-prev::before {
    background-color: transparent;
    content: url(../../../assets/vive/arrow-circle-left.svg) !important;
  }

  .mySlidesMain {
    border: 1px solid #444444;
  }

  .slick-dots {
    display: none !important;
    top: 70%;
    right: 20%;
    /* transform: translateX(-50%); */
    width: unset !important;
  }

  .slick-slide {
    margin: 0 24px;
  }

  .slick-list {
    margin: 0 -24px;
  }

  .slick-dots li button {
    width: 30px;
    height: 8px;
    border-radius: 20px;
    background: #c9f5ff;
    border: none;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 0;
    line-height: 0;
  }

  .slick-dots li.slick-active button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--theme-secondary-color);
  }

  .slick-dots li.slick-active button:before {
    color: green;
    background: var(--theme-secondary-color);
    width: 9px;
    height: 9px;
    content: "";
    border-radius: 50%;
    opacity: 1;
    top: 14%;
    left: 14%;
  }

  .slick-dots li {
    position: relative !important;
  }

  .slick-dots li.slick button {
    height: 0;
  }

  .slick-dots li button:before {
    content: none;
    color: transparent;
  }
}

.ott-slick-carousel-2 ::ng-deep {
  width: 100%;
  overflow: hidden;

  .slick-arrow {
    z-index: 9;
  }

  .slick-slider .slide img.d-block.img-fluid.w-100.default-carousel-main {
    max-height: 80vh;
    border-radius: 10px;
  }

  .slick-prev {
    left: 10%;
  }

  .slick-next {
    right: 10%;
  }

  .slick-next::before {
    content: url(../../../assets/new_icons/next.svg) !important;
  }

  .slick-prev::before {
    background-color: transparent;
    content: url(../../../assets/new_icons/prev.svg) !important;
  }

  .mySlidesMain {
    border: 1px solid #444444;
  }

  .slick-list {
    padding: 0 13% 0 14.4% !important;
  }

  .slick-dots {
    bottom: -38px;
  }

  .slick-slide {
    margin: 0 150px;
  }

  .slick-list {
    margin: 0 -150px;
  }

  .slick-dots li button {
    border: 0 !important;
    background: #fafafa !important;
    display: block !important;
    width: 8px;
    height: 8px;
    outline: none !important;
    line-height: 0px !important;
    border-radius: 10px !important;
    font-size: 0px !important;
    color: transparent !important;
    padding: 5px !important;
    cursor: pointer !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slick-dots li.slick-active button:before {
    color: green;
    background: var(--theme-secondary-color);
    width: 23px;
    height: 10px;
    content: "";
    border-radius: 8px;
    opacity: 1;
  }

  .slick-dots li {
    position: relative !important;
  }

  .slick-dots li.slick-active button {
    height: 0;
    width: 23px;
  }

  .slick-dots li.slick button {
    height: 0;
  }

  .slick-dots li button:before {
    color: transparent;
  }
}

.card-slider-header {
  padding: 0 80px 0 20px;
}


.featureBanner {
  width: 100%;
  height: 100%;
}

.cardvideo {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.icons {
  width: 100%;
  position: relative;
  text-align: end;
  left: -2%;
  margin-top: -75px;
  z-index: 999999999;

  img {
    padding: 15px;
    z-index: 999999;
  }
}

.icons-1 {
  width: 100%;
  position: relative;
  text-align: end;
  left: -2%;
  margin-top: -71px;
  z-index: 9999;

  img {
    padding: 15px;
    z-index: 999999;
  }
}

.slick-card-carousel ::ng-deep {

  padding: 0 80px 0px 20px;
  border-radius: 5px;

  .slick-list>.slick-track {
    margin-left: 0;
  }

  .slick-arrow {
    z-index: 9;
  }

  .slick-disabled {
    display: none !important;
  }

  .slick-prev {
    left: -2.2%;
    width: 6%;
    height: 101%;
    background: linear-gradient(90deg,
        var(--theme-color) 73%,
        rgba(16, 14, 34, 0) 100%);
    transition: all ease-out 1s;
  }

  .slick-next {
    right: -6.6%;
    height: 101%;
    width: 7%;
    background: linear-gradient(270deg,
        var(--theme-color) 70%,
        rgba(16, 14, 34, 0) 100%);
    transition: all ease-out 1s;
  }

  .slick-next::before {
    content: url(../../../assets/arrows_icons/Button_next.svg) !important;
    display: block;
    width: 1px;
    margin-left: 20px;
  }

  .slick-prev::before {
    font-size: 46px;
    background-color: transparent;
    content: url(../../../assets/arrows_icons/Button_prev.svg) !important;
  }

  .slick-slide {
    padding: 0 8px;
  }

  .slick-list {
    margin: 0 -10px;
  }

  .mySlides {
    transition: none;
    border-radius: 3px;
  }
}

.slick-card-carousel-episode ::ng-deep {
  padding: 0 80px 0px 80px;
  border-radius: 5px;

  .slick-list>.slick-track {
    margin-left: 0;
  }

  .slick-arrow {
    z-index: 9;
  }

  .slick-disabled {
    display: none !important;
  }

  .slick-prev {
    left: -2.2%;
    width: 6%;
    height: 101%;
    background: linear-gradient(90deg,
        var(--theme-color) 73%,
        rgba(16, 14, 34, 0) 100%);
    transition: all ease-out 1s;
  }

  .slick-next {
    right: -5.6%;
    height: 101%;
    width: 7%;
    background: linear-gradient(270deg,
        var(--theme-color) 70%,
        rgba(16, 14, 34, 0) 100%);
    transition: all ease-out 1s;
  }

  .slick-next::before {
    content: url(../../../assets/arrows_icons/Button_next.svg) !important;
    display: block;
    width: 1px;
    margin-left: 20px;
  }

  .slick-prev::before {
    font-size: 46px;
    background-color: transparent;
    content: url(../../../assets/arrows_icons/Button_prev.svg) !important;
  }

  .slick-slide {
    padding: 0 8px;
    margin: 0 !important;
  }

  .slick-list {
    margin: 0 -10px;
  }

  .mySlides {
    transition: none;
    border-radius: 3px;
  }

  .card-slide {
    position: relative;
  }
}

.slick-card-carousel-singer ::ng-deep {
  padding: 0 80px 0 80px;
  border-radius: 5px;

  .slick-list>.slick-track {
    margin-left: 0;
  }

  .slick-arrow {
    z-index: 9;
  }

  .slick-disabled {
    display: none !important;
  }

  .slick-prev {
    left: -2.2%;
    width: 7%;
    height: 101%;
    background: linear-gradient(90deg,
        var(--theme-color) 73%,
        rgba(16, 14, 34, 0) 100%);
    transition: all ease-out 1s;
  }

  .slick-next {
    right: -5.6%;
    height: 101%;
    width: 7%;
    background: linear-gradient(270deg,
        var(--theme-color) 70%,
        rgba(16, 14, 34, 0) 100%);
    transition: all ease-out 1s;
  }

  .slick-next::before {
    content: url(../../../assets/arrows_icons/Button_next.svg) !important;
    display: block;
    width: 1px;
    position: absolute;
    top: 29%;
    bottom: 0;
    left: 4%;
  }

  .slick-prev::before {
    font-size: 46px;
    background-color: transparent;
    content: url(../../../assets/arrows_icons/Button_prev.svg) !important;
    position: absolute;
    top: 29%;
    bottom: 0;
    right: 4%;
  }

  .slick-slide {
    margin: 0 8px;
  }

  .slick-list {
    margin: 0 -10px;
  }

  .mySlides {
    transition: none;
    border-radius: 3px;
  }
}

.one-card-carousel ::ng-deep {
  padding: 0 50px;
  border-radius: 5px;

  .slick-list>.slick-track {
    margin-left: 0;
  }

  .slick-arrow {
    z-index: 9;
  }

  .slick-disabled {
    display: none !important;
  }

  .slick-prev {
    left: -2.2%;
    width: 6%;
    height: 101%;
    background: linear-gradient(90deg, #0f0f0f 73%, rgba(16, 14, 34, 0) 100%);
    transition: all ease-out 1s;
  }

  .slick-next {
    right: -5.6%;
    height: 101%;
    width: 7%;
    background: linear-gradient(270deg, #0f0f0f 70%, rgba(16, 14, 34, 0) 100%);
    transition: all ease-out 1s;
  }

  .slick-next::before {
    content: url(../../../assets/arrows_icons/Button_next.svg) !important;
    display: block;
    width: 1px;
    margin-left: 20px;
  }

  .slick-prev::before {
    font-size: 46px;
    background-color: transparent;
    content: url(../../../assets/arrows_icons/Button_prev.svg) !important;
  }

  .slick-slide {
    margin: 0 8px;
  }

  .slick-list {
    margin: 0 -10px;
  }

  .mySlides {
    transition: none;
    border-radius: 3px;
  }
}

h1 {
  font-family: var(--theme-font-style) !important;
  font-size: 18px !important;
  cursor: default;
  color: #f2f2f2;
  z-index: 9;
  font-weight: 700;
}


.category-name {
  font-family: var(--theme-font-style) !important;
  font-size: 18px !important;
  cursor: default;
  color: #f2f2f2;
  z-index: 9;
  font-weight: 700;
}

mat-card {
  padding: 0px;
}

.card-slider-header h1 {
  font-size: 20px;
}

.slick-slider {
  margin-bottom: 50px !important;
}

.custom_banner {
  margin-bottom: 30px;
}

.custom_banner img {
  margin-top: 25px;
}

.hidden {
  display: none !important;
}

.iconage {
  display: flex;
  gap: 20px;
  position: absolute;
  bottom: 16%;
  margin-left: 60px;
}

.h-de {
  margin-left: -11px;
}

.iconn {
  text-align: center;
}

.vmc {
  margin-top: -60% !important;
  position: relative;
  display: unset;
}

.hide {
  display: none;
  font-family: "PoppinsLight" !important;
  color: #c7c7c7;
}

.hide2 {
  display: none;
  font-family: "PoppinsLight" !important;
  color: #c7c7c7;
}

.gifTickRemove {
  display: none;
}

#dropdownMenuLink:hover+.hide2 {
  display: block;
}

.parent-layout {
  position: absolute;
  width: 52vw;
  top: 0;
  padding-top: 15em;
  z-index: 100;
  display: flex;
}

.parent-layout p {
  color: #c7c7c7;
  font-size: 14px;
  line-height: 26px;
  height: 100px;
  overflow: auto;
  overflow-y: scroll;
}

#info {
  background: #333333;
  color: #fff;
  padding: 10px 13px;
  border-radius: 6px;
  border: none;
}

#info:hover {
  background-color: #ff0000;
}

#moreInfo {
  width: 23px;
  display: inline-block;
  position: relative;
  left: 0px;
}

.socialIcon img:hover {
  background-color: #ff0000;
  border-radius: 50%;
}

.play-btn {
  display: none;
}

.icon-left {
  float: right;
}

.feature-mini-carousel {
  overflow: hidden;
  width: 100%;
  position: absolute;
}

.mini-feature-main {
  display: block;
  position: absolute;
  z-index: 99999;
  bottom: 30%;
  right: 0;
}

.feature-mini-carousel .slick-card-carousel {
  padding: 0px 0px 0px 0px !important;
}

.feature-mini-carousel1 {
  overflow: hidden;
  width: 100%;
  position: absolute;
}

.mini-feature-main1 {
  display: block;
  position: absolute;
  z-index: 99999;
  bottom: 30%;
  right: 0%;
}

.feature-mini-carousel1 .slick-card-carousel {
  padding: 0px 0px 0px 0px !important;
}

.new-bg {
  background: radial-gradient(50% 40% at 0% 60%,
      var(--themeBg-radical) 0%,
      transparent 100%);
}

::ng-deep .mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}

@media only screen and (max-width: 992px) {
  .mySlides{
    min-height: 70px !important;
  }
  .bin-title p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px !important;
  }

  .grad-demo2 {
    background: linear-gradient(268deg,
        rgba(10, 1, 2, 0.09) 63.81%,
        rgba(10, 1, 2, 0.68) 89.99%,
        rgba(10, 1, 2, 0.91) 100.36%) !important;
  }

  .bing-para {
    display: none;
  }

  .Binge_verticall {
    min-height: 250px;
    padding: 0px !important;
  }

  .mt-d {
    margin: 0 !important;
  }

  .mini-feature-main {
    display: none !important;
  }

  .crown {
    position: absolute;
    right: 4%;
    top: 1.5%;
  }

  .crown img {
    width: 15px !important;
    height: 15px !important;
  }

  .free-icon {
    position: absolute;
    right: 7px !important;
    top: 4px !important;
  }

  .free-icon img {
    width: 40px !important;
  }

  .live-icon img {
    width: 40px !important;
  }

  .live-icon {
    position: absolute;
    left: 7px !important;
    top: 4px !important;
  }

  .mobile-more-play ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .mobile-more-play {
    position: absolute;
    display: block !important;
    bottom: 10%;
    padding-left: 3em;
    z-index: 999;
  }

  .mute-masti {
    margin-right: 14%;
  }

  .grad-left {
    display: none !important;
  }

  .grad-bttm {
    display: none !important;
  }

  .banner-pad {
    padding: 0px 25px !important;
  }

  .play_cont {
    width: 30px !important;
  }

  .icons-mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 70px;
    width: 20%;
    margin-inline-start: auto;
    position: relative;
    z-index: 10;
    margin-right: 30px;
    gap: 15px;
  }

  .open {
    position: relative;
    z-index: 9;
  }

  .icon_player {
    bottom: 8.5% !important;
    right: 6% !important;
  }

  #genre-title {
    font-size: 12px !important;
    line-height: unset !important;
  }

  .padd-1 {
    padding: 0px 15px;
  }

  .play-mobile img {
    z-index: 99;
    cursor: pointer;
  }

  .bttm-shdw {
    height: 80px !important;
  }

  .ott-slick-carousel ::ng-deep {
    .slick-prev::before {
      background-color: transparent;
      content: url(../../../assets/new_icons/mob-left-arrow.png) !important;
    }

    .slick-next::before {
      background-color: transparent;
      content: url(../../../assets/new_icons/mob-right-arrow.png) !important;
    }

    .slick-dots {
      display: block !important;
    }
  }

  .ott-slick-carousel ::ng-deep {
    .slick-dots li {
      height: unset !important;
      width: 15px !important;
    }

    .slick-dots li button {
      width: 20px;
      height: 5px;
    }

    .slick-dots li.slick-active button:before {
      width: 7px;
      height: 6px;
    }

    .slick-dots li.slick-active button {
      width: 8px;
      height: 8px;
    }
  }

  .ott-slick-carousel::ng-deep .slick-dots {
    top: unset !important;
    right: 0;
    left: 0;
  }

  .iconlayout {
    display: none !important;
  }

  .none-disp {
    display: none;
  }

  .music-aol {
    width: 20px !important;
  }

  .btn-close {
    right: 5px !important;
    height: 22px !important;
    width: 22px !important;
    top: 5px !important;
    padding: 5px !important;
  }

  .parent-layout {
    padding-top: 1em;
  }

  .middle {
    display: none !important;
  }

  .rect-screen {
    display: none;
  }

  .slick-list {
    padding: 0 !important;
  }

  .icon-left {
    float: unset;
  }

  .parent-layout {
    padding-top: 1em;
  }

  .parent-layout p {
    width: 60%;
    color: #c7c7c7;
    height: auto;
    max-height: 80px;
    overflow: hidden;
    overflow: scroll;
    font-size: 10px;
  }

  .sub-details li img {
    width: 20%;
  }

  .ott-slick-carousel .slick-list {
    padding: 0 12% 0 24.4% !important;
    margin: 0 0px;
  }

  .ott-slick-carousel .slick-slide {
    margin: 0 3px;
  }

  .card-slider-header {
    padding: 0 24px;
  }

  .card-slider-header1 {
    padding: 0 24px;
  }

  .custom_banner img {
    width: 100%;
  }

  h1 {
    font-size: 15px !important;
  }

  .ott-slick-carousel ::ng-deep {
    margin-bottom: 0;

    .slick-next {
      // display: none !important;
      right: 5% !important;
      top: 50% !important;
    }

    .slick-prev {
      left: 5% !important;
      top: 50% !important;
      // display: none !important;
    }
  }

  .ott-slick-carousel-2 ::ng-deep {
    .slick-next::before {
      display: none !important;
    }

    .slick-prev::before {
      display: none !important;
    }
  }

  .slick-card-carousel ::ng-deep {
    padding: 0px 39px;

    .slick-slide {
      padding: 0 4px;
    }

    .slick-next {
      display: none !important;
    }

    .slick-prev {
      display: none !important;
    }
  }

  .slick-card-carousel_continue ::ng-deep {
    padding: 0px 15px !important;

    .slick-slide {
      margin: 0 4px !important;
    }

    .slick-next {
      display: none !important;
    }

    .slick-prev {
      display: none !important;
    }
  }

  .slick-card-carousel-singer ::ng-deep {
    padding: 0px 39px;

    .slick-slide {
      margin: 0 4px;
    }

    .slick-next {
      display: none !important;
    }

    .slick-prev {
      display: none !important;
    }
  }

  .one-card-carousel ::ng-deep {
    padding: 0px 39px;

    .slick-slide {
      margin: 0 4px;
    }

    .slick-next {
      display: none !important;
    }

    .slick-prev {
      display: none !important;
    }

    .texts img {
      width: 60% !important;
    }

    .texts {
      left: -5px !important;
    }
  }

  .binge-card-carousel ::ng-deep {
    // padding: 0px 39px !important;
    padding: 0px 8px !important;

    .slick-slide {
      padding: 0 4px !important;
    }

    .slick-next {
      display: none !important;
    }

    .slick-prev {
      display: none !important;
    }
    .texts {
      left: 0 !important;
    }
  }

  .custom_banner {
    width: 100% !important;

    img {
      width: 90%;
    }
  }

  .slick-slider {
    margin-bottom: 25px !important;
  }

  .custom_banner {
    margin-bottom: 50px !important;
  }

  .blur-overlay {
    height: 70px !important;
    width: 50px !important;
    left: -50px !important;
  }
}

::ng-deep .vjs-poster {
  background-size: cover !important;
  height: 100% !important;
}

.slick-dots li.slick-active button:before {
  font-size: 15px;
  color: blue;
  background-color: red;
}

:host ::ng-deep .slick-arrow {
  z-index: 1000;
}

.viewAllArrow {
  display: none;
  width: 9px;
  color: #b4b4b4;
}

.free-icon {
  position: absolute;
  right: 21px;
  top: 6px;
}

.free-icon img {
  width: 50px;
}

.sNumber {
  position: absolute;
  top: 10px;
  align-items: center;
  left: 10px;
  background: #936868 0% 0% no-repeat padding-box;
  color: white;
  border-radius: 7px;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-family: var(--theme-font-style);

  p {
    margin: 5px;
  }
}

.ua-list {
  border: 1px solid #ccc;
  list-style: none;
  padding: 4px 10px;
  border-radius: 4px;
}

.shareremoveMain {
  display: none;
  width: 35px;
  height: 35px;
}

.shareaddMain {
  width: 35px;
  height: 35px;
}

.addwatchMainremove {
  display: none;
  width: 35px;
  height: 35px;
}

.addwatchMain {
  width: 35px;
  height: 35px;
}

.removeMainR {
  display: none;
}


.thril {
  position: relative;
  z-index: 9999;
}

.social-icon {
  display: flex;
}

.social-icon img {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  left: -15px;
  z-index: 999999 !important;
}

.vjs-poster {
  background-position: 100% 100% !important;
}

.dropdown-menu {
  position: absolute;
  top: 0 !important;
  margin-top: 12px;
  left: -35px !important;
  z-index: 999999 !important;
  display: none;
  min-width: 6rem !important;
  font-size: 1rem;
  color: #212529;
  list-style: none;
  background-color: #343030;
  border: 1pxsolidrgba (0, 0, 0, 0.15);
  border-radius: 0.25rem;
  padding: 8px 10px 8px 24px !important;
}

#social-share-toll::before {
  content: "";
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(180deg);
}

.dropdown-menu a {
  cursor: pointer;
  display: inline-block;
}

.addChangeHover {
  display: none;
}

.shareAddChangeHover {
  display: none;
}

.crown {
  position: absolute;
  right: 5%;
  top: 2.5%;
}

.crown img {
  width: 22px;
  height: 22px;
}

.crown-epi {
  position: absolute;
  right: 2%;
  top: 2.5%;
}

.crown-epi img {
  width: 22px;
}

.binge-card-carousel ::ng-deep {
  padding: 0 80px 0px 80px;
  overflow: hidden;
  border-radius: 5px;

  .slick-track {
    margin: unset !important;
  }

  .slick-disabled {
    display: none !important;
  }

  .free-icon {
    position: absolute;
    top: 6px;
    left: 3px;
  }

  .crown {
    position: absolute;
    right: 5%;
    top: 2%;
  }

  .crown img {
    width: 22px;
    height: 22px;
  }

  .slick-arrow {
    z-index: 9;
  }

  .slick-prev {
    left: -6.4%;
    width: 5%;
    height: 101%;
    background: linear-gradient(90deg,
        var(--theme-color) 73%,
        rgba(16, 14, 34, 0) 100%);
  }

  .slick-next {
    right: -5.2%;
    height: 101%;
    width: 5%;
    background: linear-gradient(270deg,
        var(--theme-color) 73%,
        rgba(16, 14, 34, 0) 100%);
  }

  .slick-next::before {
    content: url(../../../assets/arrows_icons/Button_next.svg) !important;
    display: block;
    width: 1px;
    margin-left: 20px;
  }

  .slick-prev::before {
    font-size: 46px;
    background-color: transparent;
    content: url(../../../assets/arrows_icons/Button_prev.svg) !important;
  }

  .slick-slide {
    padding: 0 8px;
  }

  .mySlides {
    transition: 1s ease;
    border-radius: 3px;
  }
}

.slick-slide:hover {
  width: 100%;
}

.middle {
  position: absolute;
  top: 0;
  height: 100% !important;
}

.hovergif:hover .rect-screen {
  visibility: visible;
}

.hovergif:hover .middle {
  position: absolute;
  opacity: 3;
  color: white;
  top: 0;
  text-align: left;
  height: 100%;
  transform: scale(1.2);
  z-index: 999;
  width: 100%;
  cursor: none;
}

.moreAddChangeHover {
  display: none;
}

.middle {
  display: none !important;
}

#hero {
  background-image: url(../../../assets/svgs/placeholder.png);
}

.hovergif:hover .img {
  width: 700px;
  height: 700px;
}

.hovergif:hover .rect-screen {
  height: 100%;
  transform: scale(1.2);
  z-index: 999;
  transition: 0.5s;
}

.vue {
  border: 3px solid #ffffff;
  border-radius: 8px;
  background-color: #040404;
  color: white;
  z-index: 9;
  height: 100%;
}

.vjs-custom-waiting {
  display: none !important;
}

.gifsocial5 {
  position: absolute;
  display: flex;
  top: 40px !important;
  background-color: #343030;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 9999999999999999;
  left: -15px;
}

.gifsocial6 {
  position: absolute;
  display: flex;
  top: 35px !important;
  background-color: #343030;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 9999999999999999;
  left: -17px;
}

.gifsocial7 {
  position: absolute;
  display: flex;
  top: 32px !important;
  background-color: #343030;
  gap: 10px;
  padding: 4px 8px;
  border-radius: 5px;
  z-index: 9999999999999999;
  left: -17px;
}

.gifsocial8 {
  position: absolute;
  display: flex;
  top: 25px !important;
  background-color: #343030;
  gap: 10px;
  padding: 3px 5px;
  border-radius: 5px;
  z-index: 9999999999999999;
  left: -20px;
}

.detail p {
  line-height: 15px;
  margin: 0;
}

.detail1 p {
  line-height: 16px;
  margin: 0;
}

.one img {
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.removewatch {
  border-radius: 50%;
}

.removewatch:hover {
  background-color: #ff0000;
}

.two:hover {
  background-color: #ff0000;
}

.three:hover {
  background-color: #ff0000;
}

.two,
.three {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.two img {
  width: 12px;
}

.three img {
  width: 2px;
}

.recimg {
  width: 24px !important;
  height: 21px;
  border: 1px solid grey;
  border-radius: 50% !important;
  padding: 3px;
}

.player_icon {
  display: flex;
  position: relative;
  top: -15px;
  gap: 12px;
  padding-left: 5%;
  align-items: center;
  background: transparent linear-gradient(179deg,
      rgba(3, 3, 3, 0) 0%,
      rgba(4, 4, 4, 0.7490196078) 30%,
      #040404 100%) 0% 0% no-repeat padding-box;
  margin-top: -10px;
}

.player_icon div {
  position: relative;
  top: 20px;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.vue_content .heading {
  font-size: 12px;
  letter-spacing: 0px;
  color: #f2f2f2;
  font-family: "GothamMedium" !important;
  margin-top: 5px;
  position: relative;
  top: 5px;
}

.vue_content[_ngcontent-drv-c301] .drama[_ngcontent-drv-c301] {
  margin: 0px;
  margin-top: 8px;
}

.vue_content .time {
  font-size: 9px;
  letter-spacing: 0px;
  color: #f2f2f2;
}

.vue_content .time1 {
  font-size: 11px;
  letter-spacing: 0px;
  color: #f2f2f2;
}

.vue_content p .type {
  font-size: 11px;
  letter-spacing: 0px;
}

.vue_content .season {
  font-size: 11px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.vue_content .season span progress {
  font-size: 10px;
  height: 5px;
  display: flex;
  accent-color: white;
}

.vue_content .time ul li button {
  background-color: black;
  color: grey;
  font-size: 8px;
  padding: 0 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.vue_content .time1 ul li button {
  background-color: black;
  color: grey;
  font-size: 10px;
  padding: 0 6px;
  border: 1px solid grey;
  border-radius: 5px;
  height: 19px;
}

.vue_content .time ul {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 14px;
  list-style-type: none;
  margin: 0;
}

.rect-screen {
  position: absolute;
  border: 3px solid white;
  border-radius: 7px;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  transition: 0.5s !important;
  height: 100% !important;
}

.playerpic img {
  border-radius: 5px;
}

.player_ img {
  display: unset;
  width: 20px;
  margin-left: 12px;
  position: relative;
  left: -5px;
}

.player_ {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent linear-gradient(179deg,
      rgba(3, 3, 3, 0) 0%,
      rgba(4, 4, 4, 0.7490196078) 50%,
      #040404 100%) 16% 0% no-repeat padding-box;
  padding: 8px;
  border-radius: 5px;
}

.video-js .vjs-tech {
  position: relative !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-js {
  height: 100% !important;
  width: 100% !important;
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
  transform: translate(0%, 0%) !important;
}

.icon_player {
  position: absolute;
  // top: 90%;
  bottom: 30%;
  z-index: 999;
  display: flex;
  gap: 10px;
  right: 2%;
}

.img::before {
  content: "\f184";
}

.heading-rect-box {
  position: absolute;
  color: #fff;
  left: 10px;
  top: 2px;
}

::ng-deep.slick-list {
  overflow: unset !important;
}

.carousel:empty {
  animation: loading 1.1s infinite linear;
  background: #dedfe1;
  background-image: -webkit-linear-gradient(to right,
      #dedfe1 0%,
      #f2f3f5 20%,
      #dedfe1 40%,
      #dedfe1 100%);
  background-image: linear-gradient(to right,
      #dedfe1 0%,
      #f2f3f5 20%,
      #dedfe1 40%,
      #dedfe1 100%);
  background-repeat: no-repeat;
}

.video-js .vjs-overlay {
  display: none !important;
}


#ageRestrict span {
  border: 1px solid white;
  padding: 5px 9px 3px 9px;
  opacity: 0.9;
  border-radius: 3px;
  font-size: 12px;
  font-family: "GothamMedium" !important;
}

#ageRestrict {
  position: absolute;
  top: 45px;
  z-index: 99;
  color: white;
  left: 25px;
}


@media screen and (max-width: 1250px) {
  .slick-card-carousel ::ng-deep {
    .slick-prev {
      left: -6% !important;
      // width: 7% !important;
    }
  }

  .head-8 .time ul {
    margin-top: -5px;
  }

  .vue_content .detail5 {
    font-size: 12px;
    height: 40px;
  }

  .head-5 .heading {
    font-size: 11px;
  }

  .icongif5 {
    width: 23px;
  }

  .one5 img {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .head-5 .drama {
    margin-top: 3px;
  }

  .vue_content .time ul li button {
    font-size: 6px;
    padding: 0px 6px;
    height: 17px;
    line-height: 17px;
  }

  .vue_content .time ul {
    gap: 5px;
  }

  .vue_content .detail6 {
    font-size: 12px;
    height: 55px;
  }

  .icongif6 {
    width: 23px;
  }

  .one6 img {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .vue_content .detail7 {
    font-size: 10px;
    height: 45px;
    line-height: 15px;
    margin-top: 7px;
  }

  .ply-7 {
    position: relative;
    top: -5px;
    margin-top: -18px;
    gap: 5px;
  }

  .head-7 .drama {
    margin-top: -5px;
  }

  .head-8 .time ul {
    gap: 1px !important;
    margin-top: -4px;
  }

  .head-7 .time ul {
    gap: 2px;
  }

  .head-8 .time ul li button {
    gap: 1px !important;
    margin-top: -4px;
    position: relative;
    left: 5px;
  }
}


// For Horizontal view
.horizontal-gif {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.gif-box {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  border: 3px solid #dfdfdf;
  border-radius: 8px;
}

.head-gif {
  letter-spacing: 0px;
  color: #f2f2f2;
  font-size: 16px;
  font-family: "GothamMedium";
  margin-top: 12px;
}

.head-gif5 {
  letter-spacing: 0px;
  color: #f2f2f2;
  font-size: 13px;
  font-family: "GothamMedium";
  margin-top: 8px;
}

.gif-flex {
  display: flex;
  align-items: center;
  font-size: 10px;
  gap: 7px;
  color: #f2f2f2;
  position: relative;
  bottom: 6px;
}

.gif-flex5 {
  display: flex;
  align-items: center;
  font-size: 9px;
  gap: 8px;
  color: #f2f2f2;
}

.gif-rat {
  background-color: black;
  color: grey;
  /* font-size: 8px; */
  padding: 0 4px;
  border: 1px solid grey;
  border-radius: 5px;
}

.gif-rat5 {
  background-color: black;
  color: grey;
  padding: 0 4px;
  border: 1px solid grey;
  border-radius: 5px;
  height: 19px;
  position: relative;
  top: -3px;
}

.gif-btn {
  display: flex;
  gap: 20px;
  align-items: center;
}

.gif-btn5 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.share,
.add,
.info {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
}

.para-gif {
  color: #9b9b9b;
  font-size: 11px;
}

.para-gif p {
  margin: 0 0px 8px;
}

.para-gif5 {
  color: #9b9b9b;
  font-size: 11px;
  margin: 0px;
}

.para-gif5 p {
  margin: 0;
}


.one4 img {
  width: 37px;
  height: 37px;
}

.icongif4 {
  width: 30px;
}

.gif-shadow {
  background: transparent linear-gradient(0deg, #000000 5%, #030303c5 71%, #0c0c0c00 100%) 0% 0% no-repeat padding-box;
  padding: 0px 16px;
  position: absolute;
  width: 98.6%;
  bottom: 3px;
  border-radius: 5px;
}

.gif-shadow5 {
  background: transparent linear-gradient(0deg, #000000 5%, #030303c5 71%, #0c0c0c00 100%) 0% 0% no-repeat padding-box;
  padding: 0px 16px;
  position: absolute;
  width: 98.6%;
  bottom: 3px;
  border-radius: 5px;
}

.season {
  font-size: 16px;
  color: #f2f2f2;
}

.season5 {
  font-size: 16px;
  color: #f2f2f2;
}

.player_icon-gif {
  display: flex;
  gap: 12px;
  // padding-left: 5%;
  align-items: center;

  width: auto;
  height: auto;
  position: relative;
}

.player_icon-gif5 {
  display: flex;
  gap: 12px;
  // padding-left: 5%;
  align-items: center;

  width: auto;
  height: auto;
  position: relative;
}

.one55 img {
  width: 30px;
}

.icongif55 {
  width: 27px;
}

//for vertical / horizontal cursor pointer

.icongif5,
.icongif6,
.icongif7,
.icongif8,
.icongif4,
.icongif55 {
  cursor: pointer;
}

.hide-car {
  display: none;
  font-family: "GothamLight" !important;
  color: #c7c7c7;
  position: relative;
  left: -10px;
  margin-top: 10px;
}

.hide-carremove {
  display: none;
  font-family: "PoppinsLight" !important;
  color: #c7c7c7;
  position: relative;
  left: -14px;
  margin-top: 10px;
  text-align: center;
}


.blur-overlay {
  height: 120px;
  width: 105px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0px;
  right: 0;
  border-radius: 15px;
  backdrop-filter: blur(3px);
}

.social-icon .hvr {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  left: -15px;
  z-index: 999999 !important;
}

.social-icon .hvr-2 {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  left: -15px;
  z-index: 999999 !important;
}

.getIdea {
  width: 8%;
  height: 44%;
  background: linear-gradient(to left,
      rgba(30, 30, 30, 0.9803921569) 51%,
      rgba(4, 0, 14, 0) 100%,
      rgba(0, 0, 0, 0) 100%);
  right: 0%;
  z-index: 99;
  position: absolute;
}

.slick-active+.slick-active+.slick-active+.slick-active+.slick-active+.slick-active {
  display: block !important;
}


.cont-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play_cont {
  width: 55px;
}

.cont-prog {
  display: block;
  height: 5px;
  overflow: hidden;
  bottom: 12px;
  position: relative;
  transition: opacity 250ms linear;
  width: 95%;
  margin: auto;
  border-radius: 50px;
}

.bttm-shdw {
  width: 100%;
  height: 50%;
  bottom: 0;
  z-index: 10;
  position: absolute;
  background: linear-gradient(360deg,
      #100e22 -0.28%,
      rgba(16, 14, 34, 0) 100.77%);
}

.left-shdw {
  height: 100%;
  top: 0;
  left: -2px;
  width: 100vw;
  height: 100%;
  z-index: 10;
  position: absolute;
  background: linear-gradient(to right,
      #100e22cc -0.28%,
      rgba(23, 7, 5, 0) 60.77%);
}

.aol-lock {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.music-aol {
  width: 30px;
}

.wat-btnn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  gap: 6px;
  background: #0b9fc7;
  border-radius: 6px;
  border: none;
  font-family: var(--theme-font-style);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0em;
  color: #ffffff;
  width: 100%;
  transition: all 1s ease;
}

.wat-btnn-1 img {
  width: 24px;
}

.wat-btnn-1:hover {
  background: hsl(0deg 0% 100% / 30%);
  transform: scale(1.05);
}

.wat-btnn-1-mob {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 6px;
  background: hsl(0deg 0% 100% / 20%);
  border-radius: 50%;
  border: none;
  font-family: var(--theme-font-style);
  font-size: 16px;
  // font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  width: 100%;
  transition: all 1s ease;
}

.wat-btnn-1-mob img {
  width: 20px;
}

.play-btn-aol-mob {
  background: var(--theme-secondary-color);
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  padding: 8px;
  color: var(--bs-color);
  border-radius: 50%;
  font-family: var(--theme-font-style);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  width: 100%;
  opacity: 0.9;
  transition: all 1s ease;
}

.play-btn-aol-mob img {
  width: 20px;
}

.text-btnn {
  font-family: var(--theme-font-style);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.text-btnn-1 {
  font-family: var(--theme-font-style);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.text-btnn-1 img {
  width: 26px;
}


.content-list h3 {
  font-size: 35px;
  font-weight: 800;
  font-family: var(--theme-font-style) !important;
  margin-bottom: 0;
  line-height: 3.2rem;
  color: var(--white);
}

.fa-star {
  color: yellow;
}

@media screen and (max-width: 576px) {
  .mt-d {
    padding-top: 0 !important;
  }

  .binge-grid {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 6px !important;
  }

  .dur_time {
    display: none !important;
  }

  #genre-title {
    font-size: 12px;
  }

  .autoplay-mastii img {
    width: 45px;
  }

  .binge-desc {
    margin-top: 4px !important;

    padding: 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .dur_time {
    gap: 6px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 10px !important;
  }

  .bing-a {
    font-size: 12px !important;
    font-weight: 500 !important;
  }

  .bin-title {
    font-size: 11px !important;
    font-weight: 700 !important;
  }

  .binge-desc p {
    font-size: 12px !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
  }

  .Binge_verticall {
    padding: 0px 10px !important;
  }
}

@media screen and (max-width: 1280px) {
  .ott-slick-carousel .slick-prev {
    left: 85% !important;
    top: 86% !important;
  }

  .ott-slick-carousel .slick-next {
    top: 86% !important;
    left: 88% !important;
  }
}


.prime-icon {
  top: 3%;
  position: absolute;
  left: 2%;
}

.ebook-mar {
  margin-top: 90px;
}

@media screen and (max-width: 1280px) {
  .icon_player {
    bottom: 29.5%;
    right: 4%;
  }

}

@media screen and (max-width: 1100px) {
  .parent-layout {
    display: none;
  }
}

//new
.bg {
  width: 100%;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
  transition: all 0.3s ease-in-out;
}

.mobile-more-play {
  display: none;
}

.mute-unmute-mobile {
  display: none;
}

.autoplay-mastii {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.mt-d {
  padding-top: 60px;
}

.masti-mute {
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 99;
}

.mute-unmute {
  position: absolute;
  right: 6%;
  top: 69%;
  z-index: 99;
}

.slick-card-carousel_continue ::ng-deep {

  padding: 0 20px;
  border-radius: 5px;

  .slick-list>.slick-track {
    margin-left: 0;
  }

  .slick-arrow {
    z-index: 9;
  }

  .slick-disabled {
    display: none !important;
  }

  .slick-prev {
    left: -6.2%;

    width: 6%;
    height: 101%;
    background: linear-gradient(90deg,
        var(--theme-color) 73%,
        rgba(16, 14, 34, 0) 100%);
    transition: all ease-out 1s;
  }

  .slick-next {
    right: -6%;
    height: 101%;
    width: 7%;
    background: linear-gradient(270deg,
        var(--theme-color) 70%,
        rgba(16, 14, 34, 0) 100%);
    transition: all ease-out 1s;
  }

  .slick-next::before {
    content: url(../../../assets/arrows_icons/Button_next.svg) !important;
    display: block;
    width: 1px;
    margin-left: 20px;
  }

  .slick-prev::before {
    font-size: 46px;
    background-color: transparent;
    content: url(../../../assets/arrows_icons/Button_prev.svg) !important;
  }

  .slick-slide {
    margin: 0 8px;
  }

  .slick-list {
    margin: 0 -10px;
  }

  .mySlides {
    transition: none;
    border-radius: 3px;
  }
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--theme-secondary-color);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--theme-secondary-color);
}


.grad-demo {
  background: linear-gradient(268deg,
      rgba(10, 1, 2, 0.09) 29.81%,
      rgba(10, 1, 2, 0.63) 63.99%,
      rgba(10, 1, 2, 0.72) 98.36%);
  // z-index: -1;
  z-index: 10;
}

.grad-demo2 {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(268deg,
      rgba(10, 1, 2, 0.09) 29.81%,
      rgb(10 1 2 / 68%) 63.99%,
      rgb(10 1 2 / 91%) 98.36%);
  z-index: 99;
}

.grad-bttm {
  background: linear-gradient(to top,
      var(--theme-color) 0.72%,
      rgba(16, 14, 34, 0) 10.77%);
  z-index: 99;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 100%;
}

.grad_parent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.vive-section {
  background: radial-gradient(40% 50% at 20% 60%,
      /* Wider and offset oval */
      #491765b2 0%,
      transparent 100%);
}

@media screen and (max-width: 1540px) {
  .parent-layout {
    padding-top: 10em;
  }

  .vue_content .time ul {
    gap: 5px;
  }

  .detail8 .time ul {
    gap: 3px !important;
  }

  .vue_content .detail5 {
    font-size: 13px;
    height: 106px;
  }

  .head-5 .heading {
    font-size: 14px !important;
  }

  .icongif5 {
    width: 33px;
  }

  .one5 img {
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  .head-5 .drama {
    margin-top: -4px;
  }

  .vue_content .detail6 {
    font-size: 12px;
    height: 65px;
  }

  .icongif6 {
    width: 28px;
  }

  .one6 img {
    height: 35px;
    width: 35px;
    cursor: pointer;
  }

  .ply-7 {
    position: relative;
    top: -5px;
    margin-top: -18px;
  }

  .vue_content .detail7 {
    font-size: 11px;
    height: 48px;
  }

  .icongif7 {
    width: 24px;
  }

  .one7 img {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .head-7 .heading {
    position: relative;
    top: 10px;
    font-size: 11px !important;
  }

  .head-7 .drama {
    margin-top: 0px;
  }

  .head-7 .time ul li button {
    margin-top: 0px;
    font-size: 7px;
  }

  .vue_content .detail8 {
    font-size: 10px;
    height: 26px;
    line-height: 15px;
  }

  .head-8 .time ul li button {
    font-size: 6px;
  }

  .head-8 .type {
    font-size: 8px;
  }

  .head-8 .time {
    font-size: 7px;
  }

  .vue_content .heading {
    font-size: 10px;
  }

  .head-8 .drama {
    margin-top: 0px;
  }

  .ply-8 {
    position: relative;
    top: -4px;
    margin-top: -20px;
    gap: 5px;
  }

  .icongif8 {
    width: 20px;
  }

  .one8 img {
    width: 28px;
    height: 28px;
  }

  .head-8 .heading {
    font-size: 11px;
    margin-top: 10px;
  }

  .para-gif5 {
    font-size: 9px !important;
  }

  .gif-flex5 {
    font-size: 8px !important;
    gap: 5px !important;
  }

  .gif-flex {
    font-size: 9px !important;
    gap: 5px;
  }

  .gif-rat5 {
    position: absolute;
    right: 10px;
    height: 19px;
    margin-top: -4px;
  }

  .gif-rat {
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: 1250px) {
  .slick-card-carousel ::ng-deep {
    .slick-prev {
      left: -6% !important;
    }
  }

  .head-8 .time ul {
    margin-top: -5px;
  }

  .vue_content .detail5 {
    font-size: 12px;
    height: 40px;
  }

  .head-5 .heading {
    font-size: 11px;
  }

  .icongif5 {
    width: 23px;
  }

  .one5 img {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .head-5 .drama {
    margin-top: 3px;
  }

  .vue_content .time ul li button {
    font-size: 6px;
    padding: 0px 6px;
    height: 17px;
    line-height: 17px;
  }

  .vue_content .time ul {
    gap: 5px;
  }

  .vue_content .detail6 {
    font-size: 12px;
    height: 55px;
  }

  .icongif6 {
    width: 23px;
  }

  .one6 img {
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .vue_content .detail7 {
    font-size: 10px;
    height: 45px;
    line-height: 15px;
    margin-top: 7px;
  }

  .ply-7 {
    position: relative;
    top: -5px;
    margin-top: -18px;
    gap: 5px;
  }

  .head-7 .drama {
    margin-top: -5px;
  }

  .head-8 .time ul {
    gap: 1px !important;
    margin-top: -4px;
  }

  .head-7 .time ul {
    gap: 2px;
  }

  .head-8 .time ul li button {
    gap: 1px !important;
    margin-top: -4px;
    position: relative;
    left: 5px;
  }
}

.dur_time {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-family: var(--theme-font-style);
  font-weight: 500;
  line-height: 13px;
}

.duration {
  display: flex;
  align-items: center;
  gap: 50px;
}

.rate {
  font-size: 16px;
  font-family: var(--theme-font-style);
  font-weight: 500;
  line-height: 13px;
  margin-left: 10px;
}

.live-icon img {
  width: 50px;
}

.live-icon {
  position: absolute;
  left: 21px;
  top: 6px;
}

::ng-deep .mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}

.free-icon-epi {
  position: absolute;
  right: 7px !important;
  top: 4px !important;
}

.free-icon-epi img {
  width: 40px !important;
}

.live-icon-epi img {
  width: 40px !important;
}

.live-icon-epi {
  position: absolute;
  left: 7px !important;
  top: 4px !important;
}

.carousel-items {
  position: relative;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.hover-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.carousel-items:hover .hover-card {
  opacity: 1;
  transform: scale(1.2);
  z-index: 9999999999999;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-content .badge {
  background-color: #e50914;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 4px;
  display: inline-block;
}

.card-content .description {
  font-size: 0.9rem;
  margin: 15px 0;
}

.actions {
  display: flex;
  gap: 10px;
}

.details-btn,
.add-btn {
  background-color: #e50914;
  border: none;
  color: #fff;
  padding: 8px 12px;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
}

.details-btn:hover,
.add-btn:hover {
  background-color: #f40612;
}

.binge-container {
  width: 100%;
  padding: 10px 0px;
}

.binge-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.binge-item {
  background: transparent;
  border: 0.8px solid #444146;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out;
  z-index: 9;
  min-height: 100px;
}

.Binge_verticall {
  padding: 0px 20px;
}

.binge-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  cursor: pointer;
}

.binge-desc {
  // text-align: center;
  margin-top: 10px;
  padding: 0px 10px 10px 20px;
}

.bing-a {
  font-size: 14px;
  font-weight: 900;
  color: var(--theme-secondary-color);
}

.binge-desc p {
  font-size: 14px;
  color: #a09aa3;
}

.see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
}

.see-more-container {
  text-align: center;
  margin-top: 10px;
}

.see-more-btn {
  padding: 10px 20px;
  background: #ff3b3b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dur_time {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-family: var(--theme-font-style);
  font-weight: 500;
  line-height: 13px;
}

.rate {
  font-size: 16px;
  font-family: var(--theme-font-style);
  font-weight: 500;
  line-height: 13px;
  margin-left: 10px;
}

.fa-star {
  color: yellow;
}

.live-icon img {
  width: 50px;
}

.live-icon {
  position: absolute;
  left: 21px;
  top: 6px;
}

.binge-img-container {
  display: flex;
  justify-content: center;
}

.see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
}

.see-more-container {
  text-align: center;
  margin-top: 10px;
}

.see-more-btn {
  padding: 10px 20px;
  background: #ff3b3b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.textss img {
  width: 20%;
  min-height: 50px;
}

.textss{
  min-height: 50px;
}

.tooltip-mob {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  top: -30px;
  /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  white-space: nowrap;
  opacity: 0.9;
}

.play-btn-aol-mob,
.wat-btnn-1-mob {
  position: relative;
}

.bin-title p {
  font-size: 18px;
  font-weight: 400;
  font-family: var(--theme-font-style) !important;
  margin-bottom: 0;
  color: var(--white);
}

.super-carousel-container {
  overflow-x: auto;
  white-space: nowrap;
}

.super-carousel-slide {
  flex: 0 0 auto;
  transition: width .4s cubic-bezier(.2, .45, 0, 1);
}

.super-carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 50px;
}

.super-carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.super-carousel-container::-webkit-scrollbar {
  display: none;
}

#hoverCarousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-right: calc(100% / 5);
}



.super-carousel-slide {
  flex: 0 0 auto;
  width: calc(100% / 4);
  height: 480px;
  transition: width .4s cubic-bezier(.2, .45, 0, 1);
  box-sizing: border-box;
  padding: 0 8px;
  transition: width .4s cubic-bezier(.2, .45, 0, 1), margin 0.3s ease;
  position: relative;
  z-index: 1;
}

.accordion_li {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.bg-image {
  height: 80%;
  overflow: hidden;
}

.bg-image img {
  width: 100%;
  height: 100%;
}

.slide-text {
  height: 20%;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

.arrow {
  background-color: rgba(75, 71, 71, 0.164);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px 15px;
  z-index: 10;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.arrow.prev {
  left: 0;
  width: 3.5%;
  height: 50%;
  background: rgba(0, 0, 0, 0.42);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.arrow.next {
  right: 0px;
  width: 3.5%;
  height: 50%;
  background: rgba(0, 0, 0, 0.42);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 12px;
}


.bg-media {
  position: relative;
  width: 100%;
  height: 100%;
}

.hover-video,
.fallback-image {
  width: 100%;
  height: 100%;
  border-radius: 12px 12px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .3s cubic-bezier(.2, .45, 0, 1);
}

.hover-video {
  opacity: 0;
  z-index: 2;
}

.fallback-image {
  z-index: 1;
}

.super-carousel-slide:hover .hover-video {
  opacity: 1;
}

.super-carousel-slide:hover .fallback-image {
  opacity: 0;
}

.hover-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  color: white;
  z-index: 3;
  opacity: 0;
  transition: opacity .3s cubic-bezier(.2, .45, 0, 1), transform 0.4s ease;
  transform: translateY(20px);
  pointer-events: none;
}

.super-carousel-slide:hover .hover-overlay {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.hover-buttons {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.play-btn,
.add-btn {
  background: white;
  color: black;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.mute-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 4;
  background: rgba(224, 221, 221, 0.4);
  color: white;
  border: none;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.hover-title {
  font-size: 24px;
  font-weight: 800;
  font-family: var(--theme-font-style) !important;
  margin-bottom: 0;
  line-height: 3.2rem;
  color: var(--white);
}

.wat-btnn-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  background: #0b9fc7;
  border-radius: 50%;
  border: none;
  font-family: var(--theme-font-style);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0em;
  color: #ffffff;
  transition: all 1s ease;
}

.disp-showcase {
  display: block;
}

.card-slide .slide-hover {
  transition: box-shadow 0.1s ease, outline 0.1s ease;
  outline: none;
}

.card-slide .slide-hover:hover {
  outline: 2px solid #fff;
  outline-offset: -2px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  z-index: 2;
}

@media screen and (max-width: 1500px) {
  .super-carousel-slide {
    height: 380px !important;
  }
}

.subscontainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  width: 100%;
  background: var(--theme-color);
  margin: auto;
  text-align: center;
  padding: 20px;
}

.subscontain h4 {
  margin: 0;
}

.subscontain p {
  font-size: 17px;
  color: var(--bs-white);
  font-weight: 700;
  position: relative;
  top: 8px;
}

.subscontain img {
  width: 39px;
  height: 37px;
  margin: 5px;
}

.subsflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscontain {
  margin: auto;
}

.closeicon {
  font-size: 30px;
}

.crossImg img {
  cursor: pointer;
}

.mySlides{
  min-height: 100px;
}


.video-container {
  position: relative;
  width: 100%;
  height: auto;
}

.video-container .video-poster-lcp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.video-container video {
  position: relative;
  z-index: 2;
}