<div class="container content-inner-wrapper text-center py-5">
    <!-- <div class="py-5"> -->
    <div >
        <div class="container">
            <img src="../../assets/gif/404-error.png" alt="404 Not Found" class="image" />
            <h1 class="title">SORRY, THE PAGE NOT FOUND</h1>
            <p class="subtitle">We were unable to find that page.</p>
            <p class="subtitle">Please go to the Vive home page by clicking below.</p>
            <a href="/" class="home-btn">Take me home</a>
        </div>
    </div>
</div>