<div class="alt-login-content">
    <div class="alt-login-img" *ngIf="baseJson.forgot_password.logo.is_allow == 1">
        <img src="{{baseJson.forgot_password.logo.web}}" alt="" class="vive-img">
    </div>
   <h3 class="text-white forgot-passowrd " *ngIf="baseJson.forgot_password.heading.is_allow == 1"> {{baseJson.forgot_password.heading.text}}</h3>
    <hr>
    <button (click)="onNoClick()" class="close-btn">
        <img src="assets/arrows_icons/VectorClose.svg" style="cursor: pointer;"
        alt="Close">
    </button>

    <div class="">
        <p class="verificationCOde"  *ngIf="baseJson.forgot_password.description.is_allow == 1">{{baseJson.forgot_password.description.placeholder}}</p>
    </div>
    <form  [formGroup]="emailLoginForm" #emailLoginFormDir="ngForm" (ngSubmit)="onSubmitEmailLogin()">
        <div class="formField">
            <mat-label style="color: #DEDEDE!important;"> Email Address</mat-label>
            <div>  
                <!-- <span  class="showBtnEmail" ><img
                    src="https://static.cloud.altbalaji.com/img/edit-icon.png"></span> -->
                <input placeholder="Enter Email"  formControlName="email" autocomplete="off" class="forgot_password_masti" required readonly>
                <mat-error
                    *ngIf="emailLoginForm.controls['email'].hasError('pattern') && (emailLoginForm.controls['email'].dirty || emailLoginForm.controls['email'].touched)">
                    Please
                    enter valid email address
                </mat-error>
            </div>
            <mat-error *ngIf="!otpExceeded"
            style="text-align:center !important; font-size: 14px !important; ">
            {{errorMsg.messageOtpResendLimitReached}}
          </mat-error>
      
            </div>
        <div class="send-veri" style="width:100%; display: flex; justify-content:center;">
            <button  type="submit" *ngIf="baseJson.forgot_password.submit_btn.is_allow == 1" [disabled]="clicked ">{{baseJson.forgot_password.submit_btn.text}}</button>
        </div>
    </form>




  

    
</div>
