.showBtn {
    width: 6%;
    position: absolute;
    right: 0;
}



.showBtnEmail {
    position: absolute;
    right: 0;
}


mat-icon {
    color: #B4B4B4;
    cursor: pointer;
    font-size:35px !important;
  }
.mat-label {
    text-align: left !important;
    font-size: 14px !important;
}

.forgot-passowrd {
    text-align: center;
    // margin-top: -40px;
    font-size:20px!important;
    font-family: var(--theme-font-style) !important;
    display: flex !important;
    justify-content: center;
    color: #FFFFFF !important;
    text-transform: capitalize;
    opacity: 1;
    letter-spacing: 0px !important;
    margin-top: 20px;
}

.verificationCOde {
    text-align: center;
    font-size:16px !important;
    font-family: var(--theme-font-style) !important;
    // margin: 60px;
    letter-spacing: 0px;
      color: #DEDEDE!important;
     opacity: 1;
}

.formField .mat-form-field-appearance-outline .mat-form-field-outline {
    border: none;
    background-color: #5f5d5d !important;
    border-radius: 0.275rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1.5px solid rgb(232 223 223 / 10%);

}
.alt-btn-p{
    background: #FB0000 0% 0% no-repeat padding-box !important;
    border-radius: 4px !important;
    opacity: 1  !important;
    padding: 4px !important;
    font-size: 16px !important;
    color: #FFFFFF !important;
    text-transform: capitalize !important;
}
// .formField{
//     margin: 0 auto !important;
//     justify-content: center;
//     width:80%;
// }

.send-veri button {
    width: 100%;
    background: var(--theme-secondary-color);
    padding: 8px;
    border: none;
    color: var(--white);
    border-radius: 4px;
    opacity: 1;
    font-size: 16px;
    outline: none;
}
button:disabled{
    cursor: not-allowed;
  pointer-events: all !important;
}

// .formField input {
//     padding: 18px 0px;
// }


 .formField ::ng-deep .mat-form-field-infix {
    padding: 0 !important;
    border-top: solid transparent !important;
}

.forgot_password_masti{
    width: 100%;
    padding: 12px;
    border: none;
    outline: none;
    text-decoration: none;
    margin-bottom: 25px;
    border: 1px solid var(--theme-imput-border-color);
    border-radius: 4px;
    color: var(--theme-input-text-color);
    background: none;
    font-family: var(--theme-font-style);
    font-size: 16px;
    line-height: 20px;
    position: relative;
    font-weight: 500;
    margin-top: 20px;
}