.my-100 {
    margin-top: 120px;
    margin-bottom: 100px;
}

.tab-content {
    .tab-pane {
        h3 {
            font-family: var(--theme-font-style) !important;
            font-size: 18px;
        }
    }
}

#v-pills-tab {
    border: 1px solid #2d2d2d;

}

.nav-pills {
    background: #1E1E1E;

    .nav-link.active {
        background: #2d2d2d;
    }

    .nav-link {
        border-radius: 0;
        color: #fff;
        font-family: var(--theme-font-style);
        font-size: 14px;
        margin-top: -1px;
        padding: 0;
        text-transform: uppercase;
        text-decoration: none;



        span {
            border-bottom: 1px solid #2d2d2d;
            display: block;
            margin-left: 1rem;
            margin-right: 1rem;
            padding: 0.8rem 0;
        }


    }
}

.accordion {
    .card {

        background-color: #2d2d2d !important;
        color: white;

        .card-header {
            h4 {
                font-family: var(--theme-font-style) !important;
                cursor: pointer;

                //     &:before{
                //         content: "";
                //         position: absolute;
                //         right: 0;
                //         top: 50%;
                //         border-top: 1px solid #fff;
                //         width: 8px;
                //     }
                //     &:after{
                //         content: "";
                //         position: absolute;
                //         right: 0;
                //         top: 50%;
                //         border-top: 1px solid #fff;
                //         width: 8px;
                //         transform: rotate(90deg);

                //     }
                // }
                // h4.color-1{
                //     font-family: var(--theme-font-style) !important;
                //     cursor:pointer;
                //     &:after{
                //         content: "";
                //         position: absolute;
                //         right: 0;
                //         top: 50%;
                //         border-top: 1px solid #fff;
                //         width: 8px;
                //         transform: rotate(180deg);

                //     }
                // }
            }

        }

    }

}


.query-section {
    .btn-send-query {
        font-family: var(--theme-font-style);
        // font-size: 13px;
        padding: 7px 27px;
        /* height: 45px; */
        width: auto;
        text-transform: uppercase;
        background: var(--theme-secondary-color);
        border: 0;
        box-shadow: none;
        font-size: 16px;
        font-weight: 900;


    }

    .btn-send-query:hover {

        background-color: var(--theme-secondary-color) !important;
        border: none !important;


    }
}

.help-support {
    p {
        // font-weight: 600;
        font-family: var(--theme-font-style);
        font-size: 14px;

        a {
            color: #fff;
            text-decoration: underline;
            font-weight: 800;
        }
    }
}

.card .card-header h6:before,
.card .card-header h6:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    border-top: 1px solid #fff;
    width: 8px;
}

.card .card-header h6:after {
    transform: rotate(90deg);

}

.card .card-header h6[aria-expanded=true]:after {
    transform: rotate(0);
}

.card .card-header h6 {
    cursor: pointer;
    position: relative;
}


.back-head{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 20px;
}