<div fxLayout="column" fxLayoutGap="10px">
    <span class="close-btn">
        <img src="assets/arrows_icons/VectorClose.svg"  (click)="close()" alt="">
    </span>
    <div class="parental-control-content">
      
        <span class="vrfy-logo" *ngIf="basesignin.profileEmailVerify.logo.is_allow == 1">
            <img src="{{basesignin.profileEmailVerify.logo.web}}" alt="vive" class="vive-img">
        </span>
   
        <div class="heading" *ngIf="basesignin.profileEmailVerify.heading.is_allow == 1">{{basesignin.profileEmailVerify.heading.text}}</div>
     
     
      
        <div style="color: white;" class="email_head" *ngIf="basesignin.profileEmailVerify.description.is_allow == 1">{{basesignin.profileEmailVerify.description.text}}</div>
        <ng-otp-input class="enter-otp mb-2" type="tel" inputmode="numeric" #ngOtpInput [formCtrl]="otpInput" (onInputChange)="onOtpChange($event)" [config]="config" (keyup.enter)="onVerifyOtp()" >
        </ng-otp-input>
        <mat-error *ngIf="otpInputInvalid" class="mt-2" style="text-align:center !important;">OTP is required
        </mat-error>
      
        <div class="incorrectMsg mt-2" *ngIf="!verifyOtp">{{errorMsg.messageIncorrectOtp}}</div>

       
        <div *ngIf="timerHide" style="color: #FFFFFF;font-size: 12px;font-weight:600" class="mt-3">OTP will expire in {{display}} minutes</div>
        <div class="otpResend"> <button  *ngIf="basesignin.profileEmailVerify.resent_text.is_allow == 1" style="border: none; 
        background-color: transparent;"> {{basesignin.profileEmailVerify.resent_text.text}}</button><button [disabled]="clicked || timerHide"
    [ngClass]="{'disabled-resend': clicked || timerHide}" *ngIf="basesignin.profileEmailVerify.resent_btn.is_allow == 1" (click)="resendOtp()"
                    class="insideBtn">{{basesignin.profileEmailVerify.resent_btn.text}}</button></div>
                    <mat-error *ngIf="otpExceeded"
                    style="text-align:center !important; margin-top: 20px !important; font-size: 14px !important; color: #FF8484 !important;">
                    {{errorMsg.messageOtpResendLimitReached}}
                  </mat-error>
        <div class="alt-m-4">
            <button type="submit" class="alt-btn-p alt-w-100" [disabled]="isSubmitting" (click)="onVerifyOtp()" *ngIf="basesignin.profileEmailVerify.submit_btn.is_allow == 1">{{basesignin.profileEmailVerify.submit_btn.text}}</button>
        </div>
    </div>
</div>
