<div class="alt-login-content">
    <div class="alt-login-img" *ngIf="baseJson.create_password.logo.is_allow == 1">
        <img src="{{baseJson.create_password.logo.web}}" alt="" class="vive-img">
    </div>
    <h3 class="createPassword " *ngIf="baseJson.create_password.heading.is_allow == 1">{{baseJson.create_password.heading.text}}</h3>
   <hr>
    <button (click)="onNoClick()" class="close-btn">
        <img src="assets/arrows_icons/VectorClose.svg" alt="">
    </button>
    <p *ngIf="baseJson.create_password.description.is_allow == 1" class="password">{{baseJson.create_password.description.text}}</p>
    <form [formGroup]="emailLoginForm" #emailLoginFormDir="ngForm" (ngSubmit)="onSubmitEmailLogin()">
        <div class="alt-m-2 formField">
            <mat-label style="color:white !important ;" *ngIf="baseJson.create_password.new_password.is_allow == 1">{{baseJson.create_password.new_password.text}}</mat-label>
            <div appearance="outline" *ngIf="baseJson.create_password.new_password.is_allow == 1" class="create-box">
                <span (click)="showPassword(input)" class="showBtn"><img [hidden]="showpassword"
                        src="{{baseJson.create_password.new_password.invisible_web}}">
                    <img [hidden]="!showpassword" src="{{baseJson.create_password.new_password.visible_tv}}">
                </span>
                <input #input placeholder="{{baseJson.create_password.confirm_password.placeholder}}" type="password" formControlName="password"
                autocomplete ="new-password" id="myText" required minlength="8" maxlength="16" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$" (input)="changeValue($event)">
                <mat-error *ngIf="!invalidCode">
                    <div
                    *ngIf="emailLoginForm.controls['password'].invalid && (emailLoginForm.controls['password'].touched || emailLoginForm.controls['password'].dirty)">

                    <div *ngIf="emailLoginForm.controls['password'].hasError('required'); else minLengthElem;">
                    {{errorMsg.messageSignUpPasswordError}}
                    </div>
                    <ng-template #minLengthElem>
                        <div *ngIf="emailLoginForm.controls['password']?.errors?.['minlength']; else patternElem;">
                            {{errorMsg.passwordLengthError}} 
                        </div>
                    </ng-template>
                    <ng-template #patternElem>
                        <div *ngIf="emailLoginForm.controls['password'].hasError('pattern')">
                            {{errorMsg.passwordPolicyError}} 
                        </div>
                    </ng-template>
                </div>
                    <!-- <span *ngIf="submitted==false">Please Enter Password</span>
                    <div *ngIf="emailLoginForm.controls['password'].errors" >
                        
                        <span *ngIf="emailLoginForm.controls['password'].errors['minlength']">
                            Password must be min 8 character and should atleast contain one uppercase, one lower case, one special character and one number
                        </span>
                       
                    </div> -->
                </mat-error>
            </div>
            <mat-label style="color:white !important ;" *ngIf="baseJson.create_password.confirm_password.is_allow == 1">{{baseJson.create_password.confirm_password.text}}</mat-label>
            <div appearance="outline" *ngIf="baseJson.create_password.confirm_password.is_allow == 1"  class="create-box">
                <span (click)="showPassword1(input1)" class="showBtn"><img [hidden]="showpassword1" width="20px"
                        height="20px" src="{{baseJson.create_password.confirm_password.invisible_web}}">
                    <img width="20px" height="20px" [hidden]="!showpassword1" src="{{baseJson.create_password.confirm_password.visible_tv}}">
                </span>
                <input #input1 placeholder="Confirm Password" type="password" id="myText" (input)="changeValue($event)"
                    formControlName="confirm_password" autocomplete ="new-password" required minlength="8" maxlength="16" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$">
                   

                <mat-error *ngIf="!invalidCode">
                    <!-- <span *ngIf="submitted==false">Please Enter Confirm
                        Password</span>
                    <div *ngIf="emailLoginForm.controls['confirm_password'].errors" >
                        
                        <span *ngIf="emailLoginForm.controls['confirm_password'].errors['minlength']">
                            Password must be min 8 character and should atleast contain one uppercase, one lower case, one special character and one number
                        </span>
                    </div> -->
                    <div
                    *ngIf="emailLoginForm.controls['confirm_password'].invalid && (emailLoginForm.controls['confirm_password'].touched || emailLoginForm.controls['confirm_password'].dirty)">

                    <div *ngIf="emailLoginForm.controls['confirm_password'].hasError('required'); else minLengthElem;">
                        {{errorMsg.messageSignUpConfirmPasswordError}}
                    </div>
                    <ng-template #minLengthElem>
                        <div *ngIf="emailLoginForm.controls['confirm_password']?.errors?.['minlength']; else patternElem;">
                            {{errorMsg.passwordLengthError}} 
                        </div>
                    </ng-template>
                    <ng-template #patternElem>
                        <div *ngIf="emailLoginForm.controls['confirm_password'].hasError('pattern')">
                            {{errorMsg.passwordPolicyError}} 
                        </div>
                    </ng-template>
                </div>
                   
                </mat-error>
              
            </div>
            <div class="invalid-error mb-3" *ngIf="invalidCode">{{errorMsg.passwordMatchError}}</div>
            <app-password-strength [passwordToCheck]="emailLoginForm.value.confirm_password" *ngIf="!invalidCode"
            (passwordStrength)="onPasswordStrengthChanged($event)"></app-password-strength>
        </div>
        <div class="alt-m-2 mb-3" style="width:100%; display: flex; justify-content:center;">
            <button type="submit" class="alt-btn-p" *ngIf="baseJson.create_password.submit_btn.is_allow == 1">{{baseJson.create_password.submit_btn.text}}</button>
        </div>
    </form>







</div>