
.adulttHeading{color: white;font-size: 18px;font-family: var(--theme-font-style) !important;}

.btn-one {
    color: #fff !important; 
    background-color: none !important;
    /* border-color: #858585 !important; */
    border: 1px solid #858585;
    padding: 13px;
    border-radius: 4px;
    color: white;
    background-color: transparent;
    font-size: 19px;
    width: 100%;
}
.deleteSuccess{
    color:#DEDEDE;font-size:18px;
    // margin-top: 17px;
}
