
<div class="container blackbg">
    <div class="checklogo">
        <img src="assets/svgs/icon-processing.png" alt="">
    </div>
    <div class="text">
        <h5 >PAYMENT IN PROCESS</h5>
        <p>We are Working on your payment request! </p>
        <p>Do Come back here to check the status or hit the 'Check Payment Status' button <br> below.</p>
        <p>In the meanwhile, browse through our free catalogue and be entertained forever.</p>
        <p class="waittym">Expected wait time : <span>12:12</span> mins</p>
    </div>
    <div class="paymentbox">
        <div class="paymenttxt">
            <p>Current Payment Status</p>
            <p>Processing</p>
        </div>
        <div class="plantext">
            <p>Plan</p>
            <p>ALTT Two Month IN</p>
        </div>
        <div class="plantext">
            <p>Account</p>
            <p></p>
        </div>
        <div class="plantext">
            <p>Order Number</p>
            <p>256789987</p>
        </div>
        <div class="plantext">
            <p>Total Paid</p>
            <p>100</p>
        </div>

    </div>
    <div class="paymentbtn">
        <button>CHECK PAYMENT STATUS</button>
    </div>
</div>