::ng-deep .mat-button {
  border-radius: 0 !important;
  padding: 0 3px !important;
  min-width: 34px !important;
}

.hambergermenu {
  color: #ffff;
  flex: auto;
  // margin-top: 7px;
}

.activeLink {
  border-bottom: 2px solid red;
}

.logo:hover {
  border: none !important;
}

.logo {
  position: relative;
  right: 25px;
}

.is-active {
  color: red !important;
}

.menuItem {
  color: #bfbfbf;
  border-radius: 8px;
  font-family: var(--navFont) !important;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  padding: 10px 8px;
  text-transform: uppercase !important;
}

.menuItem:hover {
  opacity: unset !important;
}

.isDisabled {
  cursor: not-allowed;
}

.subsc {
  background: transparent linear-gradient(100deg, #ff9600 0%, #ff9600 8%, #ff0032 50%, #ff009b 100%) 0% 0% no-repeat padding-box;
  color: #fff;
  padding: 5px 15px;
  border: none;
  border-radius: 2px;
  position: relative;
  top: -30px;
}

.pro-file img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  position: relative;
  left: -10px;
}

.pro-file {
  display: none;
}

.pro-file {
  font-size: 14px;
  padding: 10px 0px;
}

.bckbtn {
  width: 30px !important;
}

.menuline {
  background: #5b5b5b;
  width: 92%;
  position: relative;
  left: -12px;
}

.menuItem:focus {
  font-family: "PoppinsBold" !important;
}

// .menuItem:hover {
//     border-bottom: 2px solid red;
// }
// a:hover {
//     // border-bottom: 2px solid red;
//     // font-size: 14px !important;
//     // color: rgb(189, 179, 179);
//     // transition-property: font-size !important;
//     // transition-duration: .5s !important;
//     // transition-delay: .1s !important;
//     font-family: 'PoppinsMedium' !important;
//     font-size: 16px;
// }

// .navicon:hover img {
//     width: 30px;
//     transition: width 0.4s linear;
// }

// .menuItem img:hover .usericon {
//     width: 30px;
//     transition: width 0.4s linear;
// }

.toolbar-item {
  // min-width: 150px;
  text-align: center;
  margin: 5px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mobile-navbar {
  ul {
    list-style-type: none;

    .toolbar-item {
      text-align: start;

      .menuItem {
        text-align: start;
      }
    }
  }
}

a:hover {
  text-decoration: none;
  // color: #FFFFFF;
}

.t-white:hover {
  color: #ffffff;
}

::ng-deep .mat-menu-panel {
  // background-color: #434343 !important;
  // background: linear-gradient(0deg, #100E22, #100E22), linear-gradient(0deg, #514C81, #514C81) !important;
  background: #292929;
  padding: 5px 10px;
  top: 3% !important;
  position: absolute;
  border: 1px solid #6b6b6b;
  border-radius: 5px !important;
  // left: -25%;
  right: 50%;
  min-width: 170px !important;
}

::ng-deep .mat-menu-item:hover {
  color: #ffffff;
}

::ng-deep .mat-menu-item:focus {
  color: #ffffff;
}

button.mat-menu-item {
  color: #aaaaaa;
  box-shadow: unset !important;
}

button.mat-menu-item:active {
  color: #ffffff;
  box-shadow: unset !important;

}

.mat-menu-item {
  // line-height: 42px;
  // text-align: center;
  // height: unset;
  // font-size: 14px;
  // font-weight: 400;
  height: unset;
  line-height: unset;
  padding: 7px;
  text-align: left;
  box-shadow: 0px 4px 4px 0px #0000001a;
}

.act-aol {
  font-family: var(--theme-font-style) !important;
  font-size: 16px;
  margin: 0;
  font-weight: 500;
}

.act-aol:hover {
  color: #ffffff;
  font-size: 16px;
  // font-weight: bold;
}

.act-aol:focus {
  color: #ffffff;
  font-size: 16px;
  // font-weight: bold;
}

.logo-aol {
  width: 80%;
}

.fix-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  border-radius: 30px 30px 0 0;
  display: flex;
  justify-content: center;
  /* center items horizontally */
  align-items: center;
  /* center items vertically */
  background: linear-gradient(45deg, #2E2E2F, #1c1c1d);
  padding: 12px;
  text-align: center;
  will-change: transform;
  transform: translateZ(0);
}

.feels-back {
  cursor: pointer;
}

// .fix-footer ul li {
//   opacity: 0.6;

// }

.fix-footer ul li.active {
  opacity: 1;
}

.fix-footer ul {
  display: flex;
  margin: 0;
  // padding: 5px 0;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.fix-footer li {
  text-align: center;
  flex-grow: 1;
}

.fix-footer a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fix-footer ul li.active a span {
  color: var(--theme-secondary-color);
}

.fix-footer img {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
}

.fix-footer .coin-ii {
  width: 28px;
  height: 28px;
}

@media (min-width: 992px) {
  .fix-footer {
    display: none;
  }
}

// .bottom-navbar{
//     display: none;
// }

@media only screen and (max-width: 992px) {
  // .bottom-navbar {
  //   position: fixed;
  //   bottom: 0;
  //   width: 100%;
  //   background: #1c1c1e;
  //   display: flex;
  //   justify-content: space-around;
  //   padding: 10px 0;
  //   border-top: 1px solid #333;
  //   z-index: 1000;
  // }

  // .bottom-navbar a {
  //   color: #fff;
  //   text-align: center;
  //   text-decoration: none;
  //   font-size: 12px;
  //   flex-grow: 1;
  // }

  // .bottom-navbar i {
  //   font-size: 18px;
  //   display: block;
  // }

  .mat-menu-item {
    line-height: 42px;
    height: unset;
  }

  .mobile-row {
    // margin-bottom: 8px;
    margin: 6px 0px;
  }

  .menuItem {
    line-height: 42px;
    font-size: 15px;
  }

  .mat-toolbar ::ng-deep {
    padding: 30px !important;
    background: transparent !important;
  }

  .hum-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #kjl {
    display: flex;
    // justify-content: space-around;
    gap: 12px;
    align-items: center;
    // margin-left: 12px;
  }

  .hum-ser {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    align-items: center;
  }

  // .subscribe {
  //   background: transparent;
  //   color: var(--theme-secondary-color);
  //   border: 2px solid var(--theme-secondary-color);
  //   padding: 4px 10px;
  //   font-size: 14px;
  //   border-radius: 25px;
  //   font-family: var(--theme-font-style) !important;
  //   font-weight: 500;
  // }

  .pro-file {
    display: flex;
    align-items: center;
    padding-right: 18px;
  }

  .word-brk {
    word-break: break-word;
  }

  .subscribe {
    // background: transparent;
    // color: var(--theme-secondary-color);
    // border: 1px solid var(--theme-secondary-color);
    // padding: 6px 20px;
    // font-size: 14px;
    // border-radius: 50px;
    // font-family: var(--theme-font-style) !important;
    // font-weight: 500;
    border: none;
    border-radius: 999px;
    padding: 3px 10px;
    // padding: 10px 28px;
    background-color: #000;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .gradient-border {
    display: flex !important;
    align-items: center;
    padding: 2px !important;
    /* Border thickness */
    border-radius: 999px;
    background: linear-gradient(270deg, #EEAA18 6.13%, #FFEFCD 47.33%, #EEAA18 92.91%);
  }


  .keep-content {
    color: #dcdbdb;
  }

  // .alttt-logo {
  //     position: relative;
  //     left: 22px;
  //     padding: 6px;

  // }

  // .t-white-search {
  //     position: relative;
  //     left: -4px;
  //     color: white !important;
  // }
}

.menu-right {
  // margin-right: 10px;
  position: relative;
  // left: 30px;
}

.itemOne {
  font-weight: bold;
  color: white;
}

// modal css

.parental-control-content {
  position: relative;
  text-align: center;


}

.close-btn {
  position: absolute;
  top: -10px;
  right: -12px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

.btn-one {
  color: #fff !important;
  border: 1px solid #6b6b6b;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: var(--theme-font-style);
  transition: all 0.3s ease;
}

.btn-two {
  color: #fff !important;
  border: 1px solid #6b6b6b;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: var(--theme-font-style);
  transition: all 0.3s ease;
}


.btn-one:hover {
  background-color: var(--theme-secondary-color);
  color: var(--bs-white) !important;
}

.btn-two:hover {
  background-color: var(--theme-secondary-color);
  color: var(--bs-white) !important;
}

.btn-one:active {
  background-color: var(--theme-secondary-color);
  color: var(--bs-white) !important;
}

.btn-two:active {
  background-color: var(--theme-secondary-color);
  color: var(--bs-white) !important;

}



.adultContent {
  color: #aaaaaa;
  font-size: 18px;
  // font-family: "openDialogGothamMedium" !important;
  // font-weight: 600;
}

.navicon img {
  width: 28px;
}

.gradient-border {
  display: inline-block;
  padding: 2px;
  /* Border thickness */
  border-radius: 999px;
  background: linear-gradient(270deg, #EEAA18 6.13%, #FFEFCD 47.33%, #EEAA18 92.91%);
}

.subscr {
  border: none;
  border-radius: 999px;
  padding: 10px 28px;
  background-color: black;
  /* Black inner background */
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.gradient-text {
  background: linear-gradient(270deg, #EEAA18 6.13%, #FFEFCD 47.33%, #EEAA18 92.91%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}








.search-aol {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.aol-mic {
  position: absolute;
  top: 9px;
  right: 20px;
}

.cat-img {
  width: 38px;
  // height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.mat-button-wrapper {
  font-size: 16px;
  color: #11ccf5;
  font-weight: 700;
}

.row-aol {
  display: flex;
  gap: 12px;
  width: 100%;
}

.yes-btn {
  width: 100%;
}

// .yes-btn:hover {
//   background-color: var(--theme-secondary-color);
// }

.no-btn {
  width: 100%;
}

// .no-btn:hover {
//   background-color: var(--theme-secondary-color);
// }

.nav-alt {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
}

.desktop-aol {
  align-items: center !important;
  padding: 20px 4em;
  // gap: 14px;
}

.subsc-ser {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  // margin-right: 20px;
}

.desktop_aol_nav {
  display: flex;
  justify-content: flex-start;
  // text-align: center;
  // align-items: center;
}

// .menu-aol {
//     overflow-x: auto;
// }

.menu-aol::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

.menu-aol::-webkit-scrollbar-track {
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.menu-aol::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: transparent !important;
}

.sign-btn {
  background: var(--theme-secondary-color);
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  padding: 8px 20px;
  color: #ffffff;
  border-radius: 8px;
  font-family: var(--theme-font-style);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  margin: 15px 0px;
}

.main-test {
  // height: 440px;
  overflow-y: scroll;
  height: 85vh;
}

.menuitem-2 {
  padding: 0;
  margin: 0;
}

.menuItem_temp {
  color: #dcdcdc;
  // padding-left: 9px;
  font-family: var(--navFont) !important;
  // font-size: 15px;
  font-weight: 500;
  // line-height: 104px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  line-height: 42px;
  font-size: 15px;
}

@media screen and (max-width: 576px) {
  .mat-menu-item {
    line-height: 42px;
    height: unset;
  }
}

.hum-ser1 {
  min-height: 20px;
}

.hum-main{
  min-height: 20px;
}


.mobile-row {
  min-height: 20px;
}