<div class="alt-login-content">

    <form *ngIf="userExist==1" [formGroup]="emailLoginForm" #emailLoginFormDir="ngForm"
        (ngSubmit)="onSubmitEmailLogin()">
        <p class="title">Sign In</p>
        <div class="formField">
            <div class="logo-corection">
                <span class="showBtnEmail" (click)="back2()"><img [src]="baseSignin?.email_login?.web"
                        alt="vive" ></span>
                <input class="input-font-alt" placeholder="Enter Email" formControlName="email" autocomplete="off"
                    required [readonly]="inputEnable">
                <mat-error
                    *ngIf="emailLoginForm.controls['email'].hasError('pattern') && (emailLoginForm.controls['email'].dirty || emailLoginForm.controls['email'].touched)">
                    {{errorMsg.messageEmailValidationError}}
                </mat-error>

            </div>
            <div class="logo-corection">
                <span (click)="showPassword(input)" class="showBtn"><img [hidden]="showpass"
                        [src]="baseSignin.email_login?.invisible_web">
                    <img [hidden]="!showpass" [src]="baseSignin?.email_login?.visible_web" alt="">
                </span>
                <input class="myText" class="input-font-alt" autofocus #input
                    [placeholder]="baseSignin?.email_login?.password_placeholder" type="password"
                    (enter)="myFunc($event)" formControlName="password" autocomplete="off" required minlength="6"
                    (click)="clearVal()">

     

            </div>

            <mat-error *ngIf="incorrectPass">
                <div style="color:#FF8787; text-align: left;font-size: 12px;font-weight:600;margin-bottom:7px">
                    <span>
                        {{errorMsg.invalidCredentials}}
                    </span>

                </div>
            </mat-error>
            <mat-error *ngIf="showError ">
                <div style="text-align: left;font-size: 12px;font-weight:600;margin-bottom:7px">
                    <span>
                        {{errorMsg.invalidCredentials}}
                    </span>

                </div>
            </mat-error>


        </div>
        <div class="">
            <button type="submit" class="theme-btn"  [disabled]="isSubmitting">Submit</button>
        </div>
        <div class="mt-2 text-center" *ngIf="baseSignin?.forgot_password==1">
            <a href="javascript:void(0)" (click)="gotoForgotPassword()" class="forgotPass">Forgot
                your
                password?</a>
        </div>
    </form>




    <form *ngIf="userExist==0 && !genderAndCountVisible" [formGroup]="emailSignupForm" #emailSignupFormDir="ngForm"
        (ngSubmit)="submitfirstemailStep()">
        <p class="title">Sign Up</p>
        <div class=" formField">
            <div *ngIf="baseSignup.email?.is_allow==1" class="logo-corection">
                <span class="showBtnEmail" (click)="back()"><img [src]="baseSignup?.email.web" alt="vive"></span>
                <input class="input-font-alt" [placeholder]="baseSignup.email?.placeholder" formControlName="email" (input)="msgErrorADD=false"
                    autocomplete="off" required [readonly]="inputEnable"
                    oninput="this.value = this.value.toLowerCase()">
                <mat-error
                    *ngIf="emailSignupForm.controls['email'].hasError('pattern') && (emailSignupForm.controls['email'].dirty || emailSignupForm.controls['email'].touched)">
                    {{errorMsg.messageEmailMobileEmptyError}}
                </mat-error>
            </div>
            <div *ngIf="baseSignup.password.is_allow==1" style="position: relative;" class="logo-correction">
                <span (click)="showPassword(input)" class="showBtn"><img [hidden]="showpass"
                        [src]="baseSignup.password.invisible_web" alt="vive">
                    <img [hidden]="!showpass" [src]="baseSignup.password.visible_web" alt="vive">
                </span>
                <input autofocus class="input-font-alt" #input placeholder="Password" type="password" (input)="msgErrorADD=false"
                    (input)="getInputKey($event)" formControlName="password" autocomplete="off" required minlength="8"
                    maxlength="16" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#@$!%*?&])[A-Za-z\d@$#!%*?&]{8,}$">

                <div class="error-login-3"
                    *ngIf="emailSignupForm.controls['password'].invalid && (emailSignupForm.controls['password'].touched || emailSignupForm.controls['password'].dirty)">
                    <div *ngIf="emailSignupForm.controls['password']?.errors?.['minlength']; else patternElem;">
                        {{errorMsg.passwordLengthError}}
                    </div>
                    <ng-template #patternElem>
                        <div *ngIf="emailSignupForm.controls['password'].hasError('pattern')">
                            {{errorMsg.passwordPolicyError}}
                        </div>
                    </ng-template>
                </div>
            </div>
            <div style="margin-top: 7px; position: relative;" *ngIf="baseSignup.password?.is_allow==1"
                class="logo-correction">
                <span (click)="showPassword1(input)" class="showBtn"><img [hidden]="showpass1"
                        [src]="baseSignup.password.invisible_web" alt="vive">
                    <img [hidden]="!showpass1" [src]="baseSignup.password.visible_web" alt="vive">
                </span>
                <input autofocus (keydown)="onKeydown($event)" class="input-font-alt" #input (input)="msgErrorADD=false"
                    placeholder="Confirm Password" type="password" formControlName="confirm_password" autocomplete="off"
                    required minlength="8" maxlength="16"
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[#@$!%*?&])[A-Za-z\d@$#!%*?&]{8,}$">
                <div class="error-login-3"
                    *ngIf="emailSignupForm.controls['confirm_password'].invalid && (emailSignupForm.controls['confirm_password'].touched || emailSignupForm.controls['confirm_password'].dirty)">
                    <div *ngIf="emailSignupForm.controls['confirm_password']?.errors?.['minlength']; else patternElem;">
                        {{errorMsg.passwordLengthError}}
                    </div>
                    <ng-template #patternElem>
                        <div *ngIf="emailSignupForm.controls['confirm_password'].hasError('pattern')">
                            {{errorMsg.passwordPolicyError}}
                        </div>
                    </ng-template>
             
                </div>

                <div class="error-login-3" *ngIf="alertMsg">
                    {{errorMsg?.passwordMatchError}}</div>
                
                <div class="error-login-4" *ngIf="msgErrorADD">
                    {{msgError}}</div>
            </div>
            <!-- <div class="alt-w-100" style="margin-top: 7px;" appearance="outline" *ngIf="baseSignup.dob?.is_allow==1">
                <input formControlName="dob" class="input-font-alt" id="myText" [min]=""
                    [placeholder]="baseSignup?.dob?.placeholder" [max]="maxDob" [matDatepicker]="picker"
                    (click)="picker.open()" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker" panelClass="datepicker"> <img matDatepickerToggleIcon
                        [src]="baseSignup.dob.web" class="date-picker-icon" alt="" srcset=""></mat-datepicker-toggle>
                <mat-datepicker #picker style="width: 100%;"></mat-datepicker>
                <mat-error>
                    <span
                        *ngIf="emailSignupForm.controls['dob'].invalid || (emailSignupForm.controls['dob'].dirty || emailSignupForm.controls['dob'].touched)">
                        {{errorMsg.messageSignupDOBError}}
                    </span>
                </mat-error>
            </div> -->
            <!-- <div *ngIf="userExist==0" class="formField overage">

               
            </div> -->
         
            <!-- <div class=" formField" *ngIf="baseSignup.term_condition?.is_allow==1" style="margin-top: 10px;">
                <mat-checkbox class="altcheck-font" type="checkbox" [(ngModel)]="myModel" formControlName="terms">
                    By signing in, you agree to the <u><a href="/termsofUse" style="color:white;">Terms
                            of
                            use</a> </u> and the <u><a href="/privacy-policy" style="color:white;">Privacy
                            Policy</a></u></mat-checkbox>
                <mat-error>
                    <span *ngIf="emailSignupForm.controls['terms'].invalid   && emailSignupFormDir.submitted"
                        style="font-size: 12px;margin-left: 45px;">
                        {{errorMsg.messageSignupAcceptTermsError}}
                    </span>
                </mat-error>
            </div> -->

        </div>
        <div class="mt-3">
            <button type="submit" class="theme-btn"  [disabled]="isSubmitting">Continue</button>
        </div>
    </form>

    <form [formGroup]="genderForm" #genderFormDir="ngForm" *ngIf="genderAndCountVisible" style="color: white;">
        <p class="title">Sign Up</p>
        <div class="alt-w-100 formField">
            <p>Gender*</p>
            <div class="selector">
                <div class="selecotr-item">
                    <input type="radio" id="radio1" name="gender" class="selector-item_radio" value="Male"
                        formControlName="gender">
                    <label for="radio1" class="selector-item_label">Male</label>
                </div>
                <div class="selecotr-item">
                    <input type="radio" id="radio2" name="gender" class="selector-item_radio" value="Female"
                        formControlName="gender">
                    <label for="radio2" class="selector-item_label">Female</label>
                </div>
                <div class="selecotr-item">
                    <input type="radio" id="radio3" name="gender" class="selector-item_radio" value="Neutral"
                        formControlName="gender">
                    <label for="radio3" class="selector-item_label">Neutral</label>
                </div>
            </div>
            <mat-error class="matErr"
                *ngIf="genderForm.controls['gender'].invalid && genderFormDir.submitted">{{errorMsg.genderError}}</mat-error>
        </div>
        <br>
        <div class="formField drop">
            <p>Location*</p>

            <!-- <mat-form-field appearance="legacy"> -->
            <ng-select *ngIf="showCountry" [(ngModel)]="stateDefault" class="example-panel-blue"
                formControlName="location" panelClass="my-select-panel-class" [clearable]="false" [searchable]="true">
              
                <ng-option *ngFor="let a of states" [value]="a.name">{{a.name}}</ng-option>
            </ng-select>
            <ng-select [(ngModel)]="stateDefault" class="example-panel-blue" *ngIf="!showCountry"
                formControlName="location" panelClass="my-select-panel-class" [clearable]="false" [searchable]="true">
                <ng-option *ngFor="let a of countryAll" [value]="a.name">{{a.name}}</ng-option>
            </ng-select>

            <mat-error class="matErr"
                *ngIf="genderForm.controls['location'].invalid && genderFormDir.submitted">Location Required</mat-error>
        </div>
        <br>
        <div class="formField" *ngIf="baseSignup.sms_email_updates.is_allow==1">
            <mat-checkbox class="altcheck-font" type="checkbox" [(ngModel)]="myModel" formControlName="isCheckedUpdate">
                <span [innerHTML]=baseSignup.sms_email_updates.text></span> </mat-checkbox>
        </div>

        <div class="">
            <button type="submit" class="theme-btn" style="width: 100%;" (click)="onSubmitEmailLogin()">
                Submit</button>
        </div>
    </form>
</div>